{% comment %}
Required variable: node - bio entity
Optional variable: header - the header level ('h2','h3', etc.) defaults to h4
Example data:
"entityPublished": true,
"fieldNameFirst": "Sheila",
    "fieldLastName": "Tunney",
    "fieldSuffix": null,
        "fieldDescription": "Public Affairs Specialist",
        "fieldOffice": {
"entity": {
    "entityLabel": "Pittsburgh Health Care System",
    "entityType": "node"
}
},
"fieldIntroText": null,
"fieldPhotoAllowHiresDownload": false,
    "fieldMedia": {
"entity": {
    "image": {
    "alt": "Robert L Wilkie",
        "title": "",
        "derivative": {
        "url":
        "http://dev.va.agile6.com/sites/default/files/styles/1_1_square_medium_thumbnail/public/2019-03/Robert_L_Wilkie_8x10.jpg?h=59bf76d8&itok=Q-x_2QaJ",
        "width": 240,
            "height": 240
    }
    }
}
},
"fieldBody": null,
"changed": 1552424311,
    "entityUrl": {
"path": "/pittsburgh-health-care/sheila-tunney"
}
},
{% endcomment %}
{% if header == empty %}
{% assign header = "h4" %}
{% endif %}
<div class="vads-u-display--flex vads-u-margin-bottom--4">
    {% if node.fieldMedia != empty %}
        <div class="vads-u-margin-right--2 vads-u-flex--auto">
            {% assign image = node.fieldMedia.entity.image %}
            <img class="bio-image" src="{{ image.derivative.url }}" alt="{{ image.alt }}"
                title="{{ image.title }}">
        </div>
    {% endif %}
    <div class="">

        <a class="
            vads-u-font-family--serif
            vads-u-font-weight--bold
            vads-u-display--block
            vads-u-margin-bottom--1
            vads-u-font-size--lg"
           href="{{ node.entityUrl.path }}">{{ node.fieldNameFirst }}
                {{ node.fieldLastName }} {{ node.fieldSuffix }}</a>

        {% if node.fieldDescription %}
        <p class="
        vads-u-font-weight--normal
        vads-u-margin--0
        vads-u-margin-bottom--0
        vads-u-font-family--serif
        vads-u-font-size--base
        medium-screen:vads-u-font-size--lg">
            {{ node.fieldDescription }}</p>
        {% endif %}
        {% if node.fieldOffice.entity.entityLabel %}
        <p class="
        vads-u-font-weight--normal
        vads-u-margin--0
        vads-u-margin-bottom--1
        vads-u-font-family--serif
        vads-u-font-size--base
        medium-screen:vads-u-font-size--lg">
            {{ node.fieldOffice.entity.entityLabel }}
        </p>
        {% endif %}
        {% if node.fieldPhoneNumber %}
        <p class="
        vads-u-margin--0
        vads-u-margin-bottom--1
        vads-u-font-size--base">
            <b>Phone:</b> <a
                href="tel:{{ node.fieldPhoneNumber }}">{{ node.fieldPhoneNumber }}</a>
        </p>
        {% endif %}
        {% if node.fieldEmailAddress %}
            <p class="
        vads-u-margin--0
        vads-u-margin-bottom--0
        vads-u-font-size--base
        medium-screen:vads-u-font-size--lg">
               <b>Email:</b> <a target="blank"
                          href="{{ node.fieldEmailAddress }}">{{ node.fieldEmailAddress }}</a>
            </p>
        {% endif %}
    </div>
</div>
