{% comment %}
Required variable: node - the news story entity
Optional variable: header - the header level ('h2','h3', etc.) defaults to h4
Example data:
  {
    "title": "Another Test Event",
    "fieldDescription": "This gives the user an overview of the event in teaser
    views",
    "fieldLocationHumanreadable": "Here",
      "fieldFacilityLocation": {
      "entity": {
        "title": "Westmoreland County VA Clinic",
          "entityUrl": {
          "path": "/pittsburgh-health-care/locations/westmoreland-county"
        }
      }
    },
    "entityUrl": {
      "path": "/node/98"
    }
  }
{% endcomment %}
{% if node != empty %}
  {% include "src/site/includes/date.drupal.liquid" %}

  {% if header == empty %}
    {% assign header = "h2" %}
  {% endif %}
  {% assign isEventsPage = entityUrl.path | isPage: "events" %}

  <div data-template="teasers/event_featured">
    <{{header}} class="vads-u-margin-top--0 vad-u-margin-bottom-1 vads-u-font-size--md medium-screen:vads-u-font-size--lg">
      <a href="{{ node.entityUrl.path }}">{{ node.title }}</a>
    </{{header}}>
    <p class="vads-u-margin-bottom--1p5 vads-u-margin-top--0">
      {{ node.fieldDescription | truncatewords: 60, "..." }}</p>
    <div class="usa-grid usa-grid-full vads-u-display--flex vads-u-flex-direction--row vads-u-margin-bottom--1">
      <div class="vads-u-margin-right--2 when-where-width">
        <strong>When</strong>
      </div>
      <div class="usa-width-five-sixths">
        {% if date_type == "start_date_only" %}
          <span>{{ start_date_no_time }}</span><br>
          <span>{{ start_time }}</span>
        {% else %}
          {% if date_type == "same_day" %}
            <span>{{ start_date_no_time }}</span><br>
            <span>{{ start_time }}
              –
              {{ end_time }}</span>
          {% else %}
            <span>{{ start_date_full }}
              –</span><br>
            <span>{{ end_date_full }}</span>
          {% endif %}
        {% endif %}
        <span>{{ timezone }}</span>
      </div>
    </div>
    {% if node.fieldFacilityLocation != empty %}
      <div class="usa-grid usa-grid-full vads-u-display--flex vads-u-flex-direction--row">
        <div class="vads-u-margin-right--2 when-where-width">
          <strong>Where</strong>
        </div>
        <div class="usa-width-five-sixths">
          <p class="vads-u-margin-top--0 vads-u-margin-bottom--1">
            <a onclick="recordEvent({ event: 'nav-featured-content-link-click' });" href="{{ node.fieldFacilityLocation.entity.entityUrl.path }}">{{ node.fieldFacilityLocation.entity.title }}</a>
          </p>
          {% if node.fieldLocationHumanreadable != empty %}
            <span>{{ node.fieldLocationHumanreadable }}</span>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>

{% endif %}
