{% if header == empty %}
    {% assign header = "h4" %}
{% endif %}
{% assign isStoriesPage = entityUrl.path | isPage: "stories" %}

<div id="featured-content" class="usa-grid usa-grid-full vads-u-margin-bottom--3 medium-screen:vads-u-margin-bottom--4 vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row vads-u-border-left--7px vads-u-border-color--primary-alt-lightest">
    <div class="usa-width-one-half medium-screen:vads-u-padding-left--2">
        <span class="vads-u-font-weight--bold vads-u-display--block">In the spotlight at {{ fieldOffice.entity.title | remove: "health care" }}</span>
        <h2 class="vads-u-margin-y--1"><a onClick="recordEvent({ event: 'nav-featured-content-link-click' });" href="{{ node.entityUrl.path }}">{{ node.title }}</a></h2>
        <p class="vads-u-margin-y--0">{{ node.fieldIntroText | truncatewords: 60, "..." }}</p>
    </div>
    <div class="usa-width-one-half {% if isStoriesPage %}stories-list{% endif %} vads-u-order--first medium-screen:vads-u-order--initial vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0">
        {% assign image = node.fieldMedia.entity.image %}
        <img class="news-img" src="{{ image.derivative.url }}" alt="{{ image.alt }}" title="{{ image.title }}" width="{{ image.derivative.width }}" height="{{ image.derivative.height }}">
    </div>
</div>
