{% comment %}
Required variable: node - the news story entity
Optional variable: header - the header level ('h2','h3', etc.) defaults to h4
Example data:
  {
    "title": "Test Story 2",
    "fieldIntroText": null,
    "fieldMedia": {
      "entity": {
        "image": {
          "alt": "U Drive",
          "title": "",
          "derivative": {
            "url": "http://vagovcms.lndo.site/sites/default/files/styles/3_2_medium_thumbnail/public/2019-02/university-drive-consolidation-building2.jpg?h=afdcd683&itok=qK823DFr",
            "width": 480,
            "height": 320
          }
        }
      }
    },
    "entityUrl": {
      "path": "/test-story-2"
    }
  },
{% endcomment %}
{% if header == empty %}
    {% assign header = "h2" %}
{% endif %}
{% assign isStoriesPage = entityUrl.path | isPage: "stories" %}

<div data-template="teasers/new_story_page" class="usa-grid usa-grid-full vads-u-margin-bottom--3 medium-screen:vads-u-margin-bottom--4 vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row">
    <div class="usa-width-two-thirds">
        <{{ header }} class="{% if isStoriesPage %}vads-u-font-size--md medium-screen:vads-u-font-size--lg{% endif %} medium-screen:vads-u-margin-bottom--0p5"><a href="{{ node.entityUrl.path }}">{{ node.title }}</a></{{ header }}>
        <p class="vads-u-margin-y--0">{{ node.fieldIntroText | truncatewords: 60, "..." }}</p>
    </div>
    <div class="usa-width-one-third {% if isStoriesPage %}stories-list{% endif %} vads-u-order--first medium-screen:vads-u-order--initial vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0">
        {% assign image = node.fieldMedia.entity.image %}
        <img class="news-img" src="{{ image.derivative.url }}" alt="{{ image.alt }}" title="{{ image.title }}" width="{{ image.derivative.width }}" height="{{ image.derivative.height }}">
    </div>
</div>

