{% comment %}
  Example data:
  {
    "entity": {
        "entityType": "paragraph",
        "entityBundle": "collapsible_panel",
        "fieldCollapsiblePanelMulti": false,
        "fieldCollapsiblePanelExpand": false,
        "fieldCollapsiblePanelBordered": false,
        "fieldVaParagraphs": [
            {
                "entity": {
                    "entityId": "391",
                    "entityBundle": "collapsible_panel_item"
                    "fieldTitle": "Will using mental health services at VA put my career at risk?",
                    "fieldWysiwyg": {
                        "processed": "..."
                    }
                }
            }
        }
    }
  }
{% endcomment %}
{% assign accordionClass = 'usa-accordion' %}
{% if entity.fieldCollapsiblePanelBordered %}
    {% assign accordionClass = 'usa-accordion-bordered' %}
{% endif %}
<div data-template="paragraphs/collapsible_panel" data-entity-id="{{ entity.entityId }}" class="{{ accordionClass }}" data-multiselectable="{{ entity.fieldCollapsiblePanelMulti }}">
    <ul class="usa-unstyled-list">
        {% for accordionItem in entity.fieldVaParagraphs %}
            {% assign item = accordionItem.entity %}
            <li id="{{ item.entityId }}"
              data-template="paragraphs/collapsible_panel__panel"
              data-entity-id="{{ item.entityId }}"
              data-analytics-faq-text="{{ item.fieldTitle | escape }}">
                <button
                        class="usa-accordion-button usa-button-unstyled"
                        aria-expanded="{{ entity.fieldCollapsiblePanelExpand }}"
                        aria-controls="{{ item.entityBundle }}-{{ item.entityId }}"
                        >
                    {{ item.fieldTitle }}
                </button>
                <div id="{{ item.entityBundle }}-{{ item.entityId }}" class="usa-accordion-content" aria-hidden="{{ !entity.fieldCollapsiblePanelExpand }}">
                    {% include "src/site/paragraphs/wysiwyg.drupal.liquid" entity = item %}

                    {% for paragraph in item.fieldVaParagraphs %}
                        {%  assign bundleComponent = "src/site/paragraphs/" | append: paragraph.entity.entityBundle | append: ".drupal.liquid" %}
                        {% include {{ bundleComponent }} with entity = paragraph.entity %}
                    {%  endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
