{% comment %}
    Example data:
    {
        "entity": {
            "entityType": "paragraph",
            "entityBundle": "downloadable_file",
            "fieldTitle": "Download map",
            "fieldMarkup": null,
            "fieldMedia": {
                "entity": {
                    "entityBundle": "image",
                    "image": {
                        "url": "https://dev.cms.va.gov/sites/default/files/2019-08/UD-sitemap.gif",
                        "alt": "university drive site map",
                        "title": ""
                    }
                }
            }
        }
    }
{% endcomment %}

<div data-template="paragraphs/downloadable_file" data-entity-id="{{ entity.entityId }}" class="vads-u-margin-y--1p5">
    {% if entity.fieldMedia.entity.entityBundle == 'image' %}

        {% assign url = entity.fieldMedia.entity.image.url %}

        <a aria-label="Download {{entity.fieldMedia.entity.image.alt}}" class="file-download-with-icon" target="_blank"
           href="{{url}}" download="{{url}}">
            <i class="fas fa-download vads-u-margin--0p5"></i>{{entity.fieldTitle}} ({{url | fileExt | upcase}})
        </a>
    {% endif %}

    {% if entity.fieldMedia.entity.entityBundle == 'document' %}
        {% assign url = entity.fieldMedia.entity.fieldDocument.entity.url %}
        <a aria-label="Download {{entity.fieldMedia.entity.fieldDocument.filename}}" class="file-download-with-icon" target="_blank"
           href="{{url}}" download="{{url}}">
            <i class="fas fa-download vads-u-margin--0p5"></i>{{entity.fieldTitle}} ({{url | fileExt | upcase}})
        </a>
    {% endif %}

    {% if entity.fieldMedia.entity.entityBundle == 'video' %}
        <a aria-label="View {{entity.fieldTitle}}" class="video-link" target="_blank"
           href="{{entity.fieldMedia.entity.fieldMediaVideoEmbedField}}">
            <i class="fas fa-play-circle vads-u-margin--0p5"></i>Go to video
        </a>
    {% endif %}
</div>

