{% comment %}
    Example data:
    {
        fieldLink: [{
            options: null,
            title: "Content Page",
            uri: "http://dev.va.agile6.com/admin/content",
            url: {
                path: "http://dev.va.agile6.com/admin/content"
            }
        }],
        fieldLinkSummary: "This is some plain text to describe the link."
    }
{% endcomment %}
{% if parentFieldName === "field_spokes" %}
    {% assign header = "span" %}
    {% assign headerClass = "hub-page-link-list__header" %}
{% else %}
    {% if boldTitle %}
        {% assign header = "b" %}
        {% assign headerClass = "" %}
    {% else %}
        {% assign header = "h4" %}
        {% assign headerClass = "va-nav-linkslist-title" %}
    {% endif %}
{% endif %}

{% assign link = linkTeaser.fieldLink | featureSingleValueFieldLink %}

<li
  data-template="paragraphs/linkTeaser"
  data-entity-id="{{ linkTeaser.entityId }}"
  data-links-list-header="{{ link.title | escape }}"
  data-links-list-section-header="{{ section_header | escape }}"
  {% if parentFieldName === 'field_spokes' %}class="hub-page-link-list__item"{% endif %}>
    <a href="{{link.url.path}}"
      {% if linkTeaser.options["target"] %}target="{{ linkTeaser.options["target"] }}"{% endif %}
      >
        {% if link.title != empty %}
            <{{ header }} class="{{ headerClass }}">{{ link.title }}</{{ header }}>
            {% if parentFieldName === "field_spokes" %}
                <img class="all-link-arrow" src="/img/arrow-right-blue.svg" alt="right-arrow">
            {% endif %}
        {% endif %}

        {% if linkTeaser.fieldLinkSummary != empty %}
            <p class="va-nav-linkslist-description">{{ linkTeaser.fieldLinkSummary }}</p>
        {% endif %}
    </a>
</li>
