<li data-template="paragraphs/link_teaser_featured_content" data-entity-id="{{ linkTeaser.entityId }}"
  class="featured-content-list-item vads-u-background-color--primary-alt-lightest  vads-u-padding-y--1p5 vads-u-padding-x--1p5 vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0 vads-u-display--flex vads-u-flex-direction--column">
    {% assign link = linkTeaser.fieldLink | featureSingleValueFieldLink %}
    {% if link.title != empty %}
        <b>{{ link.title }}</b>
        <hr class="featured-content-hr vads-u-margin-y--1p5 vads-u-border-color--primary">
    {% endif %}
    {% if linkTeaser.fieldLinkSummary != empty %}
        <p class="va-nav-linkslist-description">{{ linkTeaser.fieldLinkSummary }}</p>
    {% endif %}
    <a onClick="recordEvent({ event: 'nav-featured-content-link-click', 'featured-content-header': '{{link.title}}' });" class="vads-u-display--block vads-u-padding-top--1 vads-u-text-decoration--none" href="{{link.url.path}}" {% if linkTeaser.options["target"] %}target="{{ linkTeaser.options["target"] }}"{% endif %} onClick="recordEvent({ event: 'nav-linkslist' });">
        <span>Read more<i class="fa fa-chevron-right vads-facility-hub-cta-arrow"></i></span>
    </a>
</li>
