{% comment %}
    Example data:
    {
        "fieldTitle":"Related links",
        "fieldVaParagraphs":[...]
    }
{% endcomment %}
{% assign header = "h2" %}
{% if parentFieldName === "field_spokes" %}
    {% assign headerClass = "hub-page-link-list__title" %}
    {% assign ulClass = "hub-page-link-list" %}
{% else %}
    {% assign headerClass = "va-nav-linkslist-heading" %}
    {% assign ulClass = "va-nav-linkslist-list" %}
{% endif %}
<section data-template="paragraphs/list_of_link_teasers" data-entity-id="{{ entity.entityId }}" class="{{ entity.parentFieldName }}">
    {% if entity.fieldTitle != empty %}
      <{{ header }}
          id="{{ entity.fieldTitle | hashReference }}"
          class="{{ headerClass }}">
          {{ entity.fieldTitle }}
      </{{ header }}>
    {% endif %}
    <ul class="{{ ulClass }}">
        {% assign section_header = entity.fieldTitle %}
        {% for linkTeaser in entity.fieldVaParagraphs %}
            {% include "src/site/paragraphs/linkTeaser.drupal.liquid" linkTeaser = linkTeaser.entity parentFieldName = parentFieldName boldTitle = boldTitle section_header = section_header %}
        {% endfor %}
    </ul>
</section>
