{% for singleAbout in abouts %}
{% assign about = singleAbout.entity %}
<div class="service-local-input">
    <h3>Location and contact information</h3>
    <div class="va-address-block">
        {% assign address = about.fieldAddress %}
        {% assign facilityName = about.fieldTitle %}
        {% if about.fieldUseFacilityAddress == 'yes' %}

        {% assign address = fieldAddress %}
        {% assign facilityName = title %}
        {% endif %}

        {% include "src/site/components/address-field.drupal.liquid" with fieldAddress = address fieldTitle = facilityName %}

        {% if about.fieldLink.url.path %}
        <p class="vads-u-margin-bottom--0">
            <a rel="noopener noreferrer" href="{{ about.fieldLink.url.path }}">
                {% if about.fieldLink.title %}
                {{ about.fieldLink.title }}
                {% else %}
                {{ about.fieldLink.url.path }}
                {% endif %}
            </a>
        </p>
        {% endif %}

        {% include "src/site/paragraphs/phone_numbers.drupal.liquid" with numbers = about.fieldPhoneNumbersParagraph %}

        <p class="vads-u-margin-bottom--0">
        <h4>Clinical Hours </h4>
        <ul class="va-c-facility-hours-list">
            {% for hours in about.fieldLocationHours%}
            <li><strong>{{ hours.day | numToDay }}: </strong>
                {{hours.starthours | militaryTimeConvertor }} -
                {{hours.endhours | militaryTimeConvertor }}
                {% if hours.comment %}{{ hours.comment }}{% endif %}</li>
            {% endfor %}
        </ul>
        </p>

    </div>
    <h3>Appointments</h3>

    {% if about.fieldFacilityDescription %}
    <p>
        {{ about.fieldFacilityDescription }}
    </p>
    {% endif %}

    {% if about.fieldReferralRequired %}<p class="vads-u-margin-bottom--0">
        <strong>Referral required?
        </strong>{% if about.fieldReferralRequired == 'yes' %}Yes{% else %}No{% endif %}
    </p>{% endif %}

    {% if about.fieldWalkInsAccepted %}<p class="vads-u-margin-bottom--0">
        <strong>Walk-ins accepted?
        </strong>{% if about.fieldWalkInsAccepted == 'yes' %}Yes{% else %}No{% endif %}
    </p>{% endif %}

    {% if about.fieldOnlineSchedulingAvailabl %}<p>
        <strong>Online Scheduling Available?
        </strong>{% if about.fieldOnlineSchedulingAvailabl == 'yes' %}Yes{% else %}No{% endif %}
    </p>{% endif %}

    {% include "src/site/paragraphs/phone_numbers.drupal.liquid" with numbers = about.fieldAppointmentPhoneNumbers %}

    <h3>Operating status</h3>
    {% include "src/site/includes/operatingStatusFlags.drupal.liquid" with fieldOperatingStatusFacility = about.fieldOperatingStatus %}
    {% if about.fieldOperatingStatusInfo %}
    {{ about.fieldOperatingStatusInfo }}
    {% endif %}
</div>
{% endfor %}
