{% comment %}
  Example data:
  "entity": {
    "parentFieldName": "field_questions",
    "fieldQuestion": "How do I schedule my first appointment?",
    "fieldAnswer": [
      {
        "entity": {
          "entityBundle": "wysiwyg",
          "fieldWysiwyg": {
            "processed": "<p><strong>If you’re already using VA medical services,</strong>..."
          }
        }
      }
    ]
  }
{% endcomment %}
{% if entity.parentFieldName == "field_questions" %}
  {% if sectionHeader == blank %}
    {% assign header = "h2" %}
  {% else %}
    {% assign header = "h3" %}
  {% endif %}
{% else %}
  {% assign header = "h3" %}
{% endif %}
<div
  itemscope=""
  itemtype="http://schema.org/Question"
  data-template="paragraphs/q_a"
  data-entity-id="{{ entity.entityId }}"
  data-analytics-faq-section="{{ sectionHeader | escape }}"
  data-analytics-faq-text="{{ entity.fieldQuestion | escape }}">
  <{{ header }} itemprop="name">
    {{ entity.fieldQuestion }}
  </{{ header }}>
  <div data-entity-id="{{ entity.entityId }}" itemprop="acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer">
    <div itemprop="text">

    {% for answer in entity.fieldAnswer %}
      {% assign bundleComponent = "src/site/paragraphs/" | append: answer.entity.entityBundle | append: ".drupal.liquid" %}
      {% include {{ bundleComponent }} with entity = answer.entity %}
    {% endfor %}
    </div>
  </div>
</div>
