{% comment %}
  Example data:
  "entity": {
    "parentFieldName": "field_questions",
    "fieldQuestion": "How do I schedule my first appointment?",
    "fieldAnswer": [
      {
        "entity": {
          "entityBundle": "wysiwyg",
          "fieldWysiwyg": {
            "processed": "<p><strong>If you’re already using VA medical services,</strong>..."
          }
        }
      }
    ]
  }
{% endcomment %}

<div data-template="paragraphs/q_a.collapsible_panel" class="usa-accordion" itemscope="" itemtype="http://schema.org/Question">
  <ul class="usa-unstyled-list">
      {% for accordionItem in questions %}
        {% assign item = accordionItem.entity %}
        <li>
          <button
                  class="usa-accordion-button usa-button-unstyled"
                  aria-controls="{{ item.entityBundle }}-{{ item.entityId }}"
                  itemprop="name"
          >
              {{ item.fieldQuestion }}
          </button>
          <div id="{{ item.entityBundle }}-{{ item.entityId }}" class="usa-accordion-content" itemprop="acceptedAnswer" itemscope="" itemtype="http://schema.org/Answer">
            <div itemprop="text">

              {% for answer in item.fieldAnswer %}

                {%  assign bundleComponent = "src/site/paragraphs/" | append: answer.entity.entityBundle | append: ".drupal.liquid" %}
                  {% include {{ bundleComponent }} with entity = answer.entity %}
              {%  endfor %}
            </div>
          </div>
        </li>
      {% endfor %}
  </ul>
</div>
