{% comment %}
  Example data:
    "entity": {
      "fieldTimeout": 20,
      "fieldCtaWidget": false,
      "fieldWidgetType": "health-care-app-status",
      "fieldDefaultLink": {
        "uri": "/health-care/apply/application/",
        "title": "Apply for Health Care Benefits"
      },
      "fieldButtonFormat": true,
      "fieldErrorMessage": {
        "value": "<strong>We’re sorry. Something went wrong when we tried to load your saved application.</strong><br/>Please try refreshing your browser in a few minutes."
      },
      "fieldLoadingMessage": "Checking your application status."
      "reactRoot": 'react-widget-1'
    }

    OR

    "entity": {
      "fieldTimeout": 0,
      "fieldCtaWidget": true,
      "fieldWidgetType": "rx",
      "fieldDefaultLink": null,
      "fieldButtonFormat": false,
      "fieldErrorMessage": null,
      "fieldLoadingMessage": null
    }

{% endcomment %}

  {% if entity.fieldCtaWidget %}
      <div data-template="paragraphs/react_widget" data-entity-id="{{ entity.entityId }}" class="cta-widget" data-widget-type="cta" data-app-id="{{ entity.fieldWidgetType }}"></div>
  {% else %}
    <div
      data-template="paragraphs/react_widget"
      data-entity-id="{{ entity.entityId }}"
      data-widget-type={{ entity.fieldWidgetType }}
      {% if entityUrl.path contains "/eligibility" %}data-widget-show-learn-more{% endif %}
      data-widget-timeout="{{entity.fieldTimeout}}">
      <div class="loading-indicator-container">
        <div class="loading-indicator" role="progressbar" aria-valuetext="{{ entity.fieldLoadingMessage }}"></div>
        <span
          class="loading-indicator-message loading-indicator-message--normal">
          {{ entity.fieldLoadingMessage }}
        </span>
        <span
          class="loading-indicator-message loading-indicator-message--slow vads-u-display--none"
          aria-hidden="true">
          Sorry, this is taking longer than expected.
        </span>
      </div>
      <span class="static-widget-content vads-u-display--none" aria-hidden="true">
        {% if entity.fieldDefaultLink != empty %}
          {% if entity.fieldButtonFormat %}
            {% assign classes = 'class="usa-button-primary va-button-primary"' %}
          {% else %}
            {% assign classes = '' %}
          {% endif %}
          <a href="{{ entity.fieldDefaultLink.url.path }}" {{ classes }}>{{ entity.fieldDefaultLink.title }}</a>
        {% endif %}
      </span>
      {% if entity.fieldErrorMessage != empty %}
        <div class="usa-alert usa-alert-error sip-application-error vads-u-display--none" aria-hidden="true">
          <div class="usa-alert-body">
            {{ entity.fieldErrorMessage.value }}
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}
