{% comment %}
    Example data:
    entity: {
        "entityId": "3944",
        "fieldTable": {
            "tableValue": "Row 1 Column 1 Row 1 Column 2 Row 1 Column 3 Row 2 Column 1 Row 2 Column 2 Row 2 Column 3 Row 3 Column 1 Row 3 Column 2 Row 3 Column 3",
            "value": {
                "0": [
                "Row 1 Column 1",
                "Row 1 Column 2",
                "Row 1 Column 3"
                ],
                "1": [
                "Row 2 Column 1",
                "Row 2 Column 2",
                "Row 2 Column 3"
                ],
                "2": [
                "Row 3 Column 1",
                "Row 3 Column 2",
                "Row 3 Column 3"
                ],
            }
            "format": "rich_text",
            "caption": "Test Table"
        }
    }
{% endcomment %}

<table data-template="paragraphs/table" data-entity-id="{{ entity.entityId }}" class="va-table va-table--responsive" role="table">
        {% if entity.fieldTable.caption %}
            <caption>{{ entity.fieldTable.caption }}</caption>
        {% endif %}
        {% assign colLabels = entity.fieldTable.value.0  %}
        {% for value in entity.fieldTable.value %}
            {% if forloop.first == true %}
                <thead>
                    <tr role="row">
                        {% for column in value %}
                            <th role="columnheader" scope="col">{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
            {% else %}
                    <tr class="vads-u-padding-top--5" role="row">
                        {% for column in value %}
                                <td class="vads-u-padding-bottom--0 column-label vads-u-font-weight--bold medium-screen:vads-u-display--none" role="cell">
                                    <dfn> {{colLabels | getValueFromObjPath: forloop.index0}}      </dfn>
                                </td>
                                <td class="column-value"  role="cell">
                                    <dfn class="vads-u-display--block"> {{ column }}  </dfn>
                                </td>
                        {% endfor %}
                    </tr>
            {% endif %}
            {% if forloop.last %}
                </tbody>
            {% endif %}
        {% endfor %}
</table>
