{% assign timezone = "America/New_York" %}
<div class="events-listing events-show">
  {% assign count = 0 %}
  {% assign eventsArray = fieldOffice.entity.reverseFieldOfficeNode.entities %}
  {% if outreachSidebar.name == 'Outreach and events' %}
  {% assign eventsArray = reverseFieldOfficeNode.entities %}
  {% endif %}
  {% assign sortedEventsArray = eventsArray | eventSorter %}
  {% for event in sortedEventsArray %}
  {% if event.title.length %}
  {% assign count = count | plus:1 %}
  <div class="vads-u-margin-bottom--2">
    <h4>
      <a href="{{event.entityUrl.path}}">{{event.title}}</a>
    </h4>
    <p>{{event.fieldDescription}}</p>
    {% if event.fieldDate.startDate and event.fieldDate.value %}
    <div class="usa-grid usa-grid-full">
      <div class="usa-width-one-sixth">
        <strong>When:</strong>
      </div>
      <div class="usa-width-five-sixths">
        <span>{{ event.fieldDate.value | humanizeDate }}</span><br>
        <span>{{ event.fieldDate.startDate | timeZone: timezone, "h:mm A"}}
          {% if event.fieldDate.endDate %}
          –
          {{ event.fieldDate.endDate | timeZone: timezone, "h:mm A" }} ET</span>
        {% endif %}
      </div>
    </div>
    {% endif %}
    <div class="usa-grid usa-grid-full">
      {% if event.fieldFacilityLocation.entity.entityUrl.path %}
      <div class="usa-width-one-sixth">
        <strong>Where:</strong>
      </div>
      <div class="usa-width-five-sixths">
        <p>
          <a
            href="{{event.fieldFacilityLocation.entity.entityUrl.path}}">{{event.fieldFacilityLocation.entity.title}}</a>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
  {% if count == 0 %}
  <div class="vads-u-margin-bottom--2">
    <div>
      <p>
        <i>We're sorry, there are no events to display at this time. Check back
          regularly
          for new event listings.</i>
      </p>
    </div>
  </div>
  {% endif %}
</div>
