<div>
  {% if address.fieldUseFacilityAddress == false %}
    {% assign address = single.fieldServiceLocationAddress.entity %}
    {% assign useParent = false %}
  {% else %}
    {% assign address = fieldAddress %}
    {% assign useParent = true %}
  {% endif %}
  {% if single.fieldServiceLocationAddress.entity.fieldClinicName %}
    <h4>
      {{ single.fieldServiceLocationAddress.entity.fieldClinicName }}
    </h4>
  {% endif %}

  {% if address.fieldAddress.addressLine1 and useParent == false %}<p
      class="vads-u-margin-bottom--0">
    {{ address.fieldAddress.addressLine1 }}</p>
  {% else %}
    <p class="vads-u-margin-bottom--0">
      {{ fieldAddress.addressLine1 }}</p>
  {% endif %}

  {% if address.fieldAddress.addressLine2 and useParent == false %}<p
      class="vads-u-margin-bottom--0">
    {{ address.fieldAddress.addressLine2 }}</p>
  {% else %}
    <p class="vads-u-margin-bottom--0">
      {{ fieldAddress.addressLine2 }}</p>
  {% endif %}

  {% if address.fieldAddress.organization and useParent == false %}<p
      class="vads-u-margin-bottom--0">
    {{ address.fieldAddress.organization }}</p>
  {% else %}
    <p class="vads-u-margin-bottom--0">
      {{ fieldAddress.organization }}</p>{% endif %}

  {% if single.fieldServiceLocationAddress.entity.fieldBuildingNameNumber %}<p
      class="vads-u-margin-bottom--0">
    {{ single.fieldServiceLocationAddress.entity.fieldBuildingNameNumber }}
    </p>{% endif %}

  {% if single.fieldServiceLocationAddress.entity.fieldWingFloorOrRoomNumber %}
    <p class="vads-u-margin-bottom--0">
      {{ single.fieldServiceLocationAddress.entity.fieldWingFloorOrRoomNumber }}
    </p>{% endif %}

  {% if address.fieldAddress.locality and useParent == false %}
    <p class="vads-u-margin-bottom--0">
      {{ address.fieldAddress.locality }}{% if address.fieldAddress.administrativeArea %},
        {{ address.fieldAddress.administrativeArea }}
      {% endif %}

      {% if address.fieldAddress.postalCode %}
        &nbsp;{{ address.fieldAddress.postalCode }}
      {% endif %}
    </p>
  {% else %}
    <p class="vads-u-margin-bottom--0">
      {{ fieldAddress.locality }}{% if fieldAddress.administrativeArea %},
        {{ fieldAddress.administrativeArea }}
      {% endif %}

      {% if fieldAddress.postalCode %}
        &nbsp;{{ fieldAddress.postalCode }}
      {% endif %}
    </p>
  {% endif %}
</div>
