<section data-template="components/situation_updates" id="situation-updates" class="situation-updates clearfix">
  <h2>Situation updates and information</h2>
  {% for situation in fieldBannerAlert %}
  {% if situation.entity.status == true %}
    {% assign sortedUpdates = situation.entity.fieldSituationUpdates | sort: update.entity.fieldDatetimeRangeTimezone.value | reverse %}
      {% for update in sortedUpdates %}
        <div data-entity-id="{{ update.entity.entityId }}" class="usa-alert background-color-only vads-u-padding-y--1p5">
          <h3 class="vads-u-margin-top--0">
            Situation update
          </h3>
          <div class="vads-u-margin-bottom--0 no-p-bottom-margin">
            <h4 class="vads-u-margin-top--1 vads-u-margin-bottom--2">
                {% if update.entity.fieldDatetimeRangeTimezone.value != empty %}
                 {{update.entity.fieldDatetimeRangeTimezone.value | dateFromUnix: "dddd, MMM D, h:mm A"}}
                {% endif %}
                {% if update.entity.fieldDatetimeRangeTimezone.timezone != empty %}
                  {{update.entity.fieldDatetimeRangeTimezone.timezone | timezoneAbbrev: fieldDatetimeRangeTimezone.value }}
                {% else %}
                  {{ timezone }}
                {% endif %}
            </h4>
            {{update.entity.fieldWysiwyg.processed}}
          </div>
        </div>
      {% endfor %}
      {% if situation.entity.fieldBannerAlertSituationinfo.processed %}
        <h3 class="vads-u-margin-top--3">Situation info</h3>
      {{situation.entity.fieldBannerAlertSituationinfo.processed}}
      {% endif %}
    {% endif %}
  {% endfor %}
</section>
