{% for entity in alert.entities %}
  {% comment %}
If there isn't a ref, that's a sitewide alert.
{% endcomment %}
  {% if entity.fieldNodeReference.0.targetId == null %}
    {% assign status = "print" %}
  {% endif %}

  {% comment %}
Loop through refs, check for match for page entity.
{% endcomment %}
  {% for ef in entity.fieldNodeReference %}
    {% if ef.targetId == pid %}
      {% assign status = "print" %}
    {% endif %}
  {% endfor %}

  {% if entity.fieldIsThisAHeaderAlert != "banner_alert" %}
    {% assign status = "no_print" %}
  {% endif %}

  {% comment %}
If we have a hit, show the alert.
{% endcomment %}
  {% if status == "print" %}
    <div data-template="includes/alerts" data-entity-id="{{ entity.id }}"
      aria-labelledby="usa-alert-heading-{{ entity.id }}" class="usa-alert-full-width dismissable-option-header usa-alert-full-width-{{ entity.fieldAlertType }}" id="usa-alert-full-width-{{ entity.id }}" role="region">
      <div aria-live="assertive" class="usa-alert usa-alert-{{ entity.fieldAlertType }}" id="usa-alert-{{ entity.id }}" role="alert">
        {% if entity.fieldAlertDismissable == true %}
        <button id="usa-alert-dismiss-{{ entity.id }}" class="va-alert-close usa-alert-dismiss" data-parentwrap="usa-alert-full-width-{{ entity.id }}" data-frequency="{{ entity.fieldAlertFrequency }}" aria-label="Close notification">
          <i aria-label="Close icon" class="fas fa-times-circle"></i>
        </button>
        {% endif %}

        <div class="usa-alert-body" id="usa-alert-body-{{ entity.id }}">
          <h3 class="usa-alert-heading" id="usa-alert-heading-{{ entity.id }}">
            {{ entity.fieldAlertTitle}}</h3>
          <div class="usa-alert-text" id="usa-alert-text-{{ entity.id }}">
            {{ entity.fieldAlertContent.entity.entityRendered }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
