<div class="vads-u-display--flex vads-u-margin-bottom--4 vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row">
  <div class="vads-u-flex--auto medium-screen:vads-u-margin-right--3 vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0">
  {% if bio.fieldMedia == emtpy %}
    <span class="circular-profile-image bio-paragraph-image vads-u-position--relative vads-u-background-color--gray-lightest vads-u-display--block">
      <span class="fas fa-user circular-profile-missing-icon"></span>
    </span>
  {% else %}
    {% assign image = bio.fieldMedia.entity.image %}
    <img class="circular-profile-image bio-paragraph-image" src="{{ image.derivative.url }}" alt="{{ image.alt }}"
         title="{{ image.title }}">
  {% endif %}
  </div>
  <div class="vads-u-flex--1">

    <p class="
            vads-u-margin-top--0
            vads-u-font-family--serif
            vads-u-font-weight--bold
            vads-u-display--block
            vads-u-margin-bottom--0
            vads-u-font-size--md">
        {% if bio.fieldBody == empty %}
            {{ bio.fieldNameFirst }}
            {{ bio.fieldLastName }} {{ bio.fieldSuffix }}
        {% else %}
            <a href="{{ bio.entityUrl.path }}">{{ bio.fieldNameFirst }}
                {{ bio.fieldLastName }} {{ bio.fieldSuffix }}</a>
        {% endif %}</p>
    {% if bio.fieldDescription %}
    <p class="
        vads-u-font-weight--normal
        vads-u-font-size--base
        vads-u-margin--0
        vads-u-margin-bottom--0">
      {{ bio.fieldDescription }}</p>
    {% endif %}
    {% if bio.fieldOffice.entity.entityLabel %}
    <p class="
        vads-u-font-weight--normal
        vads-u-font-size--base
        vads-u-margin--0
        vads-u-margin-bottom--1">
      {{ bio.fieldOffice.entity.entityLabel }}
    </p>
    {% endif %}
    {% if bio.fieldPhoneNumber %}
    <p class="
        vads-u-font-weight--normal
        vads-u-margin--0
        vads-u-margin-bottom--1">
      <b>Phone:</b> <a
        href="tel:{{ bio.fieldPhoneNumber }}">{{ bio.fieldPhoneNumber }}</a>
    </p>
    {% endif %}
    {% if bio.fieldEmailAddress %}
      <p class="
        vads-u-font-weight--normal
        vads-u-margin--0
        vads-u-margin-bottom--1">
        <b>Email:</b> <a target="blank"
                         href="mailto:{{ bio.fieldEmailAddress }}">{{ bio.fieldEmailAddress }}</a>
      </p>
    {% endif %}
  </div>
</div>
