<nav data-template="includes/breadcrumbs" aria-label="Breadcrumb" aria-live="polite" class="va-nav-breadcrumbs" id="va-breadcrumbs">
  <ul class="row va-nav-breadcrumbs-list columns" id="va-breadcrumbs-list">
    {% for crumb in entityUrl.breadcrumb %}
      {% if forloop.last == true %}
        <li><a aria-current="page" href="/{{ path }}">{{ crumb.text }}</a></li>
      {% elsif crumb.url.path %}
        {% if crumb.url.path == '/' %}
          {% if hideHomeBreadcrumb != true or buildtype == 'vagovprod' %}
            <li>
              <a href="{{ crumb.url.path }}" onClick="recordEvent({ event: 'nav-breadcrumb', 'nav-breadcrumb-section': 'home' });">{{ crumb.text }}</a>
            </li>
          {% endif %}
        {% else %}
          <li><a href="{{ crumb.url.path }}">{{ crumb.text }}</a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>
