<div
  data-template="includes/homepage-banner"
  data-alert-box-heading="{{ banner.title | escape }}"
  class="usa-alert-full-width usa-alert-full-width-{{ banner.type }}">
  <div class="usa-alert usa-alert-{{ banner.type }}">
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">{{ banner.title }}</h3>
      <div class="usa-alert-text">
        {{ banner.content }}
      </div>
    </div>
  </div>
</div>
