<div classname="vads-u-display--flex vads-u-margin-bottom--2">
    {% assign alt = mediaImage.entity.image.alt %}
    <div class="vads-l-grid-container vads-u-padding-x--0 vads-u-margin-y--2 ">
        <div class="vads-l-row">
            <dt class="vads-l-col--12 medium-screen:vads-u-display--none vads-u-margin-bottom--2">
                <{{image_title_tag}} class="{{image_title_classes }} medium-screen:vads-u-margin-top--0">{{ mediaImage.entity.entityLabel }}</{{image_title_tag}}>
            </dt>
            <dd class=".vads-l-col--12 medium-screen:vads-l-col--2">
                <picture>
                    {%if mediaImage.entity.image.url == empty %}
                        <img class="vads-u-min-height--viewport vads-u-background-color--gray-lightest vads-u-display--block vads-u-border--1px vads-u-border-color--gray-light" alt="{{ alt }}" height="{{ mediaImage.entity.image.height }}" width="{{ mediaImage.entity.image.width }}" />
                    {% else %}
                        <img class="vads-u-border--1px vads-u-border-color--gray-light" alt="{{ alt }}" height="{{ mediaImage.entity.image.height }}" width="{{ mediaImage.entity.image.width }}" src="{{ mediaImage.entity.image.url }}" />
                    {%endif %}    
                </picture>
            </dd>
            <dt class=".vads-l-col--12 vads-l-col--10 medium-screen:vads-u-padding-left--2 medium-screen:vads-u-margin-top--0">
                <{{image_title_tag}} class="{{image_title_classes }} vads-u-display--none  medium-screen:vads-u-display--block medium-screen:vads-u-margin-y--0">{{ mediaImage.entity.entityLabel }}</{{image_title_tag}}>
                {% if mediaImage.entity.fieldDescription %}
                    <p class="vads-u-margin-top--0">{{ mediaImage.entity.fieldDescription }}</p>
                {% endif %}
            </dt>
        </div>
    </div>