{% assign alt = mediaImage.entity.image.alt %}
<div class="vads-u-display--flex vads-u-flex-direction--column  medium-screen:vads-u-margin-bottom--2 vads-u-margin-bottom--4">
    <dt class="vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0">
        <{{image_title_tag}} class="{{image_title_classes }} medium-screen:vads-u-margin-top--0">{{ mediaImage.entity.entityLabel }}</{{image_title_tag}}>
    </dt>
    <dd class="image-detail">
        <picture>
            {% if mediaImage.entity.image.url == empty %}
                <img class="alt-text-container vads-u-background-color--gray-lightest vads-u-display--block vads-u-border--1px vads-u-border-color--gray-light" alt="{{ alt }}" height="{{ mediaImage.entity.image.height }}" width="{{ mediaImage.entity.image.width }}"/>
            {% else %}
                <img class="vads-u-border--1px vads-u-border-color--gray-light" alt="{{ alt }}" height="{{ mediaImage.entity.image.height }}" width="{{ mediaImage.entity.image.width }}" src="{{ mediaImage.entity.image.url }}"/>
            {% endif %}
        </picture>
    </dd>
    {% if mediaImage.entity.fieldDescription %}
        <dt class="image-desc vads-u-margin-top--1">
            <p class="vads-u-margin-top--0 vads-u-margin-bottom--0 vads-u-margin-y--0">{{ mediaImage.entity.fieldDescription }}</p>
        </dt>
    {% endif %}
</div>