<meta content="VA.gov" property="og:site_name">
<!--twitter cards-->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@DeptVetAffairs">
<!-- description, title tags added below-->
<meta name="twitter:image:src" content="{{ hostUrl }}/img/design/logo/va-og-twitter-image.png">
<!-- end twitter cards -->

{% if lastupdate %}
  <meta name="DC.Date" content="{{lastupdate| date: '%Y-%m-%d'}}" property="http://purl.org/dc/terms/date">
{% endif %}
{% if title %}
<meta content="{{ title }}" property="og:title">
<meta content="VA.gov - {{ title }}" name="twitter:title" >
{% else %}
<meta content="{{ hostUrl }}" property="og:title">
<meta content="{{ hostUrl }}" name="twitter:title">
{% endif %}
<meta content="website" property="og:type">
{% if path %}
<meta content="{{ hostUrl }}/{{ path }}" property="og:url">
{% endif %}
{% if description %}
<meta content="{{ description }}" property="og:description">
<meta content="{{ description }}" name="twitter:description" >
<meta content="{{ description }}" name="description">
{% endif %}
<meta content="{{ hostUrl }}/img/design/logo/va-og-image.png" property="og:image">
{% if tags %}
  {% for tag in tags %}
<meta content="{{ tag }}" property="article:tag">
  {% endfor %}
{% endif %}
{% if title === 'Home' %}
<title>VA.gov</title>
{% else %}
<title>{{ title }}: VA.gov</title>
{% endif %}
