<link rel="canonical" href="{{ hostUrl }}{{ entityUrl.path }}" />

{% if changed %}
<meta name="DC.Date" scheme="W3CDTF" content="{{ changed| dateFromUnix: 'YYYY-MM-DD' }}">
{% endif %}

{% if entityUrl.path %}
<meta content="{{ hostUrl }}/{{ entityUrl.path }}" property="og:url">
{% else %}
<meta content="{{ hostUrl }}" property="og:url">
{% endif %}

<meta content="website" property="og:type">

{% assign tagsSize = entityMetatags | size %}
{% if tagsSize > 0 %}
{% assign sortedEntityMetatags = entityMetatags | sortEntityMetatags %}
<!-- Metatags -->
{% for tag in sortedEntityMetatags %}
    {% case tag.__typename %}
      {% when "MetaValue" %}
        {% if tag.key == "title" %}
<title>{{ tag.value }}</title>
        {% else %}
<meta name="{{ tag.key }}" content="{{ tag.value }}">
        {% endif %}
      {% when "MetaProperty" %}
<meta property="{{ tag.key }}" content="{{ tag.value }}">
      {% when "MetaLink" %}
<link rel="{{ tag.key }}" href="{{ tag.value }}">
    {% endcase %}
{% endfor %}

{% else %}
<!-- Metatags -->
  {% if regionOrOffice %}
    {% assign metaTitle = title | append: " | " | append: regionOrOffice %}
      {% if regionOrOffice == "VA Pittsburgh health care" %}
      {% assign titleCaseTitle = title | toTitleCase %}
        {% assign metaTitle = "VA Pittsburgh Health Care" | append: " | " | append: titleCaseTitle %}
      {% endif %}
  {% else %}
    {% assign metaTitle = title %}
  {% endif %}
  {% assign metaTitle = metaTitle | append: " | Veterans Affairs" %}
<meta property="og:site_name" content="Veterans Affairs">
<meta content="{{ metaTitle }}" property="og:title">
<meta name="twitter:card" content="Summary">
<meta name="twitter:site" content="@DeptVetAffairs">
<meta name="twitter:image" content="{{ hostUrl }}/img/design/logo/va-og-twitter-image.png">
<meta content="{{ metaTitle }}" name="twitter:title" >
  {% if fieldClinicalHealthServi %}
    {% assign description = fieldClinicalHealthServi.processed | strip_html %}
  {% elsif fieldPressReleaseBlurb %}
    {% assign description = fieldPressReleaseBlurb.processed | strip_html %}
  {% elsif fieldDescription %}
    {% assign description = fieldDescription | newline_to_br %}
  {% elsif fieldIntroText %}
    {% assign description = fieldIntroText.processed | strip_html %}
  {% endif %}
  {% if description %}
<meta content="{{ description }}" property="og:description">
<meta content="{{ description }}" name="twitter:description" >
<meta content="{{ description }}" name="description">
  {% endif %}
<meta content="{{ hostUrl }}/img/design/logo/va-og-image.png" property="og:image">
<title>{{ metaTitle }}</title>
{% endif %}
