<li class="featured-content-list-item vads-u-background-color--primary-alt-lightest  vads-u-padding-y--1p5 vads-u-padding-x--1p5 vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0 vads-u-display--flex vads-u-flex-direction--column">
    {% if entity.fieldSectionHeader != empty %}
        <b>{{ entity.fieldSectionHeader }}</b>
        <hr class="featured-content-hr vads-u-margin-y--1p5 vads-u-border-color--primary">
    {% endif %}
    {% if entity.fieldDescription %}
        <div id="featured-content-description{{ entity.fieldSectionHeader }}}}">
            {{ entity.fieldDescription.processed | drupalToVaPath | outputLinks }}
        </div>
    {% endif %}
    {% if entity.fieldCta %}
        <a class="vads-u-display--block vads-u-padding-top--1 vads-u-text-decoration--none" href="{{ entity.fieldCta.entity.fieldButtonLink..uri }}" >
            <span> {{  entity.fieldCta.entity.fieldButtonLabel }} <i class="fa fa-chevron-right vads-facility-hub-cta-arrow"></i></span>
        </a>
    {% endif %}
</li>