<div data-template="includes/vet_center_address_phone_image"
     class="region-list usa-width-one-whole vads-u-display--flex vads-u-flex-direction--column small-screen:vads-u-flex-direction--row facility vads-u-margin-bottom--4 medium-screen:vads-u-margin-bottom--5">
    <section class="region-grid vads-u-margin-right--2">
        {% if vetCenter.title %}
            <h3 class="vads-u-margin-bottom--1 vads-u-margin-top--0 vads-u-font-size--md vads-u-font-size--lg">
                {% if vetCenter.entityBundle == "vet_center_cap" or vetCenter.entityBundle == "vet_center" or vetCenter.entityBundle == "vet_center_outstation" or vetCenter.entityBundle == "vet_center_mobile_vet_center"  %}
                    {{ vetCenter.title }}
                {% else %}
                    <a href="{{ vetCenterUrl }}">{{ vetCenter.title }}</a>
                {% endif %}
            </h3>
        {% endif %}
        {% if vetCenter.fieldOperatingStatusFacility and vetCenter.fieldOperatingStatusFacility != 'normal' %}
            <div class="vads-u-display--inline-block vads-u-margin-bottom--1">
                {% include "src/site/includes/operation_status_information.liquid" with
                    fieldOperatingStatusFacility = vetCenter.fieldOperatingStatusFacility
                %}
            </div>
        {% endif %}
        <h4 class="force-small-header vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">
            {% if vetCenter.entityBundle == "vet_center_cap" %}
                Located at
            {% else %}
                Address
            {% endif %}
        </h4>
        <div class="vads-u-margin-bottom--3">
            <address class="vads-u-margin-bottom--0">
                <div>{{ vetCenter.fieldAddress.organization }}</div>
                <div>{{ vetCenter.fieldAddress.addressLine1 }}</div>
                <div>{{ vetCenter.fieldAddress.locality }},
                    {{ vetCenter.fieldAddress.administrativeArea }}
                    {{ vetCenter.fieldAddress.postalCode }}
                </div>
            </address>
            <div>
                <a href="https://maps.google.com?saddr=Current+Location&amp;daddr={{ vetCenter.fieldAddress.addressLine1 }}, {{ vetCenter.fieldAddress.locality }}, {{ vetCenter.fieldAddress.administrativeArea }} {{ vetCenter.fieldAddress.postalCode }}"
                   target="_blank" rel="noopener noreferrer">
                    Get directions
                </a>
            </div>
        </div>
        <h4 class="force-small-header vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">Phone</h4>
        <div>
            {% if vetCenter.entityBundle == "vet_center_cap" %}
                <div class="main-phone vads-u-margin-bottom--1">
                    </strong><a href="tel:{{ mainVetCenterPhone }}">{{ mainVetCenterPhone }}</a>
                </div>
            {% else %}
                <div class="main-phone vads-u-margin-bottom--1">
                    </strong><a href="tel:{{ vetCenter.fieldPhoneNumber }}">{{ vetCenter.fieldPhoneNumber }}</a>
                </div>
            {% endif %}
        </div>
    </section>

    <section class="region-grid usa-width-one-half vads-u-order--first small-screen:vads-u-order--initial vads-u-margin-bottom--2">
        {% if vetCenter.fieldMedia %}
            <a href="{{ vetCenter.path }}"
               aria-label="{{ vetCenter.fieldMedia.entity.image.alt }}">
                <img class="facility-img"
                     src="{{ vetCenter.fieldMedia.entity.image.derivative.url }}"
                     alt="{{ vetCenter.fieldMedia.entity.image.alt }}"
                />
            </a>
        {% endif %}
    </section>

    <!-- Back to Top -->
    {% include "src/site/components/up_to_top_button.html" %}

</div>
