<div data-template="includes/vet_center_address_phone_image"
     class="region-list usa-width-one-whole vads-u-display--flex vads-u-flex-direction--column small-screen:vads-u-flex-direction--row facility vads-u-margin-bottom--4 medium-screen:vads-u-margin-bottom--5">
    <section class="region-grid vads-u-margin-right--2">
        <h3 class="vads-u-margin-bottom--1 vads-u-margin-top--0 vads-u-font-size--md medium-screen:vads-u-font-size--lg">
            <a href="{{ vetCenter.path }}">{{ vetCenter.title }}</a></h3>
        <h3 class="vads-u-font-size--lg vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">Address</h3>
        <div class="vads-u-margin-bottom--3">
            <address class="vads-u-margin-bottom--0">
                <div>{{ vetCenter.fieldAddress.addressLine1 }}</div>
                <div>{{ vetCenter.fieldAddress.locality }},
                    {{ vetCenter.fieldAddress.administrativeArea }}
                    {{ vetCenter.fieldAddress.postalCode }}
                </div>
            </address>
            <div>
                <a href="https://maps.google.com?saddr=Current+Location&amp;daddr={{ vetCenter.fieldAddress.addressLine1 }}, {{ vetCenter.fieldAddress.locality }}, {{ vetCenter.fieldAddress.administrativeArea }} {{ vetCenter.fieldAddress.postalCode }}"
                   target="_blank" rel="noopener noreferrer">
                    Directions
                </a>
            </div>
        </div>
        <h3 class="vads-u-font-size--lg vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">Phone</h3>
        <div class="vads-u-margin-bottom--3">
            <div class="main-phone vads-u-margin-bottom--1">
                </strong><a href="tel:{{ vetCenter.fieldPhoneNumber }}">{{ vetCenter.ieldPhoneNumber }}</a>
            </div>
        </div>
    </section>
    <section
            class="region-grid usa-width-one-half vads-u-order--first small-screen:vads-u-order--initial vads-u-margin-bottom--2">
        <a href="{{ vetCenter.path }}"
           aria-label="{{ vetCenter.fieldMedia.entity.image.alt }}">
            <img class="region-img"
                 src="{{ vetCenter.fieldMedia.entity.image.derivative.url }}"
                 alt="{{ vetCenter.fieldMedia.entity.image.alt }}"
            />
        </a>
    </section>
</div>
