{% comment %}
"fieldPromo": {
  "entity": {
    "fieldImage": {
      "entity": {
        "image": {
          "url": "http://vagovcms.lndo.site/sites/default/files/hub_promos/health-care.png",
          "alt": null,
          "title": null
          "derivative": {
            "url": "http://vagovcms.lndo.site/sites/default/files/styles/3_2_medium_thumbnail/public/hub_promos/health-care.png?itok=27DMOlAy",
            "width": 456,
            "height": 304
          }
        }
      }
    },
    "fieldPromoLink": {
      "entity": {
        "fieldLink": {
          "uri": "https://www.telehealth.va.gov/",
          "title": "VA Telehealth Services",
          "options": null,
          "url": {
            "path": "https://www.telehealth.va.gov/"
          }
        },
        "fieldLinkSummary": "Find out how we use telehealth technologies to provide specialty care and health monitoring to Veterans at their local VA clinic or in their own home."
      }
    }
  }
{% endcomment %}
{% assign image = entity.fieldImage.entity.image %}
<div data-template="blocks/promo" data-entity-id="{{ entity.entityId }}" class="merger-r-rail hub-promo" id="promo">
    <img src="{{ image.derivative.url }}" alt="{{ image.alt }}" title="{{ image.title }}" width="{{ image.derivative.width }}" height="{{ image.derivative.height }}">
  {% if entity.fieldPromoLink != empty %}
    {% assign link = entity.fieldPromoLink.entity.fieldLink | featureSingleValueFieldLink %}
    <section class="hub-promo-text">
        <h4 class="heading">
          <a onClick="recordEvent({ event: 'nav-hub-promo' });"
            href="{{ link.url.path }}">{{ link.title }}</a>
        </h4>
        <p>{{ entity.fieldPromoLink.entity.fieldLinkSummary }}</p>
    </section>
  {% endif %}
</div>
