{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with constructLcBreadcrumbs = true titleInclude = false %}

<div id="content" class="interior" data-template="node-campaign_landing_page">
  <main class="va-l-detail-page">
    <!-- Draft status -->
    {% if !entityPublished %}
      <div class="usa-alert usa-alert-info">
        <div class="usa-alert-body">
          <p class="usa-alert-text">You are viewing a draft.</p>
        </div>
      </div>
    {% endif %}

    <div class="campaign-landing-page">
      <div class="hero" style="background-image: url('{{ fieldHeroImage.entity.image.url }}">
        <!-- Hero Content -->
        <div class="hero-content">
          <h1>{{ title }}</h1>
          <hr />
          <p>{{ fieldHeroBlurb }}</p>
          <a class="usa-butto-secondary" href="{{ fieldPrimaryCallToAction.entity.fieldButtonLink.url.path }}" rel="noreferrer noopener">
            {{ fieldPrimaryCallToAction.entity.fieldButtonLabel }}
          </a>
        </div>
      </div>

      <!-- Why This Matters -->
      <div class="why-this-matters">
        <!-- Content -->
        <div class="why-this-matters-content">
          <h2>Why this matters to you</h2>
          <p>{{ fieldClpWhyThisMatters }}</p>
          <a class="usa-button-secondary" href="{{ fieldSecondaryCallToAction.entity.fieldButtonLink.url.path }}">
            {{ fieldSecondaryCallToAction.entity.fieldButtonLabel }}
          </a>
        </div>

        <!-- White box w/ social media links -->
        <div class="why-this-matters-links">
          {% if fieldClpAudience != empty %}
            <div class="white-box">
              <p>THIS PAGE IS FOR</p>
              <hr />
              <ul>
                {% for clpAudience in fieldClpAudience %}
                  <li>{{ clpAudience.entity.name }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}

          <!-- Links to social media -->
          {% include "src/site/includes/social-share.drupal.liquid" %}
        </div>
      </div>

      <!-- What You Can Do -->
      <div class="what-you-can-do">
        <p class="grey-header">WHAT YOU CAN DO</p>
        <h2>{{ fieldClpWhatYouCanDoHeader }}</h2>
        <p>{{ fieldClpWhatYouCanDoIntro }}</p>

        {% if fieldClpWhatYouCanDoPromos != empty %}
          <ul class="promos">
            {% for promo in fieldClpWhatYouCanDoPromos %}
              <li class="promo">
                <img alt="{{ promo.entity.fieldImage.entity.thumbnail.alt }}" src="{{ promo.entity.fieldImage.entity.thumbnail.url }}" />
                <a href="{{ promo.entity.fieldPromoLink.entity.fieldLink.uri }}" rel="noreferrer noopener" target="_blank">
                  {{ promo.entity.fieldPromoLink.entity.fieldLink.title }}
                </a>
                <p>{{ promo.entity.fieldPromoLink.entity.fieldLinkSummary }}</p>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <!-- Video -->
      <div class="what-you-can-do">
        <p class="grey-header">VIDEO</p>
        <h2>{{ fieldClpVideoPanelHeader }}</h2>

        <iframe
          allowFullScreen
          frameBorder="0"
          src="{{ fieldMedia.entity.fieldMediaVideoEmbedField }}"
          title="{{ fieldMedia.entity.name }}"
          width="100%"
        ></iframe>

        {% if fieldMedia.entity.fieldDuration %}
          <p>{{ fieldMedia.entity.fieldDuration }}</p>
        {% endif %}

        {% if fieldMedia.entity.fieldDescription %}
          <p>{{ fieldMedia.entity.fieldDescription }}</p>
        {% endif %}

        <a class="usa-button-secondary" href="{{ fieldClpVideoPanelMoreVideo.entity.fieldButtonLink.uri }}" rel="noreferrer noopener" target="_blank">
          {{ fieldClpVideoPanelMoreVideo.entity.fieldButtonLabel }}
        </a>
      </div>

      <!-- Spotlight -->
      <div class="spotlight">
        <p class="grey-header">SPOTLIGHT</p>
        <h2>{{ fieldClpSpotlightHeader }}</h2>
        <p>
          {{ fieldClpSpotlightIntroText }}
          <a href="{{ fieldClpSpotlightCta.entity.fieldButtonLink.uri }}" rel="noreferrer noopener" target="_ blank">
            {{ fieldClpSpotlightCta.entity.fieldButtonLabel }}
          </a>
        </p>

        <div class="link-teasers">
          {% for linkTeaser in fieldClpSpotlightLinkTeasers %}
            <div class="link-teaser">
              <a href="{{ linkTeaser.entity.fieldLink.uri }}" rel="noreferrer noopener" target="_blank">{{ linkTeaser.entity.fieldLink.title }}</a>
              <p>{{ linkTeaser.entity.fieldLinkSummary }}</p>
            </div>
          {% endfor %}
        </div>
      </div>

      <!-- Stories -->
      <div class="stories">
        <p class="grey-header">STORIES</p>
        <h2>{{ fieldClpStoriesHeader }}</h2>
        <p>{{ fieldClpStoriesIntro }}</p>

        <div class="stories-list">
          {% for storyTeaser in fieldClpStoriesTeasers %}
            <div class="story-teaser">
              <img alt="{{ storyTeaser.entity.fieldMedia.entity.thumbnail.alt }}" src="{{ storyTeaser.entity.fieldMedia.entity.thumbnail.url }}" />
              <div class="story-teaser-content">
                <a href="{{ storyTeaser.entity.fieldLinkTeaser.entity.fieldLink.uri }}" rel="noreferrer noopener" target="_blank">
                  {{ storyTeaser.entity.fieldLinkTeaser.entity.fieldLink.title }}
                </a>
                <p>{{ storyTeaser.entity.fieldLinkTeaser.entity.fieldLinkSummary }}</p>
              </div>
            </div>
          {% endfor %}
        </div>

        <a class="usa-button-secondary" href="{{ fieldClpStoriesCta.entity.fieldButtonLink.uri }}" rel="noreferrer noopener" target="_blank">
          {{ fieldClpStoriesCta.entity.fieldButtonLabel }}
        </a>
      </div>

      <!-- Downloadable Resources -->
      <div class="downloadable-resources">
        <p class="grey-header">DOWNLOADABLE RESOURCES</p>
        <h2>{{ fieldClpResourcesHeader }}</h2>
        <p>{{ fieldClpResourcesIntroText }}</p>

        <div class="resources-list">
          {% for resource in fieldClpResources %}
            <div class="resource">
              <img alt="{{ resource.entity.fieldMedia.entity.thumbnail.alt }}" src="{{ resource.entity.fieldMedia.entity.thumbnail.url }}" />
              <div class="resource-content">
                <a href="{{ resource.entity.fieldLinkTeaser.entity.fieldLink.uri }}" rel="noreferrer noopener" target="_blank">
                  {{ resource.entity.fieldLinkTeaser.entity.fieldLink.title }}
                </a>
                <p>{{ resource.entity.fieldLinkTeaser.entity.fieldLinkSummary }}</p>
              </div>
            </div>
          {% endfor %}
        </div>

        <a class="usa-button-secondary" href="{{ fieldClpResourcesCta.entity.fieldButtonLink.uri }}" rel="noreferrer noopener" target="_blank">
          {{ fieldClpResourcesCta.entity.fieldButtonLabel }}
        </a>
      </div>
    </div>

    <!-- Last Updated -->
    <div class="last-updated usa-content">
      Last updated: <time
        datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
    </div>
  </main>
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
