{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}

<!-- Derive the total sections the page includes for analytics. -->
{% assign clpTotalSections = 11 | deriveCLPTotalSections: fieldClpVideoPanel, fieldClpSpotlightPanel, fieldClpStoriesPanel, fieldClpResourcesPanel, fieldClpEventsPanel, fieldClpFaqPanel, fieldBenefitCategories %}

<div id="content" class="interior" data-template="node-campaign_landing_page">
  <main>
    <!-- Hero-->
    <div class="va-u-background--image" style="background-image: url('{{ fieldHeroImage.entity.image.url }}">
      <!-- Hero Content -->
      <div class="vads-l-grid-container vads-u-padding-x--0">
        <div class="vads-l-row">
          <div class="vads-l-col--12 medium-screen:vads-l-col--6">
            <div class="va-u-background--gradiant-blue vads-u-padding-x--4 vads-u-padding-y--6  medium-screen:vads-u-margin-right--4">
              <h1 class="vads-u-color--white">{{ title }}</h1>
              <hr class="va-c-blue-line--large vads-u-border-color--primary-alt vads-u-border--2px vads-u-margin-y--2" />
              <p class="va-introtext vads-u-color--white">{{ fieldHeroBlurb }}</p>

              {% if fieldPrimaryCallToAction %}
                <a
                  class="usa-button usa-button-secondary va-u-box-shadow--none vads-u-margin-top--2 vads-u-background-color--white vads-u-border--0 vads-u-font-size--sm"
                  href="{{ fieldPrimaryCallToAction.entity.fieldButtonLink.url.path }}"
                  onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'hero', 'clp-section-title': '{{ title | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldPrimaryCallToAction.entity.fieldButtonLabel | escape }}' });"
                >
                  {{ fieldPrimaryCallToAction.entity.fieldButtonLabel }}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Hero -->

    <!-- Why This Matters -->
    <div class="vads-u-background-color--primary-alt-lightest">
      <div class="vads-l-grid-container vads-u-padding-y--6 vads-u-padding-bottom--3 vads-u-padding-x--4 large-screen:vads-u-padding-x--0">
        <div class="vads-l-row">
          <!-- Content -->
          <div class="vads-l-col--12 medium-screen:vads-l-col--9">
            <h2 class="vads-u-margin--0 vads-u-margin-bottom--2">Why this matters to you</h2>
            <p class="va-introtext vads-u-margin-top--0 vads-u-margin-bottom--2">{{ fieldClpWhyThisMatters }}</p>
            {% if fieldSecondaryCallToAction %}
              <a
                class="usa-button usa-button-secondary vads-u-font-size--sm"
                href="{{ fieldSecondaryCallToAction.entity.fieldButtonLink.url.path }}"
                onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Why this matters to you', 'clp-section-title': '{{ fieldClpWhyThisMatters | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldSecondaryCallToAction.entity.fieldButtonLabel | escape }}' });"
              >
                {{ fieldSecondaryCallToAction.entity.fieldButtonLabel }}
              </a>
            {% endif %}
          </div><!-- /Content -->

          <!-- This page is for -->
          <div class="vads-l-col--12 medium-screen:vads-l-col--3">
            <div class=" vads-u-margin-top--3 medium-screen:vads-u-margin-top--0 medium-screen:vads-u-margin-left--2">
              {% if fieldClpAudience != empty %}
                <div class="va-c-white-box vads-u-background-color--white vads-u-padding--2 vads-u-margin-bottom--3 medium-screen:vads-u-margin-bottom--2">
                  <p class="va-u-text-transform--uppercase vads-u-color--gray-medium vads-u-font-size--sm vads-u-margin--0">This page is for</p>
                  <hr class="va-c-blue-line vads-u-border-color--primary-alt vads-u-margin-y--2" />
                  <ul class="usa-unstyled-list">
                    {% for clpAudience in fieldClpAudience %}
                      <li class="vads-u-font-size--sm vads-u-font-weight--bold vads-u-margin-top--1">
                        {{ clpAudience.entity.name }}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}

              <div data-template="includes/social-share" id="va-c-social-share">
                <ul class="usa-unstyled-list">
                  <li class="vads-u-margin-bottom--2p5">
                    <a class="va-js-share-link" href="https://www.facebook.com/sharer/sharer.php?href={{ hostUrl }}{{ entityUrl.path }}">
                      <i class="va-c-social-icon fab fa-facebook vads-u-margin-right--0p5" role="presentation" aria-hidden="true"></i>Share on Facebook
                    </a>
                  </li>

                  <li>
                    <a class="va-js-share-link" href="https://twitter.com/intent/tweet?text={{ title }}&url={{ hostUrl }}{{ entityUrl.path }}">
                      <i class="va-c-social-icon fab fa-twitter vads-u-margin-right--0p5" role="presentation" aria-hidden="true"></i>Share on Twitter
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div><!-- /This page is for -->
        </div>
      </div>
    </div>
    <!-- /Why This Matters -->

    <!-- What You Can Do -->
    <div class="vads-l-grid-container vads-u-padding-y--3 vads-u-padding-x--4 large-screen:vads-u-padding-x--0">
      <div class="vads-l-row">
        <div class="vads-l-col--12 medium-screen:vads-l-col--9">
          <!-- Title -->
          <p class="va-u-text-transform--uppercase vads-u-color--gray-medium vads-u-font-size--sm vads-u-margin-bottom--0">What you can do</p>
          <h2 class="vads-u-margin--0">{{ fieldClpWhatYouCanDoHeader }}</h2>
          <p class="va-introtext vads-u-margin-top--1 vads-u-margin-bottom--4">{{ fieldClpWhatYouCanDoIntro }}</p>
        </div>
      </div>

      <div class="vads-l-row vads-u-margin-bottom--2 medium-screen:vads-u-margin-x--neg1">
        {% for promo in fieldClpWhatYouCanDoPromos %}
          <div class="vads-l-col--12 medium-screen:vads-l-col--4 vads-u-align-content--stretch vads-u-margin-y--1 ">
            <div class="vads-u-background-color--gray-light-alt vads-u-height--full medium-screen:vads-u-margin-x--1 medium-screen:vads-u-margin-y--0">
              <img alt="{{ promo.entity.fieldImage.entity.thumbnail.alt }}" height="{{ promo.entity.fieldImage.entity.thumbnail.derivative.height }}" width="{{ promo.entity.fieldImage.entity.thumbnail.derivative.width }}" src="{{ promo.entity.fieldImage.entity.thumbnail.derivative.url }}" />
              <h3 class="vads-u-padding-x--2 vads-u-margin-top--1">
                <a
                  href="{{ promo.entity.fieldPromoLink.entity.fieldLink.uri }}"
                  onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'What you can do', 'clp-section-title': '{{ fieldClpWhatYouCanDoHeader | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ promo.entity.fieldPromoLink.entity.fieldLink.title | escape }}' });"
                >
                  {{ promo.entity.fieldPromoLink.entity.fieldLink.title }}
                </a>
              </h3>
              <p class="vads-u-margin-bottom--2 vads-u-margin-top--1 vads-u-padding-x--2">
                {{ promo.entity.fieldPromoLink.entity.fieldLinkSummary }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!--/ What You Can Do -->

    <!-- Video -->
    {% if fieldClpVideoPanel %}
      <div class="vads-l-grid-container vads-u-padding-y--3 vads-u-padding-x--4 large-screen:vads-u-padding-x--0">
        <div class="vads-l-row">
          <!-- CONTENT -->
          <div class="vads-l-col--12 medium-screen:vads-l-col--9">
            <!-- Title -->
            <p class="va-u-text-transform--uppercase vads-u-color--gray-medium vads-u-font-size--sm vads-u-margin-bottom--0">Video</p>
            <h2 class="vads-u-margin--0">{{ fieldClpVideoPanelHeader }}</h2>

            <!-- Video -->
            {% assign videoURL = fieldMedia.entity.fieldMediaVideoEmbedField | createEmbedYouTubeVideoURL %}
            {% if videoURL %}
              <iframe
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowFullScreen
                class="va-c-video vads-u-margin-top--4"
                frameBorder="0"
                height="315"
                src="{{ videoURL }}"
                title="{{ fieldMedia.entity.name | default: 'A related YouTube video' }}"
                width="100%"
              ></iframe>
            {% endif %}

            <!-- Video description -->
            {% if fieldMedia.entity.fieldDuration %}
              <p class="vads-u-font-size--sm vads-u-margin--0">
                {{ fieldMedia.entity.fieldDuration | formatSeconds }}
                {% if fieldMedia.entity.fieldDuration != empty && fieldMedia.entity.fieldPublicationDate.date != empty %}
                  &bull;
                {% endif %}
                {{ fieldMedia.entity.fieldPublicationDate.date | humanizeDate }}
              </p>
            {% endif %}

            {% if fieldMedia.entity.fieldDescription %}
              <p class="va-introtext vads-u-margin-top--1 vads-u-margin-bottom--0">{{ fieldMedia.entity.fieldDescription }}</p>
            {% endif %}

            <!-- Call to action -->
            {% if fieldClpVideoPanelMoreVideo %}
              <a
                class="vads-u-margin-top--4 usa-button usa-button-secondary vads-u-font-size--sm"
                href="{{ fieldClpVideoPanelMoreVideo.entity.fieldButtonLink.url.path }}"
                onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Video', 'clp-section-title': '{{ fieldClpVideoPanelHeader | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldClpVideoPanelMoreVideo.entity.fieldButtonLabel | escape }}' });"
              >
                {{ fieldClpVideoPanelMoreVideo.entity.fieldButtonLabel }}
                <i class="fa fa-chevron-right vads-u-margin-left--0p5" role="presentation" aria-hidden="true"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    <!--/Video -->

    <!-- Spotlight -->
    {% if fieldClpSpotlightPanel %}
      <div class="vads-l-grid-container vads-u-padding-y--3 vads-u-padding-x--4 large-screen:vads-u-padding-x--0">
        <div class="vads-l-row">
          <div class="vads-l-col--12 medium-screen:vads-l-col--9">
            <p class="va-u-text-transform--uppercase vads-u-color--gray-medium vads-u-font-size--sm vads-u-margin-bottom--0">Spotlight</p>
            <h2 class="vads-u-margin-top--0">{{ fieldClpSpotlightHeader }}</h2>
            <p class="va-introtext vads-u-margin-top--1 vads-u-margin-bottom--4">
              {{ fieldClpSpotlightIntroText }}
              <a
                href="{{ fieldClpSpotlightCta.entity.fieldButtonLink.url.path }}"
                onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Spotlight', 'clp-section-title': '{{ fieldClpSpotlightHeader | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldClpSpotlightCta.entity.fieldButtonLabel | escape }}'"
              >
                {{ fieldClpSpotlightCta.entity.fieldButtonLabel }}
              </a>
            </p>
          </div>
        </div>
        <div class="vads-l-row vads-u-margin-bottom--2 medium-screen:vads-u-margin-x--neg1">
          {% for linkTeaser in fieldClpSpotlightLinkTeasers %}
            <div class="vads-l-col--12 medium-screen:vads-l-col--4 vads-u-align-content--stretch vads-u-margin-y--1 ">
              <div class="vads-u-background-color--gray-light-alt vads-u-height--full medium-screen:vads-u-margin-x--1 medium-screen:vads-u-margin-y--0">
                <div class="vads-u-padding--2">
                  <h3 class="vads-u-margin-top--0">
                    <a
                      href="{{ linkTeaser.entity.fieldLink.uri }}"
                      onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Spotlight', 'clp-section-title': '{{ fieldClpSpotlightHeader | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ linkTeaser.entity.fieldLink.title | escape }}'"
                    >
                      {{ linkTeaser.entity.fieldLink.title }}
                    </a>
                  </h3>
                  <p class="vads-u-margin-top--1">{{ linkTeaser.entity.fieldLinkSummary }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <!-- / Spotlight -->

    <!-- Stories -->
    {% if fieldClpStoriesPanel %}
      <div class="vads-l-grid-container vads-u-padding-y--3 vads-u-padding-x--4 large-screen:vads-u-padding-x--0">
        <div class="vads-l-row">
          <!-- CONTENT -->
          <div class="vads-l-col--12 medium-screen:vads-l-col--9">
            <!-- Title -->
            <p class="va-u-text-transform--uppercase vads-u-color--gray-medium vads-u-font-size--sm vads-u-margin-bottom--0">Stories</p>
            <h2 class="vads-u-margin-top--0">{{ fieldClpStoriesHeader }}</h2>
            <p class="va-introtext vads-u-margin-top--1 vads-u-margin-bottom--4">{{ fieldClpStoriesIntro }}</p>

            <!-- List of stories -->
            {% if fieldClpStoriesTeasers != empty %}
              <div class="vads-u-display--flex vads-u-flex-direction--column">
                {% for storyTeaser in fieldClpStoriesTeasers %}
                  <div class="vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row vads-u-margin-bottom--4">
                    {% if storyTeaser.entity.fieldMedia.entity.thumbnail.url %}
                      <img
                        alt="{{ storyTeaser.entity.fieldMedia.entity.thumbnail.alt }}"
                        class="vads-l-col--12 medium-screen:vads-l-col--4 medium-screen:vads-u-margin-right--2"
                        src="{{ storyTeaser.entity.fieldMedia.entity.thumbnail.url }}"
                      />
                    {% endif %}
                    <div class="vads-u-margin-top--2 medium-screen:vads-u-margin-top--0">
                      <h3 class="vads-u-margin-top--0">
                        <a
                          href="{{ storyTeaser.entity.fieldLinkTeaser.entity.fieldLink.uri }}"
                          onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Stories', 'clp-section-title': '{{ fieldClpStoriesHeader | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ storyTeaser.entity.fieldLinkTeaser.entity.fieldLink.title | escape }}' });"
                        >
                          {{ storyTeaser.entity.fieldLinkTeaser.entity.fieldLink.title }}
                        </a>
                      </h3>
                      <p>{{ storyTeaser.entity.fieldLinkTeaser.entity.fieldLinkSummary }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            <!-- Call to action -->
            {% if fieldClpStoriesCta %}
              <a
                class="usa-button usa-button-secondary vads-u-font-size--sm"
                href="{{ fieldClpStoriesCta.entity.fieldButtonLink.url }}"
                onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Stories', 'clp-section-title': '{{ fieldClpStoriesHeader | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldClpStoriesCta.entity.fieldButtonLabel | escape }}' });"
                rel="noreferrer noopener"
                target="_blank"
              >
                See more stories
                <i class="fa fa-chevron-right vads-u-margin-left--0p5" role="presentation" aria-hidden="true"></i>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    {% endif %}
    <!--/Stories -->

    <!-- Downloadable Resources -->
    {% if fieldClpResourcesPanel %}
      <div class="vads-l-grid-container vads-u-padding-y--3 vads-u-padding-x--4 large-screen:vads-u-padding-x--0">
        <div class="vads-l-row">
          <div class="vads-l-col--12 medium-screen:vads-l-col--9">
            <!-- Title -->
            <p class="va-u-text-transform--uppercase vads-u-color--gray-medium vads-u-font-size--sm vads-u-margin-bottom--0">Downloadable resources</p>
            <h2 class="vads-u-margin-top--0">{{ fieldClpResourcesHeader }}</h2>
            <p class="va-introtext vads-u-margin-top--1 vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--4">{{ fieldClpResourcesIntroText }}</p>
          </div>
        </div>

        <div class="vads-l-row vads-u-margin-bottom--2 medium-screen:vads-u-margin-x--neg1">
          {% for resource in fieldClpResources %}
            <div class="vads-l-col--12 medium-screen:vads-l-col--4 vads-u-align-content--stretch vads-u-margin-y--1 ">
              <div class="vads-u-background-color--gray-light-alt vads-u-height--full vads-u-padding--2 vads-u-display--flex vads-u-flex-direction--column vads-u-justify-content--space-between medium-screen:vads-u-margin-x--1 medium-screen:vads-u-margin-y--0">
                <h3 class="vads-u-margin--0">{{ resource.entity.name }}</h3>
                <p class="vads-u-flex--1">{{ resource.entity.fieldDescription }}</p>
                <a
                  alt="Download {{ resource.entity.name }} PDF"
                  download
                  href="{{ resource.entity.fieldMediaExternalFile.uri }}"
                  onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Downloadable resources', 'clp-section-title': '{{ fieldClpResourcesHeader | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': 'Download {{ resource.entity.name | escape }}' });"
                >
                  Download (PDF)
                </a>
              </div>
            </div>
          {% endfor %}
        </div>

        {% if fieldClpResourcesCta %}
          <div class="vads-l-row">
            <div class="vads-u-col--12">
              <a
                class="usa-button usa-button-secondary vads-u-font-size--sm"
                href="{{ fieldClpResourcesCta.entity.fieldButtonLink.url.path }}"
                onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Downloadable resources', 'clp-section-title': '{{ fieldClpResourcesHeader | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldClpResourcesCta.entity.fieldButtonLabel | escape }}' });"
              >
                {{ fieldClpResourcesCta.entity.fieldButtonLabel }}
                <i class="fa fa-chevron-right vads-u-margin-left--0p5" role="presentation" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
    <!--/  Downloadable Resources -->

    <!-- Events -->
    {% if fieldClpEventsPanel %}
      <div class="vads-l-grid-container vads-u-padding-y--3 vads-u-padding-x--4 large-screen:vads-u-padding-x--0">

        <!-- Content -->
        <div class="vads-l-row">
          <div class="vads-l-col--12 medium-screen:vads-l-col--9">
            <!-- Title -->
            <p class="va-u-text-transform--uppercase vads-u-color--gray-medium vads-u-font-size--sm vads-u-margin-bottom--0">Events</p>
            <h2 class="vads-u-margin-top--0">{{ fieldClpEventsHeader }}</h2>
          </div>
        </div>

        <!-- List of events -->
        <div class="vads-l-row vads-u-margin-bottom--2 medium-screen:vads-u-margin-x--neg6">
          {% for eventReference in fieldClpEventsReferences %}
            <div class="vads-l-col--12 medium-screen:vads-l-col--6 {% if !forloop.first %}vads-u-margin-top--4 medium-screen:vads-u-margin-top--0{% endif %}">
              <div class="medium-screen:vads-u-margin-x--6">
                <!-- Title -->
                <h3 class="vads-u-margin-top--0">
                  {% if eventReference.entity.entityUrl.path %}
                    <a
                      href="{{ eventReference.entity.entityUrl.path }}"
                      onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Events', 'clp-section-title': '{{ fieldClpEventsHeader | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ eventReference.entity.title | escape }}' });"
                    >
                      {{ eventReference.entity.title }}
                    </a>
                  {% elsif %}
                    {{ eventReference.entity.title }}
                  {% endif %}
                </h3>

                <!-- Description -->
                <p>{{ eventReference.entity.fieldDescription }}</p>

                <!-- When -->
                <div class="vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row">
                  <p class="vads-u-font-weight--bold vads-u-margin--0 vads-u-margin-right--2">When</p>
                  <p class="vads-u-margin--0">
                    {% if eventReference.entity.fieldDatetimeRangeTimezone.value != empty %}
                      {{eventReference.entity.fieldDatetimeRangeTimezone.value | dateFromUnix: "dddd, MMM D, h:mm A" }} -
                      <br />
                      {{eventReference.entity.fieldDatetimeRangeTimezone.endValue | dateFromUnix: "dddd, MMM D, h:mm A" }}
                    {% endif %}
                    {% if eventReference.entity.fieldDatetimeRangeTimezone.timezone != empty %}
                      {{ eventReference.entity.fieldDatetimeRangeTimezone.timezone | timezoneAbbrev: fieldDatetimeRangeTimezone.value }}
                    {% endif %}
                  </p>
                </div>

                <!-- Where -->
                {% if eventReference.entity.fieldFacilityLocation.entity.entityUrl.path || eventReference.entity.fieldLocationHumanreadable != empty || eventReference.entity.fieldLink.uri %}
                  <div class="vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row vads-u-margin-top--2">
                    <p class="vads-u-font-weight--bold vads-u-margin--0 vads-u-margin-right--2">Where</p>

                    <!-- Event link -->
                    <div class="vads-u-display--flex vads-u-flex-direction--column">
                      <!-- Facility link -->
                      {% if eventReference.entity.fieldFacilityLocation.entity.entityUrl.path %}
                        <a
                          href="{{ eventReference.entity.fieldFacilityLocation.entity.entityUrl.path }}"
                          onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Events', 'clp-section-title': '{{ fieldClpEventsHeader | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ eventReference.entity.fieldFacilityLocation.entity.title | escape }}' });"
                          rel="noreferrer noopener"
                          target="_blank"
                        >
                          {{ eventReference.entity.fieldFacilityLocation.entity.title }}
                        </a>
                      {% endif %}

                      <!-- Event link -->
                      {% if eventReference.entity.fieldLink.uri %}
                        <a
                          href="{{ eventReference.entity.fieldLink.uri }}"
                          onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Events', 'clp-section-title': '{{ fieldClpEventsHeader | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ eventReference.entity.fieldEventCta | escape }}' });"
                          rel="noreferrer noopener"
                          target="_blank"
                        >
                          {{ eventReference.entity.fieldEventCta }}
                        </a>
                      {% endif %}


                      <!-- Online event link -->
                      {% if eventReference.entity.fieldUrlOfAnOnlineEvent.uri %}
                        <a
                          href="{{ eventReference.entity.fieldUrlOfAnOnlineEvent.uri }}"
                          onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Events', 'clp-section-title': '{{ fieldClpEventsHeader | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ eventReference.entity.fieldUrlOfAnOnlineEvent.uri | escape }}' });"
                        >
                      {% endif %}
                        <!-- Event address -->
                        {% if eventReference.entity.fieldLocationHumanreadable != empty %}
                          <p class="vads-u-margin--0">{{ eventReference.entity.fieldLocationHumanreadable }}</p>
                        {% endif %}
                      {% if eventReference.entity.fieldUrlOfAnOnlineEvent.uri %}
                        </a>
                      {% endif %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <!--/Events -->

    <!-- FAQs -->
    {% if fieldClpFaqPanel %}
      <div class="vads-l-grid-container vads-u-padding-y--3 vads-u-padding-x--4 large-screen:vads-u-padding-x--0">
        <div class="vads-l-row">
          <div class="vads-l-col--12 medium-screen:vads-l-col--9">
            <!-- Title -->
            <p class="va-u-text-transform--uppercase vads-u-color--gray-medium vads-u-font-size--sm vads-u-margin-bottom--0">FAQ</p>
            <h2 class="vads-u-margin-top--0">Frequently asked questions</h2>

            <!-- Questions/Answers -->
            <div class="usa-accordion-bordered vads-u-margin-y--2">
              <ul class="usa-unstyled-list">
                {% for faqParagraph in fieldClpFaqParagraphs %}
                  {% if faqParagraph.entity %}
                    <li data-faq-entity-id="{{ faqParagraph.entity.entityId }}">
                      <button aria-controls="{{ faqParagraph.entity.entityBundle }}-{{ faqParagraph.entity.entityId }}" class="usa-accordion-button usa-button-unstyled" aria-expanded="false" type="button">{{ faqParagraph.entity.fieldQuestion }}</button>
                      <div id="{{ faqParagraph.entity.entityBundle }}-{{ faqParagraph.entity.entityId }}" class="usa-accordion-content" aria-hidden="true">
                        {% assign fieldAnswer = faqParagraph.entity.fieldAnswer | first %}
                        {% assign bundleComponent = "src/site/paragraphs/" | append: fieldAnswer.entity.entityBundle %}
                        {% assign bundleComponentWithExtension = bundleComponent | append: ".drupal.liquid" %}
                        {% include {{ bundleComponentWithExtension }} with entity = fieldAnswer.entity %}
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        {% if fieldClpFaqCta %}
          <div class="vads-l-row">
            <div class="vads-u-col--12">
              <a
                class="usa-button usa-button-secondary vads-u-font-size--sm"
                href="{{ fieldClpFaqCta.entity.fieldButtonLink.url.path }}"
                onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'FAQ', 'clp-section-title': 'Frequently asked questions', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldClpFaqCta.entity.fieldButtonLabel | escape }}' });"
              >
                {{ fieldClpFaqCta.entity.fieldButtonLabel }}
                <i class="fa fa-chevron-right vads-u-margin-left--0p5" role="presentation" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}
    <!--/  FAQs -->

    <!-- Connect with us -->
    {% assign socialLinksObject = fieldClpConnectWithUs.entity.fieldSocialMediaLinks.platformValues | jsonToObj %}
      <div class="vads-l-grid-container vads-u-padding-y--3 vads-u-padding-x--4 large-screen:vads-u-padding-x--0">
        <div class="vads-l-row">
          <!-- CONTENT -->
          <div class="vads-l-col--12 medium-screen:vads-l-col--9">
            <!-- Title -->
            <p class="va-u-text-transform--uppercase vads-u-color--gray-medium vads-u-font-size--sm vads-u-margin-bottom--0">Connect with us</p>
            <h2 class="vads-u-margin-top--0">Get updates from {{ fieldClpConnectWithUs.entity.name }}</h2>
          </div>
        </div>

        <div class="vads-l-row medium-screen:vads-u-margin-x--neg1">
          {% if fieldClpConnectWithUs.entity.fieldEmailUpdatesUrl %}
            <div class="vads-l-col--12 medium-screen:vads-l-col--4">
              <div class="vads-u-margin-y--1 medium-screen:vads-u-margin-x--1">
                <a
                  aria-label="{{ fieldClpConnectWithUs.entity.fieldEmailUpdatesLinkText }} (opens in a new window)"
                  href="{{ fieldClpConnectWithUs.entity.fieldEmailUpdatesUrl }}"
                  onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Connect with us', 'clp-section-title': 'Get updates from {{ fieldClpConnectWithUs.entity.name | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldClpConnectWithUs.entity.fieldEmailUpdatesLinkText | escape }}' });"
                  rel="noreferrer noopener"
                  target="_blank"
                >
                  <i aria-hidden="true" class="fas fa-envelope vads-u-padding-right--1"></i>
                  {{ fieldClpConnectWithUs.entity.fieldEmailUpdatesLinkText }}
                </a>
              </div>
            </div>
          {% endif %}

          {% if socialLinksObject.twitter.value %}
            <div class="vads-l-col--12 medium-screen:vads-l-col--4">
              <div class="vads-u-margin-y--1 medium-screen:vads-u-margin-x--1">
                <a
                  aria-label="{{ fieldClpConnectWithUs.entity.name }} Twitter (opens in a new window)"
                  href="https://twitter.com/{{ socialLinksObject.twitter.value }}"
                  onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Connect with us', 'clp-section-title': 'Get updates from {{ fieldClpConnectWithUs.entity.name | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldClpConnectWithUs.entity.name | escape }} Twitter' });"
                  rel="noreferrer noopener"
                  target="_blank"
                >
                  <i aria-hidden="true" class="fab fa-twitter vads-u-padding-right--1"></i>
                  {{ fieldClpConnectWithUs.entity.name }} Twitter
                </a>
              </div>
            </div>
          {% endif %}

          {% if socialLinksObject.facebook.value %}
            <div class="vads-l-col--12 medium-screen:vads-l-col--4">
              <div class="vads-u-margin-y--1 medium-screen:vads-u-margin-x--1">
                <a
                  aria-label="{{ fieldClpConnectWithUs.entity.name }} Facebook (opens in a new window)"
                  href="https://facebook.com/{{ socialLinksObject.facebook.value }}"
                  onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Connect with us', 'clp-section-title': 'Get updates from {{ fieldClpConnectWithUs.entity.name | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldClpConnectWithUs.entity.name | escape }} Facebook' });"
                  rel="noreferrer noopener"
                  target="_blank"
                >
                  <i aria-hidden="true" class="fab fa-facebook vads-u-padding-right--1"></i>
                  {{ fieldClpConnectWithUs.entity.name }} Facebook
                </a>
              </div>
            </div>
          {% endif %}

          {% if socialLinksObject.youtube.value %}
            <div class="vads-l-col--12 medium-screen:vads-l-col--4">
              <div class="vads-u-margin-y--1 medium-screen:vads-u-margin-x--1">
                <a
                  aria-label="{{ fieldClpConnectWithUs.entity.name }} YouTube (opens in a new window)"
                  href="https://youtube.com/{{ socialLinksObject.youtube.value }}"
                  onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Connect with us', 'clp-section-title': 'Get updates from {{ fieldClpConnectWithUs.entity.name | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldClpConnectWithUs.entity.name | escape }} YouTube' });"
                  rel="noreferrer noopener"
                  target="_blank"
                >
                  <i aria-hidden="true" class="fab fa-youtube vads-u-padding-right--1"></i>
                  {{ fieldClpConnectWithUs.entity.name }} YouTube
                </a>
              </div>
            </div>
          {% endif %}

          {% if socialLinksObject.linkedin.value %}
            <div class="vads-l-col--12 medium-screen:vads-l-col--4">
              <div class="vads-u-margin-y--1 medium-screen:vads-u-margin-x--1">
                <a
                  aria-label="{{ fieldClpConnectWithUs.entity.name }} Linkedin (opens in a new window)"
                  href="https://linkedin.com/{{ socialLinksObject.linkedin.value }}"
                  onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Connect with us', 'clp-section-title': 'Get updates from {{ fieldClpConnectWithUs.entity.name | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldClpConnectWithUs.entity.name | escape }} Linkedin' });"
                  rel="noreferrer noopener"
                  target="_blank"
                >
                  <i aria-hidden="true" class="fab fa-linkedin vads-u-padding-right--1"></i>
                  {{ fieldClpConnectWithUs.entity.name }} Linkedin
                </a>
              </div>
            </div>
          {% endif %}

          {% if socialLinksObject.instagram.value %}
            <div class="vads-l-col--12 medium-screen:vads-l-col--4">
              <div class="vads-u-margin-y--1 medium-screen:vads-u-margin-x--1">
                <a
                  aria-label="{{ fieldClpConnectWithUs.entity.name }} Instagram (opens in a new window)"
                  href="https://instagram.com/{{ socialLinksObject.instagram.value }}"
                  onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'Connect with us', 'clp-section-title': 'Get updates from {{ fieldClpConnectWithUs.entity.name | escape }}', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ fieldClpConnectWithUs.entity.name | escape }} Instagram' });"
                  rel="noreferrer noopener"
                  target="_blank"
                >
                  <i aria-hidden="true" class="fab fa-instagram vads-u-padding-right--1"></i>
                  {{ fieldClpConnectWithUs.entity.name }} Instagram
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    <!-- Connect with us -->

    <!-- VA Benefits -->
    {% if fieldBenefitCategories != empty %}
      <div class="vads-l-grid-container vads-u-padding-y--3 vads-u-padding-x--4 large-screen:vads-u-padding-x--0">
        <div class="vads-l-row">
          <div class="vads-l-col--12 medium-screen:vads-l-col--9">
            <!-- Title -->
            <p class="va-u-text-transform--uppercase vads-u-color--gray-medium vads-u-font-size--sm vads-u-margin-bottom--0">VA Benefits</p>
            <h2 class="vads-u-margin-top--0 vads-u-margin-bottom--3">Learn more about related VA benefits</h2>
          </div>
        </div>

        <div class="vads-l-row medium-screen:vads-u-margin-x--neg6">
          {% for benefitCategory in fieldBenefitCategories %}
            <div class="vads-l-col--12 medium-screen:vads-l-col--6 {% if !forloop.first %}vads-u-margin-top--2 medium-screen:vads-u-margin-top--0{% endif %}">
              <div class="medium-screen:vads-u-margin-x--6">
                <div class="vads-u-display--flex vads-u-align-items--center">
                  <div class="inline hub-main-icon vads-u-margin-right--2">
                    <i class="icon-large white hub-icon-{{ benefitCategory.entity.fieldTitleIcon }} hub-background-{{ benefitCategory.entity.fieldTitleIcon }}" role="presentation" aria-hidden="true"></i>
                  </div>
                  <a
                    onclick="recordEvent({ 'event': 'clp-link-click', 'clp-section-category': 'VA Benefits', 'clp-section-title': 'Learn more about related VA benefits', 'clp-total-sections': '{{ clpTotalSections }}', 'clp-click-label': '{{ benefitCategory.entity.title | escape }}' });"
                    href="{{ benefitCategory.entity.entityUrl.path }}"
                  >
                    {{ benefitCategory.entity.title }}
                  </a>
                </div>
                <p class="vads-u-margin-top--0">{{ benefitCategory.entity.fieldTeaserText }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
    <!--/  VA Benefits -->

    <!-- Last Updated -->
    <div class="vads-l-grid-container vads-u-background-color--white vads-u-padding-y--6 vads-u-padding-top--3 vads-u-padding-x--4 large-screen:vads-u-padding-x--0">
      <div class="vads-l-row">
        <div class="vads-l-col--12 medium-screen:vads-l-col--9">
          <div class="last-updated">
            Last updated: <time
              datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
          </div>
        </div>
      </div>
    </div>
    {% include "src/site/components/up_to_top_button.html" %}
  </main>
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
