{% comment %}
    Example data:
    {
    "entityId": "152",
    "entityBundle": "event",
    "entityPublished": true,
    "title": "Test Event",
    "entityUrl": {
    "breadcrumb": [
    {
    "url": {
    "path": "/",
    "routed": true
    },
    "text": "Home"
    },
    {
    "url": {
    "path": "/pittsburgh-health-care",
    "routed": true
    },
    "text": "Pittsburgh Health Care System"
    }
    ],
    "path": "/pittsburgh-health-care/events/test-event"
    },
    "fieldEventDate": {
    "date": "2019-03-15 08:00:00 UTC",
    "value": "2019-03-15T08:00:00"
    },
    "fieldEventDateEnd": {
    "date": "2019-03-15 11:00:00 UTC",
    "value": "2019-03-15T11:00:00"
    },
    "fieldAddress": {
    "addressLine1": "123 Anywhere St.",
    "addressLine2": "",
    "locality": "Pittsburgh",
    "administrativeArea": "PA"
    },
    "fieldFacilityLocation": {
    "entity": {
    "title": "H. John Heinz III Department of Veterans Affairs Medical Center",
    "fieldFacilityLocatorApiId": "VHA_646A4",
    "entityUrl": {
    "path": "/pittsburgh-health-care/locations/heinz-medical-center"
    }
    }
    },
    "fieldLocationHumanreadable": "Kittery Public Library, 3rd Floor Meeting Room",
    "fieldDescription": "This is an event to test. ",
    "fieldBody": {
    "processed": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim vel tellus a posuere. Quisque cursus a turpis nec lobortis. Nunc sit amet massa pellentesque, dictum leo a, aliquet neque. Duis ac vulputate quam, at varius sem. Maecenas lacinia, elit quis imperdiet convallis, ligula tortor ullamcorper ante, nec venenatis tortor sapien eu est. Integer rhoncus leo quis augue hendrerit interdum. Duis ornare venenatis ornare. Aliquam quis nisl ipsum.</p>\n\n<p>Nam lobortis arcu ac maximus gravida. Nunc id odio sed nisi gravida pulvinar. Duis eleifend erat nec enim convallis, id cursus risus convallis. Phasellus et commodo turpis. Etiam augue est, sollicitudin id facilisis id, interdum quis est. Cras at ex sed est finibus fermentum. Nullam rhoncus libero vel tellus suscipit, quis eleifend elit dictum. Donec feugiat velit consequat ex mattis ornare. Praesent vel odio accumsan, blandit sapien et, euismod mauris.</p>"
    },
    "fieldEventCost": "8",
    "fieldEventRegistrationrequired": false,
    "fieldAdditionalInformationAbo": "Registration isn't required."
    }
    ]
    }
{% endcomment %}
{% if header == empty %}
    {% assign header = "h4" %}
{% endif %}
{% include "src/site/includes/header.html" %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<div id="content" class="interior">
    <main class="va-l-detail-page">
        <div class="usa-grid usa-grid-full">
            {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with facilitySidebar %}
            <div class="usa-width-three-fourths">
                {% if !entityPublished %}
                    <div class="usa-alert usa-alert-info" >
                        <div class="usa-alert-body">
                            <p class="usa-alert-text">You are viewing a draft.</p>
                        </div>
                    </div>
                {% endif %}

                <article class="usa-content">
                    <div class="usa-grid usa-grid-full">
                        <h1>{{ title }}</h1>
                        <div class="va-introtext">
                            <p>{{ fieldDescription }}</p>
                        </div>

                        <div class="usa-width-one-half">
                            {% assign facility = fieldFacilityLocation.entity %}
                            <dl class="va-c-event-info">
                                <dt class="vads-u-font-weight--bold">When:</dt>
                                <dd>
                                    <span class="va-event-day vads-u-display--block">{{ fieldDate.value | formatDate: 'ddd, MMM Do' }}</span>
                                    <span class="va-event-time">{{ fieldDate.value | formatDate: 'h:mm a' }} - {{ fieldDate.value | formatDate: 'h:mm a' }}</span>
                                </dd>
                            </dl>

                            <dl>
                                <dt class="vads-u-font-weight--bold">Where:</dt>
                                <dd>
                                    <p class="vads-u-margin--0"><a href="{{ facility.entityUrl.path }}">{{ facility.title }}</a></p>
                                    <p class="vads-u-margin--0">{{ fieldLocationHumanreadable }}</p>
                                </dd>

                            </dl>

                            {% if fieldEventCost %}
                                <dl>
                                    <dt class="vads-u-font-weight--bold">Cost:</dt>
                                    <dd><span>{{ fieldEventCost }}</span></dd>
                                </dl>
                            {% endif %}
                        </div>

                        <div class="usa-width-one-half va-c-event-share">
                            <ul class="vads-u-margin-bottom--1 usa-unstyled-list">
                                {% if addToCalendarLink %}
                                    <li><i class="va-c-social-icon fas fa-calendar-check"></i>  <a href="{{ addToCalendarLink }}"> Add to Calendar</a></li>
                                {% endif %}
                                <li><i class="va-c-social-icon fab fa-facebook"></i>  <a href=""> Share on Facebook</a></li>
                                <li><i class="va-c-social-icon fab fa-twitter"></i>  <a href=""> Share on Twitter</a></li>
                            </ul>
                        </div>
                    </div>

                    {% if fieldAdditionalInformationAbo %}
                        <div class="registration">
                            <p class="vads-u-font-weight--bold">Registration</p>
                            <p>{{ fieldAdditionalInformationAbo }}</p>
                        </div>
                    {% endif %}

                    <div class="usa-grid usa-grid-full">
                        <div class="event-description">
                            {{ fieldBody.processed }}
                        </div>
                    </div>

                    <a href="#">See all community events</a>
                </article>

                <div class="last-updated usa-content">
                    Last updated: <time datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
                </div>
            </div>
        </div>
    </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
