{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true deriveBreadcrumbsFromUrl = true replaceLastItem = true %}

{% include "src/site/includes/date.drupal.liquid" %}

<div class="interior" id="content">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      {% if entityUrl.path contains "/outreach-and-events" %}
        {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = outreachSidebar %}
      {% else %}
        {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
      {% endif %}

      <div class="usa-width-three-fourths">
        <article aria-labelledby="article-heading" class="usa-content" role="region">
          <div class="usa-grid usa-grid-full">
            <h1 id="article-heading" class="{% if fieldMedia %}vads-u-margin-bottom--4{% else %}vads-u-margin-bottom--2{% endif %}">
              {{ title }}</h1>
            {% if fieldMedia %}
              <img class="event-detail-img vads-u-margin-bottom--3 medium-screen:vads-u-margin-bottom--4" alt="{{fieldMedia.entity.image.alt}}" src="{{fieldMedia.entity.image.derivative.url}}"/>
            {% endif %}
            <div class="va-introtext">
              <p class="vads-u-margin-top--0 vads-u-margin-bottom--1 medium-screen:vads-u-margin-bottom--4">
                {{ fieldDescription }}</p>
            </div>

            <div class="usa-width-one-half vads-u-margin-bottom--2p5 medium-screen:vads-u-margin-bottom--0">
              {% assign facility = fieldFacilityLocation.entity %}
              <dl class="va-c-event-info">
                <dt class="vads-u-font-weight--bold when-where-width vads-u-margin-right--2">
                  When
                </dt>
                <dd>
                  {% if date_type == "start_date_only" %}
                    <span>{{ start_date_no_time }}</span><br>
                    <span>{{ start_time }}</span>
                  {% else %}
                    {% if date_type == "same_day" %}
                      <span>{{ start_date_no_time }}</span><br>
                      <span>{{ start_time }}
                        –
                        {{ end_time }}</span>
                    {% else %}
                      <span>{{ start_date_full }}
                        –</span><br>
                      <span>{{ end_date_full }}</span>
                    {% endif %}
                  {% endif %}
                  <span>{{ timezone }}</span>
                </dd>
              </dl>

              {% if fieldFacilityLocation or fieldAddress.addressLine1 %}
                <dl class="va-c-event-info">
                  <dt class="vads-u-font-weight--bold when-where-width vads-u-margin-right--2">
                    Where</dt>
                  <dd>
                    {% if facility %}
                      <p class="vads-u-margin--0">
                        <a href="{{ facility.entityUrl.path }}">{{ facility.title }}</a>
                      </p>
                      <p class="vads-u-margin--0">{{ fieldLocationHumanreadable }}</p>
                    {% else %}
                      {% if fieldAddress.addressLine1 %}
                        <p class="vads-u-margin--0">{{ fieldAddress.addressLine1 }}</p>
                      {% endif %}
                      {% if fieldAddress.addressLine2 %}
                        <p class="vads-u-margin--0">{{ fieldAddress.addressLine2 }}</p>
                      {% endif %}
                      <p class="vads-u-margin--0">
                        {% if fieldAddress.locality %}
                          {{ fieldAddress.locality }}
                        {% endif %}
                        {% if fieldAddress.administrativeArea %}
                          ,
                          {{ fieldAddress.administrativeArea }}
                        {% endif %}
                      </p>
                    {% endif %}
                  </dd>
                </dl>
              {% endif %}

                {% if fieldEventCost %}
                    <dl class="va-c-event-info">
                      <dt class="vads-u-font-weight--bold vads-u-margin-right--2">Cost</dt>
                      <dd>
                        <span>{{ fieldEventCost }}</span>
                      </dd>
                    </dl>
                {% endif %}
                {% if fieldLink or fieldEventCta or fieldAdditionalInformationAbo %}
                  <div class="registration vads-u-margin-top--4 vads-u-margin-bottom--3 medium-screen:vads-u-margin-bottom--1">
                      <p class="vads-u-font-weight--bold vads-u-margin-top--0 vads-u-margin-bottom--1">Registration</p>
                      {% if start_timestamp < current_timestamp %}
                          <p class="vads-u-margin--0 vads-u-color--secondary vads-u-font-weight--bold">This event already happened.</p>
                      {% else %}
                          {% if fieldLink %}
                              <p class="vads-u-margin--0">
                                <a href="{{ fieldLink.url.path }}">
                                  <button class="vads-u-margin--0">
                                    {% if fieldEventCta %}
                                      {{ fieldEventCta | removeUnderscores | capitalize }}
                                    {% else %}
                                      More details
                                    {% endif %}
                                  </button>
                                </a>
                              </p>
                          {% endif %}
                          {% if fieldAdditionalInformationAbo %}
                              <p class="vads-u-margin--0">{{ fieldAdditionalInformationAbo.processed | outputLinks }}</p>
                          {% endif %}
                      {% endif %}
                  </div>
                {% endif %}
            </div>

            <div class="usa-width-one-half va-c-event-share vads-u-margin-bottom--1">
              {% include "src/site/includes/social-share.drupal.liquid" %}
            </div>
          </div>

          <div class="usa-grid usa-grid-full vads-u-margin-top--2">
            <div class="event-description">
              {{ fieldBody.processed }}
            </div>
          </div>
          {% assign index = entityUrl.breadcrumb.length | minus: 2 %}
          <a onclick="recordEvent({ event: 'nav-secondary-button-click' });"
             href="{{ entityUrl.breadcrumb | getValueFromArrayObjPath: index, 'url.path' }}">
            See all events
          </a>
        </article>

        <div class="last-updated usa-content">
          Last updated:
          <time datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
        </div>
      </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
