{% comment %}
Required variable: node - the news story entity
Optional variable: header - the header level ('h2','h3', etc.) defaults to h4
Example data:
  {
    "title": "Elit Et Euismod",
    "fieldEventDate": {
      "value": "2019-09-12T16:43:50"
    },
    "fieldEventDateEnd": {
      "value": "2018-10-24T00:15:48"
    },
    "fieldDescription": "neprus pabun upretrishawri..."
    "entityUrl": {
    "path": "/node/97"
    }
  }
{% endcomment %}
{% if header == empty %}
    {% assign header = "h4" %}
{% endif %}
<div>
    <{{ header }}><a href="{{ node.entityUrl.path }}">{{ node.title }}</a></{{ header }}>
    <p>{{ node.fieldDescription | truncatewords: 60, "..." }}</p>

</div>
