{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<div class="interior" id="content">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">
      {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with facilitySidebar %}
      <div class="usa-width-three-fourths">
       {% include "src/site/components/navigation-sidebar-trigger.html" with menuId = "va-detailpage-sidebar" %}
        <article class="usa-content">
          <h1>{{ title }}</h1>
          <div class="va-introtext">
            <p>{{ fieldIntroText }}</p>
          </div>

          {% if entityUrl.path = '/contact' %}
            <div class="usa-grid usa-grid-full vads-u-margin-y--1p5">
              <div class="usa-width-one-third">
                <a class="usa-button" href="{{ entityUrl.path }}/appointments">Make an appointment</a>
              </div>
              <div class="usa-width-one-third">
                <a class="usa-button" href="{{ entityUrl.path }}/">View A-Z Health Services</a>
              </div>
              <div class="usa-width-one-third">
                <a class="usa-button" href="{{ entityUrl.path }}/become-a-patient">Become a patient</a>
              </div>
            </div>
          {% endif %}

          {% assign widgetDelta = 1 %}
          {% for block in fieldContentBlock %}
            {% if block.entity.entityBundle == 'react_widget' and block.entity.fieldCtaWidget == false %}
              {% assign reactRoot = 'react-widget-' | append: widgetDelta %}
              {% assign block.entity.reactRoot = reactRoot %}
              {% assign widgetDelta = widgetDelta | plus: 1 %}
            {% endif %}

            {% assign bundleComponent = "src/site/paragraphs/" | append: block.entity.entityBundle %}
            {% assign bundleComponentWithExtension = bundleComponent | append: ".drupal.liquid" %}
            {% include {{ bundleComponentWithExtension }} with entity = block.entity %}
          {% endfor %}

          {% if fieldMedia != empty %}
            <section class="vads-u-margin-bottom--5">
              <div class="vads-u-font-weight--bold vads-u-margin-bottom--1p5">Download media assets</div>
              {% for asset in fieldMedia %}
                {% assign a = asset.entity %}
                <ul class="vads-u-margin-bottom--1 usa-unstyled-list">
                  <li>
                    {% case a.entityBundle %}
                  {% when 'document' %}
                    <a href="{{ a.fieldDocument.entity.url }}" download>{{ a.name }}</a>
                  {% when a.entityBundle === 'image' %}
                    <a href="{{ a.image.url }}" download>{{ a.name }}</a>
                  {% when a.entityBundle === 'video' %}
                    <a href="{{ a.fieldMediaVideoEmbedField }}">{{ a.name }}</a>
                    {%  endcase %}
                  </li>
                </ul>
              {% endfor %}
            </section>
          {%  endif %}

          {% if fieldRelatedLinks != empty and fieldRelatedLink.entity.fieldVaParagraphs.length and fieldRelatedLink.entity.fieldVaParagraphs.0.fieldLink != empty %}
            <div class="row">
              <div class="usa-content columns">
                <aside class="va-nav-linkslist va-nav-linkslist--related">
                  {% include 'src/site/paragraphs/list_of_link_teasers.drupal.liquid' entity = fieldRelatedLinks.entity %}
                </aside>
              </div>
            </div>
          {%  endif %}

        </article>
        <div class="last-updated usa-content">
          Last updated:
          <time datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
        </div>
      </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
