{% comment %}
Example data:
"entityUrl": {
  "breadcrumb": [
    {
      "url": {
        "path": "/",
        "routed": true
      },
      "text": "Home"
    }
  ],
  "path": "/pittsburgh-health-care"
},
"entityId": "83",
"entityBundle": "health_care_region_page",
"entityPublished": true,
"title": "Pittsburgh Health Care System",
"fieldMedia": {
  "entity": {
    "image": {
      "alt": "U Drive",
      "title": "",
      "derivative": {
        "url": "http://vagovcms.lndo.site/sites/default/files/styles/crop_2_1/public/2019-02/university-drive-consolidation-building2.jpg?itok=Gb4BrUjw",
        "width": 480,
        "height": 330
      }
    }
  }
},
"fieldIntroText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit....
"fieldRelatedLinks": {
  "entity": {
    "parentFieldName": "field_related_links",
    "fieldTitle": "Popular in Pittsburgh",
    "fieldVaParagraphs": [
      {
        "entity": {
          "fieldLink": {
            "uri": "internal:#",
            "title": "Phone Directory",
            "options": null
          },
          "fieldLinkSummary": null
        }
      },
      {
        "entity": {
          "fieldLink": {
            "uri": "internal:#",
            "title": "Billing and insurance",
            "options": null
          },
          "fieldLinkSummary": null
        }
      },
      {
        "entity": {
          "fieldLink": {
            "uri": "internal:#",
            "title": "Patient advocates",
            "options": null
          },
          "fieldLinkSummary": null
        }
      },
      {
        "entity": {
          "fieldLink": {
            "uri": "internal:#",
            "title": "Library",
            "options": null
          },
          "fieldLinkSummary": null
        }
      }
    ]
  }
},
"localFacilities": {
  "entities": [
    {
      "title": "Fayette County VA Clinic",
      "fieldFacilityLocatorApiId": "vha_646ge"
    },
    {
      "title": "H. John Heinz III Department of Veterans Affairs Medical Center",
      "fieldFacilityLocatorApiId": "vha_646A4"
    },
    {
      "title": "Pittsburgh VA Medical Center-University Drive",
      "fieldFacilityLocatorApiId": "vha_646"
    },
    {
      "title": "Washington County VA Clinic",
      "fieldFacilityLocatorApiId": "vha_646gd"
    }
  ]
},
"newsStoryTeasers": {
  "entities": [
    {
      "title": "Test Story",
      "fieldIntroText": "This is a story",
      "fieldMedia": null,
      "entityUrl": {
        "path": "/test-story"
      }
    },
    {
      "title": "Test Story 2",
      "fieldIntroText": null,
      "fieldMedia": null,
      "entityUrl": {
        "path": "/test-story-2"
      }
    }
  ]
}
{% endcomment %}
{% include "src/site/includes/header.html" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<div id="content" class="interior">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">
    <nav class="usa-width-one-fourth va-sidebarnav" id="va-detailpage-sidebar"></nav>
    <div class="usa-width-three-fourths">
      {% if !entityPublished %}
        <div class="usa-alert usa-alert-info" >
          <div class="usa-alert-body">
            <p class="usa-alert-text">You are viewing a draft.</p>
          </div>
        </div>
      {% endif %}

      <article class="usa-content">
        <h1>{{ title }}</h1>
        {% assign image = fieldMedia.entity.image %}
        <img src="{{ image.derivative.url }}" alt="{{ image.alt }}" title="{{ image.title }}" width="{{ image.derivative.width }}" height="{{ image.derivative.height }}">
        <div class="usa-grid usa-grid-full facility-main-cta">
          <div class="usa-width-one-third facility-main-cta-item">
            <a class="" href="{{ entityUrl.path }}/appointments">Make an appointment</a>
          </div>
          <div class="usa-width-one-third facility-main-cta-item">
            <a class="" href="{{ entityUrl.path }}/">View A-Z Health Services</a>
          </div>
          <div class="usa-width-one-third facility-main-cta-item">
            <a class="" href="{{ entityUrl.path }}/become-a-patient">Become a patient</a>
          </div>
        </div>

        <div class="usa-font-lead">
          <p>{{ fieldIntroText }}</p>
        </div>

        <section>
          <h3>Main Locations</h3>
{% comment %}
          <div class="cta-widget" data-widget-type="facility-locations-list" data-facilities="{{ mainFacilities.entities | widgetFacilitiesList | escape }}"></div>
{% endcomment %}
          <button class="usa-button-secondary fa-chevron-right">
            <a href="{{ entityUrl.path }}/locations">
              See all locations
            </a>
          </button>
        </section>

        <!-- "Manage your health online" section -->
        <section class="facility-hub-cta">
          <h3>Manage your health online</h3>
          <div class="usa-grid usa-grid-full">
            <a href="#" class="usa-width-one-half hub-section-link">
              Refill and track your prescriptions
            </a>
            <a href="#" class="usa-width-one-half hub-section-link">
              Get you VA medical records (Blue Button)
            </a>
          </div>
          <div class="usa-grid usa-grid-full">
            <a href="#" class="usa-width-one-half hub-section-link">
              Send a secure message to your health care team
            </a>
            <a href="#" class="usa-width-one-half hub-section-link">
              View your lab and test results
            </a>
          </div>
          <div class="usa-grid usa-grid-full">
            <a href="#" class="usa-width-one-half hub-section-link hub-section-link-last-line">
              Schedule and view your appointments
            </a>
            <a href="#" class="usa-width-one-half hub-section-link hub-section-link-last-line">
              Order hearing aid batteries and prosthetic socks
            </a>
          </div>
        </section>


        <!-- List of links section -->
        <section>
          {% include "src/site/paragraphs/list_of_link_teasers_facility.drupal.liquid" with paragraph = fieldRelatedLinks.entity %}
        </section>

          <!-- Stories -->
        <section>
          <h3>Community Stories</h3>
          {% for story in newsStoryTeasers.entities %}
            {% include "src/site/teasers/news_story.drupal.liquid" with node = story %}
          {% endfor %}
          <button class="usa-button-secondary fa-chevron-right">
            <a href="{{ entityUrl.path }}/news">
              See all community stories
            </a>
          </button>
        </section>

        <!-- Events -->
        <section>
          <h3>Events</h3>
          <div class="usa-grid usa-grid-full">
          {% for event in eventTeasers.entities %}
            <div class="usa-width-one-half">
            {% include "src/site/teasers/event.drupal.liquid" with node = event %}
            </div>
          {% endfor %}
          </div>
          <button class="usa-button-secondary fa-chevron-right">
            <a href="{{ entityUrl.path }}/events">
              See all events
            </a>
          </button>
        </section>
    </article>
    </div>
</main>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
