{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true deriveBreadcrumbsFromUrl = true %}

<div class="interior" id="content">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
      <div class="usa-width-three-fourths">
        <article class="usa-content va-l-facility-detail">
          {% if title != empty %}
            <h1>{{ title }}</h1>
          {% endif %}

          {% if fieldIntroText != empty %}
            <div class="va-introtext">
              <p>{{ fieldIntroText }}</p>
            </div>
          {% endif %}

          <div
            class="usa-grid usa-grid-full vads-u-margin-y--1p5 vads-u-margin-bottom--6">
            {% assign basePath = entityUrl.path | regionBasePath %}
            {% include "src/site/facilities/facilities_health_services_buttons.drupal.liquid" with path = basePath %}
          </div>

          <nav id="table-of-contents" class="vads-u-margin-bottom--5">
            <h2 class="vads-u-margin-bottom--2 vads-u-font-size--lg">On this page</h2>
            <ul class="usa-unstyled-list"></ul>
          </nav>

          <h2 class="vads-u-line-height--1 vads-u-margin-bottom--3">Location and
            contact information</h2>
          <div
            class="region-list usa-grid usa-grid-full vads-u-display--flex vads-u-flex-direction--column small-screen:vads-u-flex-direction--row facility vads-u-margin-bottom--2p5 vads-u-margin-bottom--4">


            <div
              class="usa-width-two-thirds vads-u-display--block vads-u-width--full">
              <div>
                <div class="vads-c-facility-detail">
                  {% if fieldOperatingStatusFacility and fieldOperatingStatusFacility != 'normal' %}
                    <div class="vads-u-display--inline-block vads-u-margin-bottom--2p5">
                      {% include "src/site/includes/operatingStatusFlags.drupal.liquid" %}
                    </div>
                  {% endif %}
                  <section class="vads-facility-detail">
                    <h3
                      class="vads-u-font-size--lg vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">
                      Address
                    </h3>
                    <div class="vads-u-margin-bottom--3">
                      <div>{{ fieldAddress.addressLine1 }}</div>
                      {{ fieldAddress.locality }},
                      {{ fieldAddress.administrativeArea }}
                      {{ fieldAddress.postalCode }}
                      <div><a
                          href="https://maps.google.com?saddr=Current+Location&daddr={{ fieldAddress.addressLine1 }}, {{ fieldAddress.locality }}, {{ fieldAddress.postalCode }}"
                          target="_blank"
                          rel="noopener noreferrer">Directions</a>
                      </div>
                    </div>
                    <h3
                      class="vads-u-font-size--lg vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">
                      Phone numbers
                    </h3>
                    <div class="vads-u-margin-bottom--0">
                      <div class="main-phone vads-u-margin-bottom--1">
                        <strong>Main phone:
                        </strong><a
                          href="tel:{{ fieldPhoneNumber }}">{{ fieldPhoneNumber }}</a>
                      </div>
                      {% if fieldMentalHealthPhone %}
                        <div class="mental-health-clinic-phone"><strong>Mental
                            health clinic:
                          </strong><a
                            href="tel:{{ fieldMentalHealthPhone }}">{{ fieldMentalHealthPhone }}</a>
                        </div>
                      {% endif %}
                    </div>
                    <div class="vads-u-margin-bottom--0">
                      <div class="clinicalhours">
                        <h3
                          class="vads-u-margin-top--2p5 vads-u-margin-bottom--1">
                          Clinical hours
                        </h3>
                        <div
                          class="vads-u-display--flex vads-u-flex-direction--column small-screen:vads-u-flex-direction--row vads-u-margin-bottom--0">
                          <ul
                            class="vads-u-flex--1 va-c-facility-hours-list vads-u-margin-top--0 vads-u-margin-bottom--1 small-screen:vads-u-margin-bottom--0 vads-u-margin-right--3">
                            {% for hours in fieldFacilityHours.value limit: 5 %}
                              <li><b class="abbrv-day">{{ hours.0 }}:</b>
                                {{ hours.1 }}
                              </li>
                            {% endfor %}
                          </ul>
                          <ul
                            class="vads-u-flex--1 va-c-facility-hours-list vads-u-margin-top--0 'vads-u-margin-bottom--0">
                            {% for hours in fieldFacilityHours.value offset: 5 limit: 2 %}
                              <li><b class="abbrv-day">{{ hours.0 }}:</b>
                                {{ hours.1 }}
                              </li>
                            {% endfor %} </ul>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>


            <div
              class="usa-width-one-third inline-table-helper vads-u-order--first small-screen:vads-u-order--initial vads-u-margin-bottom--2 vads-u-margin-left--auto facility">
              <!-- facility image -->
              {% if fieldMedia.entity.image != empty %}
                {% assign image = fieldMedia.entity.image %}
                <a href="#" rel="noopener noreferrer" target="_blank"
                   id="google-map-link-image">
                  <img class="facility-img" src="{{ image.derivative.url }}"
                       alt="{{ image.alt }}" title="{{ image.title }}"
                       width="{{ image.derivative.width }}"
                       height="{{ image.derivative.height }}" />
                </a>
              {% endif %}
              <div data-widget-type="facility-map"
                   data-facility="{{ fieldFacilityLocatorApiId | widgetFacilityDetail | escape }}">
              </div>
            </div>
          </div>

          <!-- Location services section -->
          {% capture difference %}
            {{ fieldLocationServices | size | minus: 1 }}
          {% endcapture %}
          {% unless difference contains '-' %}
            <div class="vads-u-margin-bottom--4">
              <h2 id="prepare-for-your-visit"
                  class="vads-u-margin-top--0 vads-u-font-size--lg small-screen:vads-u-font-size--xl vads-u-margin-bottom--2">
                Prepare for your visit</h2>
              <p>Click on a topic for more details.</p>
              <div class="usa-accordion-bordered">
                <ul class="usa-unstyled-list">
                  {% for accordionItem in fieldLocationServices %}
                    {% assign item = accordionItem.entity %}
                    <li class="vads-u-margin-bottom--1">
                      <h3 class="vads-u-margin--0">
                        <button class="usa-accordion-button usa-button-unstyled vads-u-padding-y--2 vads-u-padding-left--2p5 vads-u-line-height--4
" aria-expanded="false"
                                aria-controls="{{ item.entityBundle }}-{{ item.entityId }}">
                          {{ item.fieldTitle }}
                        </button>
                      </h3>
                      <div id="{{ item.entityBundle }}-{{ item.entityId }}"
                           class="usa-accordion-content" aria-hidden="true">
                        {% include "src/site/paragraphs/wysiwyg.drupal.liquid" entity = item %}
                      </div>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          {% endunless %}

          <!-- List of links section -->
          {% if fieldRegionPage.entity.fieldRelatedLinks != empty %}
            {% include "src/site/paragraphs/list_of_link_teasers_facility.drupal.liquid" with paragraph = fieldRegionPage.entity.fieldRelatedLinks.entity %}
          {% endif %}

          <!-- Local Health Services -->
          {% if fieldLocalHealthCareService != empty and fieldLocalHealthCareService.length %}
            <h2 id="health-care-offered-here"
                class="vads-u-font-size--xl vads-u-margin-top--5">Health services offered here</h2>
            <p>Click on a service for more details like location, contact, and appointment
              information.</p>
            <section class="local-health-services" id="local-health-services">

              {% assign localHealthServices = fieldLocalHealthCareService | sortObjectsBy: 'entity.fieldRegionalHealthService.entity.fieldServiceNameAndDescripti.entity.name' %}
              {% for localService in localHealthServices %}
                {% assign localHealthService = localService.entity | featureFieldRegionalHealthService %}
                {% if localHealthService != empty %}

                  {% include "src/site/facilities/facility_health_service.drupal.liquid" with
                    healthService = localHealthService
                    locationEntity = localService.entity
                    locations = localService.entity.fieldServiceLocation
                    localServiceDescription = localService.entity.fieldBody.processed
                    fieldFacilityLocatorApiId = fieldFacilityLocatorApiId
                  %}

                {% endif %}
              {% endfor %}
            </section>
          {% endif %}

          <div data-widget-type="facility-patient-satisfaction-scores"
               data-facility="{{ fieldFacilityLocatorApiId | widgetFacilityDetail | escape }}">
          </div>

          <!-- Social Links -->
          {% include "src/site/facilities/facility_social_links.drupal.liquid"
            with regionNickname = fieldRegionPage.entity.title
          fieldGovdeliveryIdEmerg = fieldRegionPage.entity.fieldGovdeliveryIdEmerg
          fieldGovdeliveryIdNews = fieldRegionPage.entity.fieldGovdeliveryIdNews
          fieldOperatingStatus = fieldRegionPage.entity.fieldOperatingStatus
          %}

        </article>
        <div class="last-updated usa-content">
          Last updated:
          <time
            datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD' }}">{{ changed | humanizeTimestamp }}</time>
        </div>
      </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
