{% comment %}
    {
    "entityUrl": {
    "path": "/pittsburgh-health-care/locations/university-drive-campus"
    },
    "entityBundle": "health_care_local_facility",
    "title": "Pittsburgh VA Medical Center-University Drive",
    "fieldFacilityLocatorApiId": "vha_646",
    "fieldNicknameForThisFacility": "University Drive Medical Center",
    "fieldIntroText": "Get directions and parking information, prepare for your visit, or make an appointment.\r\n\r\n\r\nOur Pittsburgh University Drive campus provides primary and specialty health services including hearing care, dermatology, eye care, cardiac surgery and oncology referral centers, and more.\r\n",
    "fieldLocationServices": [
    {
    "entity": {
    "fieldTitle": "Transportation services and schedules (sample)",
    "fieldWysiwyg": {
    "processed": "<p>THIS IS SAMPLE CONTENT AND NEEDS TO BE UPDATED FROM THE COPY DECK. <br /><br />\nThere are several forms of transportation that you can choose from to travel to one of the VA Pittsburgh medical facilities:</p>\n\n<ul><li><a href=\"#\">Heinz Shuttle</a> – free shuttle service between Heinz and University Drive</li>\n\t<li>Shuttle Plus – free shuttle service between University Drive and Fisher House, Research Office Building (ROB) and Federal Building</li>\n\t<li>DAV vans – complete van schedule from all of our spoke hospitals</li>\n\t<li>Mass transit – Port Authority of Allegheny County and ACCESS Transportation</li>\n\t<li>Para Transit Service (p.r.n.) – (412) 824-2181 or 800-860-8222</li>\n\t<li><a href=\"#\">Yellow Cab</a> – (412) 321-8100/8112</li>\n\t<li><a href=\"#\">Veterans Taxi</a> – (412) 481-VETS (8387)</li>\n\t<li>Transcare ambulance – (412) 373-0200</li>\n\t<li>Pittsburgh International Airport</li>\n\t<li>Greyhound Bus lines</li>\n\t<li>Amtrak</li>\n</ul><p>Note: For a complete guide to the VA hospital shuttle and van service, refer to the <a href=\"#\">transportation resource guide</a>.</p>"
    }
    }
    },
    {
    "entity": {
    "fieldTitle": "Visitor hours and information (sample content)",
    "fieldWysiwyg": {
    "processed": "<p>THIS IS SAMPLE CONTENT AND NEEDS TO BE UPDATED FROM THE COPY DECK. </p>\n\n<p>We encourage you to visit when most convenient for you and the patient. There are no set visitor hours for most departments. Exceptions are listed below:</p>\n\n<h4>Medical, surgical, and hospice wards</h4>\n\n<p>24 hours a day, 7 days a week</p>\n\n<h4>Behavioral health inpatient wards</h4>\n\n<p>1:00 p.m. – 2:00 p.m. and 6:00 p.m. -7:30 p.m., 7 days a week</p>\n\n<h4>Critical care</h4>\n\n<p>Visiting hours will be individualized to meet the needs of the patient, family and caregivers.</p>\n\n<h4>Post-anesthesia recovery</h4>\n\n<p>Generally, visitors are not permitted. In certain circumstances, the doctor or nurse may make an exception.</p>\n\n<h4>General visitor policies</h4>\n\n<ul><li>Children under the age of 16 must be directly supervised by an adult, and bedside visits are limited to 15 minutes. </li>\n\t<li>Children under the ages of 16 are not permitted in the dialysis unit due to infection control and safety reasons. </li>\n</ul><p>See full visitor policies [make a link to another page containing the remaining bullets.]<br />\n </p>"
    }
    }
    },
    {
    "entity": {
    "fieldTitle": "Lodging for patients and families (sample)",
    "fieldWysiwyg": {
    "processed": "<p>THIS IS SAMPLE CONTENT AND NEEDS TO BE UPDATED FROM THE COPY DECK. </p>\n\n<p dir=\"ltr\">Visitors are not permitted to stay overnight in the medical center. Many local accommodations are available for Veterans and their families.</p>\n\n<p dir=\"ltr\">Veterans and family members may be eligible for the following:</p>\n\n<ul><li dir=\"ltr\">\n\t<p dir=\"ltr\"><a href=\"https://www.pittsburgh.va.gov/services/hoptel-program.asp\">Hoptel and lodging program</a> – Our Hoptel program provides temporary overnight lodging to eligible Veterans for outpatient medical procedures. For more information call 412-360-6233, or visit the <a href=\"https://www.pittsburgh.va.gov/services/hoptel-program.asp\">website</a>.</p>\n\t</li>\n\t<li dir=\"ltr\">\n\t<p dir=\"ltr\"><a href=\"https://www.pittsburghfisherhouse.org/\">Fisher House</a> – The 10-bedroom Pittsburgh Fisher House provides a place for visiting families to stay, free of charge, while their loved ones receive inpatient medical care. For more information call 412-360-2032, or visit the <a href=\"https://www.pittsburghfisherhouse.org/\">Fisher House website</a>.</p>\n\t</li>\n\t<li dir=\"ltr\">\n\t<p dir=\"ltr\"><a href=\"https://www.familyhouse.org/\">Family House</a> – Family House provides a special home away from home for patients and/or families who must travel to Pittsburgh for treatment of serious or life-threatening illnesses. Family House has four locations in the area. For more information call 412-647-7777, or visit the <a href=\"https://www.familyhouse.org/\">Family House website</a>.</p>\n\t</li>\n\t<li dir=\"ltr\">\n\t<p dir=\"ltr\"><a href=\"http://www.visitpittsburgh.com/\">Visit Pittsburgh</a> – the official tourism and promotion agency for Pittsburgh and Allegheny County, also has up-to-date listings for area hotels, activities, events, festivals, transportation, sports, restaurants, cultural attractions, shops and more.</p>\n\t</li>\n\t<li dir=\"ltr\">\n\t<p dir=\"ltr\">Nearby hotels – There are many nearby hotels to choose from. When booking your reservations, be sure to ask for the hospital rate. Many hotels have shuttle service to VA hospitals. Please check with the hotel you’re staying at.</p>\n\n\t<ul><li dir=\"ltr\">\n\t\t<p dir=\"ltr\"><a href=\"https://www.marriott.com/hotels/travel/pitok-courtyard-pittsburgh-shadyside\">Courtyard by Marriott, Shadyside</a> <br />\n\t\t412-683-3113 or 800-228-9290</p>\n\t\t</li>\n\t\t<li dir=\"ltr\">\n\t\t<p dir=\"ltr\"><a href=\"http://hamptoninn3.hilton.com/en/hotels/pennsylvania/hampton-inn-pittsburgh-university-medical-center-PITOKHX/index.html\">Hampton Inn, University Center</a> <br />\n\t\t412-329-4969 or 800-426-7866</p>\n\t\t</li>\n\t\t<li dir=\"ltr\">\n\t\t<p dir=\"ltr\"><a href=\"http://hiltongardeninn3.hilton.com/en/hotels/pennsylvania/hilton-garden-inn-pittsburgh-university-place-PITUCGI/index.html\">Hilton Garden Inn</a> <br />\n\t\t412-683-2040 or 877-782-9444</p>\n\t\t</li>\n\t\t<li dir=\"ltr\">\n\t\t<p dir=\"ltr\"><a href=\"http://www.qualityinn.com/hotel-pittsburgh-pennsylvania-PA369\">Quality Inn, University Center</a> <br />\n\t\t412-683-6100 or 877-424-6423</p>\n\t\t</li>\n\t\t<li dir=\"ltr\">\n\t\t<p dir=\"ltr\"><a href=\"https://www.marriott.com/hotels/travel/pitro-residence-inn-pittsburgh-university-medical-center/\">Residence Inn by Marriott, Oakland</a> <br />\n\t\t412-621-2200 or 800-513-8766</p>\n\t\t</li>\n\t\t<li dir=\"ltr\">\n\t\t<p dir=\"ltr\"><a href=\"https://www.marriott.com/hotels/travel/pitrd-residence-inn-pittsburgh-oakland-university-place/\">Residence Inn by Marriott, Oakland/University Place</a><br />\n\t\t 412-621-5600</p>\n\t\t</li>\n\t</ul></li>\n</ul><p><a href=\"http://www.shadysideinn.com/\">Shadyside Inn All Suites Hotel</a><br />\n412-441-4444 or 800-767-8483</p>"
    }
    }
    },
    {
    "entity": {
    "fieldTitle": "Parking (sample content)",
    "fieldWysiwyg": {
    "processed": "<p>THIS IS SAMPLE CONTENT AND NEEDS TO BE UPDATED FROM THE COPY DECK. </p>\n\n<p>University Drive campus facility map<br />\nRefer to the following map for parking locations.<br />\n[add map here]</p>"
    }
    }
    },
    {
    "entity": {
    "fieldTitle": "Campus and building maps (sample content)",
    "fieldWysiwyg": {
    "processed": "<p>THIS IS SAMPLE CONTENT AND NEEDS TO BE UPDATED FROM THE COPY DECK. </p>\n\n<p>University Drive campus facility map<br />\nUse the following maps to help you get around the campus.<br />\n[add map here, https://www.pittsburgh.va.gov/about/UD-facility-map.asp]</p>\n\n<p>Building floor plans</p>\n\n<p>First floor<br />\nIncludes outpatient behavioral health and primary care offices<br />\n(Download floor plan, PDF, 540KB)<br />\n[add map here, https://www.pittsburgh.va.gov/about/CB-floorplans.asp]<br />\nSecond floor<br />\nIncludes audiology and speech pathology, chapel, education, library, and public affairs offices<br />\n(Download floor plan, PDF, 540KB)<br />\n[add map here, https://www.pittsburgh.va.gov/about/CB-floorplans.asp]</p>"
    }
    }
    },
    {
    "entity": {
    "fieldTitle": "Cafeteria, shops, and other retail (sample content)",
    "fieldWysiwyg": {
    "processed": "<p>THIS IS SAMPLE CONTENT AND NEEDS TO BE UPDATED FROM THE COPY DECK. </p>\n\n<p>Veterans Canteen Service (VCS) Patriot Café<br />\nLocated on the ground floor, the Café is open Monday through Friday from 7:00 a.m. to 3:30 p.m. They serve hot and cold entrees, beverages and desserts. </p>\n\n<p>VCS Patriot Brew (Starbucks®) Coffee<br />\nLocated on the first floor to the right of Release of Information. It is open Monday through Friday from 6:30 a.m. to 7:00 p.m. and from 8:00 a.m. to 3:30 p.m. on Saturday. It is closed on Sunday. They serve a variety of pastries, light sandwiches and beverages.</p>\n\n<p>VCS Patriot Store<br />\nLocated on the ground floor, the Patriot Store offers a full-service retail store with such products as electronics, cosmetics, toiletries, and clothing. Items may be purchased tax-free. The retail store is open Monday through Friday from 7:00 a.m. to 7:00 p.m., Saturday from 9:00 a.m. to 3:30 p.m. and Sunday from 8:30 a.m. to 2:00 p.m.</p>\n\n<p>Vending areas<br />\nVending machines are located throughout the hospital.<br />\n </p>"
    }
    }
    }
    ],
    "fieldMainLocation": true,
    "fieldMedia": {
    "entity": {
    "image": {
    "alt": "The entrance to the Pittsburgh VA Medical Center--University Drive",
    "title": "",
    "derivative": {
    "url": "http://dev.va.agile6.com/sites/default/files/styles/3_2_medium_thumbnail/public/2019-02/university-drive-consolidation-building2.jpg?itok=qK823DFr",
    "width": 480,
    "height": 330
    },
    "entityUrl": {
    "path": "/pittsburgh-health-care/locations/university-drive-campus"
    }
    }
    }
    }
    }
{% endcomment %}

{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<div class="interior" id="content">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
      <div class="usa-width-three-fourths">
          {% include "src/site/components/navigation-sidebar-trigger.html" with menuId = "va-detailpage-sidebar" %}
          {% if !entityPublished %}
          <div class="usa-alert usa-alert-info">
            <div class="usa-alert-body">
              <p class="usa-alert-text">You are viewing a draft.</p>
            </div>
          </div>
        {% endif %}

        <article class="usa-content va-l-facility-detail">
          {% if title != empty %}
            <h1>{{ title }}</h1>
          {% endif %}

          {% if fieldIntroText != empty %}
            <div class="va-introtext">
              <p>{{ fieldIntroText }}</p>
            </div>
          {% endif %}

          <div class="usa-grid usa-grid-full vads-u-margin-y--1p5 vads-u-margin-bottom--6">{% assign basePath = entityUrl.path | regionBasePath %}
              {% include "src/site/facilities/facilities_health_services_buttons.drupal.liquid" with path = basePath %}</div>

            <section id="table-of-contents" class="vads-u-margin-bottom--5">
                <h2 class="vads-u-margin-bottom--2 vads-u-font-size--lg">On this page</h2>
                <ul class="usa-unstyled-list"></ul>
            </section>

          <h2 class="vads-u-line-height--1 vads-u-margin-bottom--3">Location and contact information</h2>
          <div class="region-list usa-grid usa-grid-full vads-u-display--flex vads-u-flex-direction--column small-screen:vads-u-flex-direction--row facility vads-u-margin-bottom--2p5 vads-u-margin-bottom--4">
            <!-- facility details from api -->
            <div class="usa-width-two-thirds vads-u-display--block vads-u-width--full">
              <div data-widget-type="facility-detail" data-facility="{{ fieldFacilityLocatorApiId | widgetFacilityDetail | escape }}"></div>
            </div>

              <div class="usa-width-one-third inline-table-helper vads-u-order--first small-screen:vads-u-order--initial vads-u-margin-bottom--2 vads-u-margin-left--auto facility">
                <!-- facility image -->
                {% if fieldMedia.entity.image != empty %}
                  {% assign image = fieldMedia.entity.image %}
                  <a href="#" rel="noopener noreferrer" target="_blank" id="google-map-link-image">
                    <img class="facility-img" src="{{ image.derivative.url }}" alt="{{ image.alt }}" title="{{ image.title }}" width="{{ image.derivative.width }}" height="{{ image.derivative.height }}"/>
                  </a>
                {% endif %}
                <div data-widget-type="facility-map" data-facility="{{ fieldFacilityLocatorApiId | widgetFacilityDetail | escape }}"></div>
              </div>
          </div>

          <!-- Location services section -->
          {% capture difference %}
            {{ fieldLocationServices | size | minus:1 }}
          {% endcapture %}
          {% unless difference contains '-' %}
            <div class="vads-u-margin-bottom--4">
                <h2 id="prepare-for-your-visit" class="vads-u-margin-top--0 vads-u-font-size--lg small-screen:vads-u-font-size--xl vads-u-margin-bottom--2">Prepare for your visit</h2>
                <div class="usa-accordion-bordered">
                  <ul class="usa-unstyled-list">
                    {% for accordionItem in fieldLocationServices %}
                      {% assign item = accordionItem.entity %}
                      <li class="vads-u-margin-bottom--1">
                        <button class="usa-accordion-button usa-button-unstyled vads-u-padding-y--2 vads-u-padding-left--2p5 vads-u-line-height--4
" aria-expanded="false" aria-controls="{{ item.entityBundle }}-{{ item.entityId }}">
                          {{ item.fieldTitle }}
                        </button>
                        <div id="{{ item.entityBundle }}-{{ item.entityId }}" class="usa-accordion-content" aria-hidden="true">
                          {% include "src/site/paragraphs/wysiwyg.drupal.liquid" entity = item %}
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
            </div>
          {% endunless %}

            <!-- List of links section -->
            {% if fieldRegionPage.entity.fieldRelatedLinks != empty %}
                {% include "src/site/paragraphs/list_of_link_teasers_facility.drupal.liquid" with paragraph = fieldRegionPage.entity.fieldRelatedLinks.entity %}
            {% endif %}

            <!-- Local Health Services -->
            {% if fieldLocalHealthCareService != empty and fieldLocalHealthCareService.length %}
                <h2 id="health-care-offered-here" class="vads-u-font-size--xl vads-u-margin-top--5">Health care services offered here</h2>
                <section class="local-health-services" id="local-health-services">

                    {% assign localHealthServices = fieldLocalHealthCareService | sortObjectsBy: 'entity.fieldRegionalHealthService.entity.fieldServiceNameAndDescripti.entity.name' %}
                    {% for localService in localHealthServices %}
                        {% assign localHealthService = localService.entity | featureFieldRegionalHealthService %}
                        {% if localHealthService != empty %}
                            {% include "src/site/facilities/facility_health_service.drupal.liquid" with healthService = localHealthService localServiceDescription = localService.entity.fieldBody.processed fieldFacilityLocatorApiId = fieldFacilityLocatorApiId %}
                        {% endif %}
                    {% endfor %}
                </section>
            {% endif %}

            <h2
                    id="our-patient-satisfaction-scores"
                    class="vads-u-margin-top--4 vads-u-font-size--lg small-screen:vads-u-font-size--xl"
            >
                Appointment access at this location
            </h2>
            <div data-widget-type="facility-patient-satisfaction-scores" data-facility="{{ fieldFacilityLocatorApiId | widgetFacilityDetail | escape }}"></div>


            <!-- Social Links -->
            {% if fieldFacebook != empty || fieldFlickr != empty || fieldInstagram != empty || fieldTwitter != empty || fieldEmailSubscription != empty || (fieldLinks != empty and fieldLinks.length)%}
                {% include "src/site/facilities/facility_social_links.drupal.liquid" with regionNickname = fieldRegionPage.entity.fieldNicknameForThisFacility %}
            {% endif %}

        </article>
        <div class="last-updated usa-content">
          Last updated:
          <time datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
        </div>
      </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
