{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<div id="content" class="interior">
    <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">
        {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with facilitySidebar %}
        <div class="usa-width-three-fourths">
            <article class="usa-content">
                <h1>A-Z services</h1>
                <div class="va-introtext">{{ fieldClinicalHealthServi.processed }}</div>

                <div class="usa-grid usa-grid-full vads-u-margin-top--1p5">
                    <div class="usa-width-one-third">
                        <a href="{{ entityUrl.path }}/appointments" class="usa-button usa-button-primary">Make an appointment</a>
                    </div>
                    <div class="usa-width-one-third">
                        <a href="{{ entityUrl.path }}/become-a-patient" class="usa-button usa-button-primary">Become a patient</a>
                    </div>
                </div>

                <div class="usa-grid usa-grid-full vads-u-margin-top--1p5">
                    <h3>On this page</h3>
                    <ul>
                        {% capture difference %} {{ careCoordinatorPatientFamilyServices.entities | size | minus:1 }} {% endcapture %}
                        {% unless difference contains '-' %}
                          <li><a href="#care-patient-family-services">Care Coordinators</a></li>
                        {% endunless %}
                        {% capture difference %} {{ socialProgramsPatientFamilyServices.entities | size | minus:1 }} {% endcapture %}
                        {% unless difference contains '-' %}
                            <li><a href="#social-patient-family-services">Social Programs and Services</a></li>
                        {% endunless %}
                        {% capture difference %} {{ healthWellnessPatientFamilyServices.entities | size | minus:1 }} {% endcapture %}
                        {% unless difference contains '-' %}
                            <li><a href="#wellness-patient-family-services">Health and wellness</a></li>
                        {% endunless %}
                        {% capture difference %} {{ primaryCareHealthServices.entities | size | minus:1 }} {% endcapture %}
                        {% unless difference contains '-' %}
                            <li><a href="#primary-health-services">Primary care</a></li>
                        {% endunless %}
                        {% capture difference %} {{ specialtyCareHealthServices.entities | size | minus:1 }} {% endcapture %}
                        {% unless difference contains '-' %}
                           <li><a href="#specialty-health-services">Specialty care</a></li>
                        {% endunless %}
                        {% capture difference %} {{ mentalHealthServices.entities | size | minus:1 }} {% endcapture %}
                        {% unless difference contains '-' %}
                            <li><a href="#mental-health-services">Mental health care</a></li>
                        {% endunless %}
                    </ul>
                </div>

                <!-- Patient and Family Services -->
                {% capture difference %} {{ careCoordinatorPatientFamilyServices.entities | size | minus:1 }} {% endcapture %}
                {% unless difference contains '-' %}
                    <section class="care-patient-family-services" id="care-patient-family-services">
                        <h2>Care Coordinators</h2>
                        {% for careService in careCoordinatorPatientFamilyServices.entities %}
                            {% include "src/site/facilities/health_service.drupal.liquid" with healthService = careService %}
                        {% endfor %}
                    </section>
                {% endunless %}

                {% capture difference %} {{ socialProgramsPatientFamilyServices.entities | size | minus:1 }} {% endcapture %}
                {% unless difference contains '-' %}
                    <section class="social-patient-family-services" id="social-patient-family-services">
                        <h2>Social programs and services</h2>
                        {% for socialService in socialProgramsPatientFamilyServices.entities %}
                            {% include "src/site/facilities/health_service.drupal.liquid" with healthService = socialService %}
                        {% endfor %}
                    </section>
                {% endunless %}

                {% capture difference %} {{ healthWellnessPatientFamilyServices.entities | size | minus:1 }} {% endcapture %}
                {% unless difference contains '-' %}
                    <section class="wellness-patient-family-services" id="wellness-patient-family-services">
                        <h2>Health and wellness</h2>
                        {% for wellnessService in healthWellnessPatientFamilyServices.entities %}
                            {% include "src/site/facilities/health_service.drupal.liquid" with healthService = wellnessHealthService %}
                        {% endfor %}
                    </section>
                {% endunless %}

                <!-- Health Services -->
                {% capture difference %} {{ primaryCareHealthServices.entities | size | minus:1 }} {% endcapture %}
                {% unless difference contains '-' %}
                <section class="primary-health-services" id="primary-health-services">
                    <h2>Primary care</h2>
                    {% for primaryService in primaryCareHealthServices.entities %}
                        {% include "src/site/facilities/health_service.drupal.liquid" with healthService = primaryService %}
                    {% endfor %}
                </section>
                {% endunless %}

                {% capture difference %} {{ specialtyCareHealthServices.entities | size | minus:1 }} {% endcapture %}
                {% unless difference contains '-' %}
                <section class="specialty-health-services" id="specialty-health-services">
                    <h2>Specialty care</h2>
                    {% for specialtyService in specialtyCareHealthServices.entities %}
                        {% include "src/site/facilities/health_service.drupal.liquid" with healthService = specialtyService %}
                    {% endfor %}
                </section>
                {% endunless %}

                {% capture difference %} {{ mentalHealthServices.entities | size | minus:1 }} {% endcapture %}
                {% unless difference contains '-' %}
                <section class="mental-health-services" id="mental-health-services">
                    <h2>Mental health care</h2>
                    {% for mentalHealthService in mentalHealthServices.entities %}
                        {% include "src/site/facilities/health_service.drupal.liquid" with healthService = mentalHealthService %}
                    {% endfor %}
                </section>
                {% endunless %}

            </article>
        </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
