{% comment %}
Example data:
"entityUrl": {
  "breadcrumb": [
    {
      "url": {
        "path": "/",
        "routed": true
      },
      "text": "Home"
    }
  ],
  "path": "/pittsburgh-health-care"
},
"entityId": "83",
"entityBundle": "health_care_region_page",
"entityPublished": true,
"title": "Pittsburgh Health Care System",
"fieldMedia": {
  "entity": {
    "image": {
      "alt": "U Drive",
      "title": "",
      "derivative": {
        "url": "http://vagovcms.lndo.site/sites/default/files/styles/crop_2_1/public/2019-02/university-drive-consolidation-building2.jpg?itok=Gb4BrUjw",
        "width": 480,
        "height": 330
      }
    }
  }
},
"fieldIntroText": "Lorem ipsum dolor sit amet, consectetur adipiscing elit....
"fieldRelatedLinks": {
  "entity": {
    "parentFieldName": "field_related_links",
    "fieldTitle": "Popular in Pittsburgh",
    "fieldVaParagraphs": [
      {
        "entity": {
          "fieldLink": {
            "uri": "internal:#",
            "title": "Phone Directory",
            "options": null
          },
          "fieldLinkSummary": null
        }
      },
      {
        "entity": {
          "fieldLink": {
            "uri": "internal:#",
            "title": "Billing and insurance",
            "options": null
          },
          "fieldLinkSummary": null
        }
      },
      {
        "entity": {
          "fieldLink": {
            "uri": "internal:#",
            "title": "Patient advocates",
            "options": null
          },
          "fieldLinkSummary": null
        }
      },
      {
        "entity": {
          "fieldLink": {
            "uri": "internal:#",
            "title": "Library",
            "options": null
          },
          "fieldLinkSummary": null
        }
      }
    ]
  }
},
"localFacilities": {
  "entities": [
    {
      "title": "Fayette County VA Clinic",
      "fieldFacilityLocatorApiId": "vha_646ge"
    },
    {
      "title": "H. John Heinz III Department of Veterans Affairs Medical Center",
      "fieldFacilityLocatorApiId": "vha_646A4"
    },
    {
      "title": "Pittsburgh VA Medical Center-University Drive",
      "fieldFacilityLocatorApiId": "vha_646"
    },
    {
      "title": "Washington County VA Clinic",
      "fieldFacilityLocatorApiId": "vha_646gd"
    }
  ]
},
"newsStoryTeasers": {
  "entities": [
    {
      "title": "Test Story",
      "fieldIntroText": "This is a story",
      "fieldMedia": null,
      "entityUrl": {
        "path": "/test-story"
      }
    },
    {
      "title": "Test Story 2",
      "fieldIntroText": null,
      "fieldMedia": null,
      "entityUrl": {
        "path": "/test-story-2"
      }
    }
  ]
}
{% endcomment %}
{% include "src/site/includes/header.html" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<div id="content" class="interior">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">
    <nav class="usa-width-one-fourth va-sidebarnav" id="va-detailpage-sidebar">
      <h5>{{ title }}</h5>
    </nav>
    <div class="usa-width-three-fourths">
      {% if !entityPublished %}
        <div class="usa-alert usa-alert-info" >
          <div class="usa-alert-body">
            <p class="usa-alert-text">You are viewing a draft.</p>
          </div>
        </div>
      {% endif %}

      <article class="usa-content">
        <h1>{{ title }}</h1>
        {% assign image = fieldMedia.entity.image %}
        <img src="{{ image.derivative.url }}" alt="{{ image.alt }}" title="{{ image.title }}" width="100%">
        <div class="usa-grid usa-grid-full vads-u-margin-top--1p5">
          <div class="usa-width-one-third vads-facility-main-cta">
            <a href="{{ entityUrl.path }}/appointments">Make an appointment</a>
          </div>
          <div class="usa-width-one-third vads-facility-main-cta">
            <a href="{{ entityUrl.path }}/">View A-Z Health Services</a>
          </div>
          <div class="usa-width-one-third vads-facility-main-cta">
            <a href="{{ entityUrl.path }}/become-a-patient">Become a patient</a>
          </div>
        </div>

        <div class="usa-font-lead">
          <p>{{ fieldIntroText }}</p>
        </div>

        <section>
          <h2>Main Locations</h2>
          <div data-widget-type="basic-facility-locations-list" data-facilities="{{ mainFacilities.entities | widgetFacilitiesList | escape }}" data-path="{{ entityUrl.path }}"></div>
          <a class="usa-button usa-button-secondary vads-facility-hub-button" href="{{ entityUrl.path }}/locations">
            See all locations <i class="fa fa-chevron-right">&nbsp;</i>
          </a>
        </section>

        <!-- "Manage your health online" section -->
        <section>
          <h3>Manage your health online</h3>
          <div class="usa-grid usa-grid-full">
            <div class="usa-width-one-half vads-facility-hub-cta">
              <a href="https://www.va.gov/health-care/refill-track-prescriptions/">
                <i class=" fa fa-prescription-bottle vads-facility-hub-cta-circle">&nbsp;</i>
                <span class="vads-facility-hub-cta-label">Refill and track your prescriptions <i class="fa fa-chevron-right vads-facility-hub-cta-arrow">&nbsp;</i></span>
              </a>
            </div>
            <div class="usa-width-one-half vads-facility-hub-cta">
            <a href="https://www.va.gov/health-care/get-medical-records/">
              <i class="fa fa-file-medical vads-facility-hub-cta-circle">&nbsp;</i>
              <span class="vads-facility-hub-cta-label">Download your VA medical records (Blue Button) <i class="fa fa-chevron-right vads-facility-hub-cta-arrow">&nbsp;</i></span>
            </a>
            </div>
          </div>
          <div class="usa-grid usa-grid-full">
            <div class="usa-width-one-half vads-facility-hub-cta">
              <a href="https://www.va.gov/health-care/secure-messaging/">
                <i class="fa fa-comments vads-facility-hub-cta-circle">&nbsp;</i>
                <span class="vads-facility-hub-cta-label">Send a secure message to your health care team <i class="fa fa-chevron-right vads-facility-hub-cta-arrow">&nbsp;</i></span>
              </a>
            </div>
            <div class="usa-width-one-half vads-facility-hub-cta">
              
              <a href="https://www.va.gov/health-care/view-test-and-lab-results/">
                <i class="fa fa-clipboard-list vads-facility-hub-cta-circle">&nbsp;</i>
                <span class="vads-facility-hub-cta-label">View your lab and test results <i class="fa fa-chevron-right vads-facility-hub-cta-arrow">&nbsp;</i></span>
              </a>
              
            </div>
          </div>
          <div class="usa-grid usa-grid-full">
            <div class="usa-width-one-half vads-facility-hub-cta vads-facility-hub-cta-last-line">
              
              <a href="https://www.va.gov/health-care/schedule-view-va-appointments/">
                <i class="fa fa-calendar-check vads-facility-hub-cta-circle">&nbsp;</i>
                <span class="vads-facility-hub-cta-label">Schedule and view your appointments <i class="fa fa-chevron-right vads-facility-hub-cta-arrow">&nbsp;</i></span>
              </a>
            </div>
            <div class="usa-width-one-half vads-facility-hub-cta vads-facility-hub-cta-last-line">
              <a href="https://www.va.gov/health-care/order-hearing-aid-batteries-prosthetic-socks/">
                <i class="fa fa-deaf vads-facility-hub-cta-circle">&nbsp;</i>
                <span class="vads-facility-hub-cta-label">Order hearing aid batteries and prosthetic socks <i class="fa fa-chevron-right vads-vads-facility-hub-cta-arrow">&nbsp;</i></span>
              </a>
            </div>
          </div>
        </section>


        <!-- List of links section -->
        <div class="vads-u-margin-top--5">
          {% include "src/site/paragraphs/list_of_link_teasers_facility.drupal.liquid" with paragraph = fieldRelatedLinks.entity %}
        </div>

          <!-- Stories -->
        <section>
          <h3>Community Stories</h3>
          {% for story in newsStoryTeasers.entities %}
            {% include "src/site/teasers/news_story.drupal.liquid" with node = story %}
          {% endfor %}
          <a class="usa-button usa-button-secondary vads-facility-hub-button" href="{{ entityUrl.path }}/news">
            See all community stories <i class="fa fa-chevron-right"></i>
          </a>
        </section>

        <!-- Events -->
        <section>
          <h3>Events</h3>
          <div class="usa-grid usa-grid-full">
          {% for event in eventTeasers.entities %}
            <div class="usa-width-one-half">
            {% include "src/site/teasers/event.drupal.liquid" with node = event %}
            </div>
          {% endfor %}
          </div>
          <a class="usa-button usa-button-secondary vads-facility-hub-button" href="{{ entityUrl.path }}/events">
            See all events <i class="fa fa-chevron-right"></i>
          </a>
        </section>
    </article>
    </div>
  </div>
</main>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
