{% include "src/site/includes/header.html" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<main>
    <div class="usa-grid usa-grid-full">
        <nav class="usa-width-one-fourth va-sidebarnav" id="va-detailpage-sidebar"></nav>
        <div class="usa-width-three-fourths">
            {% if !entityPublished %}
                <div class="usa-alert usa-alert-info" >
                    <div class="usa-alert-body">
                        <p class="usa-alert-text">You are viewing a draft.</p>
                    </div>
                </div>
            {% endif %}

            <article class="usa-content">
                <h1>Our Locations</h1>
                <div class="usa-font-lead">
                    {{ fieldLocationsIntroBlurb.processed }}
                </div>
                <section class="locations">
                    <section class="main-locations">
                        <h2>Main locations</h2>

                            <div class="cta-widget" data-widget-type="facility-locations-list" data-main-facilities="{{ mainFacilities.entities | facilityIds }}" data-other-facilities="{{ otherFacilities.entities | facilityIds }}"></div>




                            <div class="cta-widget" data-widget-type="facility-location-detail" data-app-id="{{ entity.fieldWidgetType }}"></div>
                            <div class="cta-widget" data-widget-type="facility-locations-landing-list" data-app-id="{{ entity.fieldWidgetType }}"></div>
                            <div id="location-{{ facility.fieldFacilityLocatorApiId }}" class="location">
                                <h3>{{ facility.fieldNicknameForThisFacility }}</h3>

                            </div>
                    </section>
                </section>
            </article>
            <div class="last-updated usa-content">
                Last updated: <time datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
            </div>
        </div>
    </div>
</main>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
