{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<div id="content" class="interior">
  <main>
    <div class="usa-grid usa-grid-full">
      <article class="usa-width-two-thirds">
        {% if fieldTitleIcon %}
          <div class="inline hub-main-icon">
            <i class="icon-large white hub-icon-{{ fieldTitleIcon }} hub-background-{{ fieldTitleIcon }}"></i>
          </div>

          <div class="inline hub-main-title">
            <h1>{{ title }}</h1>
          </div>

        {% else %}
        <h1>{{ title }}</h1>
        {% endif %}
        <div class="va-introtext">
          <p>{{ fieldIntroText }}</p>
        </div>
        {% if fieldSpokes != empty and fieldSpokes.length > 1 %}
        <h2 class="vads-u-margin-bottom--2 vads-u-font-size--lg">On this page</h2>
        <ul>
          {% for spoke in fieldSpokes %}
          <li>
            <a
              href="#{% if spoke.entity.fieldTitle != empty %}{{ spoke.entity.fieldTitle | hashReference: title }}{% endif %}">
              {{ spoke.entity.fieldTitle }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if fieldAlert.length %}
          {% for alert in fieldAlert %}
            {% if alert.entity != empty %}
                {% include "src/site/blocks/alert.drupal.liquid" with alert = alert.entity %}
              {% endif %}
          {% endfor %}
        {% else %}
          {% if fieldAlert.entity != empty %}
            {% include "src/site/blocks/alert.drupal.liquid" with alert = fieldAlert.entity %}
          {% endif %}
        {% endif %}

        {% if fieldSpokes != empty %}
        {% for spoke in fieldSpokes %}
        <section class="usa-grid">
          <div class="va-h-ruled--stars"></div>
        </section>
        {% include "src/site/paragraphs/list_of_link_teasers.drupal.liquid" with entity = spoke.entity parentFieldName = 'field_spokes' %}
        {% endfor %}
        {%  endif %}
        {% if fieldRelatedLinks != empty %}
        <section
          class="merger-majorlinks va-nav-linkslist va-nav-linkslist--related">
          {% include 'src/site/paragraphs/list_of_link_teasers.drupal.liquid' entity = fieldRelatedLinks.entity boldTitle = true %}
        </section>
        {%  endif %}

        <div class="last-updated usa-content">
          Last updated: <time
            datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
        </div>
      </article>

      <div class="usa-width-one-third" id="hub-rail">
        {% if fieldPromo != empty %}
        {% include "src/site/blocks/promo.drupal.liquid" with entity = fieldPromo.entity %}
        {% endif %}

        <ul class="usa-accordion-bordered social">
          <li>
            <button
              class="usa-accordion-button usa-accordion-button-dark rail-heading"
              aria-expanded="true" aria-controls="a1">
              Ask questions
            </button>
            <div id="a1" class="usa-accordion-content" aria-hidden="false">

              {% if fieldSupportServices != empty %}
              <section>
                <h4>Call us</h4>
                <ul class="va-nav-linkslist-list social">
                  {% for supportService in fieldSupportServices %}
                  {% assign service = supportService.entity %}
                  <li>
                    {% if service.fieldPhoneNumber %}
                    <a href="{{ service.fieldLink.url.path }}"
                      onclick="recordEvent({ 'event': 'nav-hub-rail', 'nav-path': 'Ask questions' });">
                      <span>{{ service.title }}</span><br>
                      <span>{{ service.fieldPhoneNumber }}</span>
                    </a>
                    {% else %}
                    {{ service.title }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </section>
              {% endif %}
            </div>
          </li>
        </ul>

        {% if fieldLinks != empty and fieldLinks.length > 0 %}
        <ul class="usa-accordion-bordered links">
          <li>
            <button class="usa-accordion-button usa-accordion-button-dark rail-heading"
              aria-expanded="true" aria-controls="a2">
              Not a Veteran?
            </button>
            <div id="a2" class="usa-accordion-content" aria-hidden="false">
            <section>
              <h4>Get information for:</h4>
              <ul class="va-nav-linkslist-list links">
                {% for link in fieldLinks %}
                <li>
                  <a href="{{ link.url.path }}"
                    onclick="recordEvent({ 'event': 'nav-hub-rail', 'nav-path': 'Not a Veteran?' });">
                    <span>{{ link.title }}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </section>

            </div>
          </li>
        </ul>
        {% endif %}

        {% if fieldAdministration != empty and fieldAdministration.entity.name != "Records benefits hub" %}
          {% include "src/site/components/administration-hub-rail.drupal.liquid" administration = fieldAdministration.entity %}
        {% endif %}
      </div>
    </div>

  </main>
</div>
{% include "src/site/includes/veteran-banner.html" %}
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
