{% include "src/site/includes/header.html" with drupalTags = true %}

{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}

<div id="content" class="interior">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">
      <div class="usa-width-three-fourths">
        <!-- Draft status -->
        {% if !entityPublished %}
          <div class="usa-alert usa-alert-info">
            <div class="usa-alert-body">
              <p class="usa-alert-text">You are viewing a draft.</p>
            </div>
          </div>
        {% endif %}

        <article class="usa-content">
          <!-- Title -->
          <h1>{{ title }}</h1>

          <!-- Intro -->
          <div class="va-introtext">{{ fieldIntroTextLimitedHtml.processed }}</div>

          <!-- Alert -->
          {% if fieldAlertSingle %}
            {% include "src/site/paragraphs/alert_single.drupal.liquid" with entity = fieldAlertSingle.entity %}
          {% endif %}

          <!-- Buttons -->
          <div class="vads-u-margin-y--3">
            {% for fieldButton in fieldButtons %}
              {% include "src/site/paragraphs/button.drupal.liquid" with entity = fieldButton.entity %}
            {% endfor %}
          </div>

          <!-- Images List -->
          <ul class="usa-unstyled-list">
            {% for mediaImage in fieldMediaListImages.entity.fieldImages %}
              <li className="vads-u-display--flex vads-u-margin-bottom--2">

                {% assign alt = mediaImage.entity.image.alt %}
                {% if alt == mediaImage.entity.entityLabel %}
                  {% assign alt = '' %}
                  {{ testing }}
                {% endif %}

                <div class="vads-l-grid-container vads-u-padding-x--0 vads-u-margin-y--2">
                  <div class="vads-l-row">
                    <div class="vads-l-col--2">
                      <img class="vads-u-border--1px vads-u-border-color--gray-light" alt="{{ alt }}"
                        height="{{ mediaImage.entity.image.height }}" width="{{ mediaImage.entity.image.width }}"
                        src="{{ mediaImage.entity.image.url }}" />
                    </div>
                    <div class="vads-l-col--10 vads-u-padding-left--2">
                      <h2 class="vads-u-font-size--h3">{{ mediaImage.entity.entityLabel }}</h2>
                      {% if mediaImage.entity.fieldDescription %}
                        <p>{{ mediaImage.entity.fieldDescription }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>


          <!-- Repeated buttons -->
          {% if fieldButtonsRepeat %}
            <div class="vads-u-margin-y--3">
              {% for fieldButton in fieldButtons %}
                {% include "src/site/paragraphs/button.drupal.liquid" with entity = fieldButton.entity %}
              {% endfor %}
            </div>
          {% endif %}
        </article>

        <!-- Related information -->
        {% if fieldRelatedInformation != empty %}
          <div class="row">
            <div class="usa-content columns">
              <aside class="va-nav-linkslist va-nav-linkslist--related">
                {% include 'src/site/paragraphs/list_of_link_teasers.drupal.liquid' with entity = fieldRelatedInformation.entity %}
              </aside>
            </div>
          </div>
        {% endif %}

        <!-- Last updated -->
        <div class="last-updated usa-content">
          Last updated: <time
            datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
        </div>
      </div>
    </div>
  </main>
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
