{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with constructLcBreadcrumbs = true titleInclude = true %}

<div class="interior" id="content" data-template="node-media_list_images">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">
      <div class="usa-width-three-fourths">
        <div class="usa-content">
          <!-- Search bar -->
          <div class="medium-screen:vads-u-border-bottom--2px vads-u-border-color--gray-light medium-screen:vads-u-margin-bottom--3">
            {% include "src/site/includes/support_resources_search_bar.drupal.liquid" %}
          </div>

          <article class="vads-u-padding-x--1 large-screen:vads-u-padding-x--0">
            <!-- Title -->
            <h1>{{ title }}</h1>

            <!-- Intro -->
            <div class="va-introtext">{{ fieldIntroTextLimitedHtml.processed }}</div>

            <!-- Alert -->
            {% if fieldAlertSingle %}
              {% include "src/site/paragraphs/alert_single.drupal.liquid" with entity = fieldAlertSingle.entity %}
            {% endif %}

            <!-- Buttons -->
            <div class="vads-u-margin-y--3">
              {% for fieldButton in fieldButtons %}
                {% include "src/site/paragraphs/button.drupal.liquid" with entity = fieldButton.entity %}
              {% endfor %}
            </div>

            <!-- Section Header -->
            {% if fieldMediaListImages.entity.fieldSectionHeader %}
              {% assign image_title_tag = "h3" %}
              {% assign image_title_classes = "vads-u-margin-y--0 medium-screen:vads-u-margin-y--1p5" %}
              <h2 class="vads-u-margin-bottom--2">{{fieldMediaListImages.entity.fieldSectionHeader }}</h2>
            {% else %}
              {% assign image_title_tag = "h2" %}
              {% assign image_title_classes = "vads-u-font-size--h3" %}
            {% endif %}

            <!-- Images List Start -->
            <!-- ================ -->
            <dl class="usa-unstyled-list">
              {% if fieldMediaListImages.entity.fieldImages.size != 0 %}
                {% assign pageSize = 10 %}
                {% assign remainingImages = fieldMediaListImages.entity.fieldImages | sliceArrayFromStart: pageSize, fieldMediaListImages.entity.fieldImages.size %}

                {% for mediaImage in fieldMediaListImages.entity.fieldImages %}
                  {% assign recordsCount = recordsCount | plus: 1 %}

                  {% unless recordsCount > pageSize %}
                    {% assign alt = mediaImage.entity.image.alt %}

                    <div class="vads-u-display--flex vads-u-flex-direction--column vads-u-margin-bottom--4">
                      <dt class="vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0">
                        <{{image_title_tag}} class="{{image_title_classes }} medium-screen:vads-u-margin-top--0">{{ mediaImage.entity.entityLabel }}</{{image_title_tag}}>
                      </dt>

                      <dd>
                        <picture>
                          {% if mediaImage.entity.image.url == empty %}
                            <img
                              alt="{{ alt }}"
                              class="alt-text-container vads-u-background-color--gray-lightest vads-u-display--block vads-u-border--1px vads-u-border-color--gray-light"
                              height="{{ mediaImage.entity.image.height }}"
                              width="{{ mediaImage.entity.image.width }}"
                            />
                          {% else %}
                            <img
                              alt="{{ alt }}"
                              class="vads-u-border--1px vads-u-border-color--gray-light"
                              height="{{ mediaImage.entity.image.height }}"
                              src="{{ mediaImage.entity.image.url }}"
                              width="{{ mediaImage.entity.image.width }}"
                            />
                          {% endif %}
                        </picture>
                      </dd>

                      {% if mediaImage.entity.fieldDescription %}
                        <dt class="vads-u-margin-top--1">
                          <p class="vads-u-margin-top--0 vads-u-margin-bottom--0 vads-u-margin-y--0">{{ mediaImage.entity.fieldDescription }}</p>
                        </dt>
                      {% endif %}
                    </div>
                  {% endunless %}
                {% endfor %}

                {% if recordsCount > pageSize %}
                  <div class="form-expanding-group additional-info-container vads-u-margin-y--2p5">
                    <span class="additional-info-title">Show more</span>
                    <span>
                      <div class="additional-info-content">
                        {% for remainingImage in remainingImages %}
                          {% assign alt = remainingImage.entity.image.alt %}

                          <div class="vads-u-display--flex vads-u-flex-direction--column vads-u-margin-bottom--4">
                            <dt class="vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0">
                              <{{image_title_tag}} class="{{image_title_classes }} medium-screen:vads-u-margin-top--0">{{ remainingImage.entity.entityLabel }}</{{image_title_tag}}>
                            </dt>

                            <dd>
                              <picture>
                                {% if remainingImage.entity.image.url == empty %}
                                  <img
                                    alt="{{ alt }}"
                                    class="alt-text-container vads-u-background-color--gray-lightest vads-u-display--block vads-u-border--1px vads-u-border-color--gray-light"
                                    height="{{ remainingImage.entity.image.height }}"
                                    width="{{ remainingImage.entity.image.width }}"
                                  />
                                {% else %}
                                  <img
                                    alt="{{ alt }}"
                                    class="vads-u-border--1px vads-u-border-color--gray-light"
                                    height="{{ remainingImage.entity.image.height }}"
                                    src="{{ remainingImage.entity.image.url }}"
                                    width="{{ remainingImage.entity.image.width }}"
                                  />
                                {% endif %}
                              </picture>
                            </dd>

                            {% if remainingImage.entity.fieldDescription %}
                              <dt class="vads-u-margin-top--1">
                                <p class="vads-u-margin-top--0 vads-u-margin-bottom--0 vads-u-margin-y--0">{{ remainingImage.entity.fieldDescription }}</p>
                              </dt>
                            {% endif %}
                          </div>
                        {% endfor %}
                      </div>
                    </span>
                  </div>
                {% endif %}
              {% endif %}
            </dl>

            <!-- Repeated buttons -->
            {% if fieldButtonsRepeat %}
              <div class="vads-u-margin-top--3">
                {% for fieldButton in fieldButtons %}
                  {% include "src/site/paragraphs/button.drupal.liquid" with entity = fieldButton.entity %}
                {% endfor %}
              </div>
            {% endif %}
          </article>
          <!-- ================ -->
          <!-- Images List End -->

          <!-- Tags -->
          {% include "src/site/includes/tags.drupal.liquid" with fieldTags = fieldTags %}

          <!-- How do you rate -->
          {% include "src/site/includes/how-do-you-rate.drupal.liquid" %}

          <!-- Related information -->
          {% include "src/site/includes/related-information.drupal.liquid" with fieldRelatedInformation = fieldRelatedInformation %}

          <!-- VA benefits -->
          {% include "src/site/includes/benefit-hubs-links.drupal.liquid" with fieldRelatedBenefitHubs = fieldRelatedBenefitHubs %}
        </div>
      </div>
    </div>

    <!-- Need more help -->
    {% include "src/site/paragraphs/contact_information.drupal.liquid" with entity = fieldContactInformation.entity %}

    <!-- Last updated -->
    {% include "src/site/includes/last-updated.drupal.liquid" %}
  </main>

  <!-- Up To Top Button -->
  {% include "src/site/components/up_to_top_button.html" %}
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
