{% if header == empty %}
    {% assign header = "h4" %}
{% endif %}
{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true deriveBreadcrumbsFromUrl = true %}

<div id="content" class="interior">
    <main class="va-l-detail-page va-facility-page">
        <div class="usa-grid usa-grid-full">
            {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
            <div class="usa-width-three-fourths">
                <article class="usa-content">
                    <h1>{{ title }}</h1>
                    {% assign image = fieldMedia.entity.image %}
                    <img class="story-detail-img {% if fieldImageCaption == empty %}vads-u-margin-bottom--2p5{% else %}vads-u-margin-bottom--1{% endif %}" src="{{ image.derivative.url }}" alt="{{ image.alt }}" title="{{ image.title }}" width="100%">
                    <div class="vads-u-font-size--sm vads-u-margin-bottom--2p5">{{ fieldImageCaption }}</div>
                    {% if fieldAuthor != empty and fieldAuthor.entity != empty %}
                        {% assign author = fieldAuthor.entity %}
                        <div class="authored-by-line vads-u-margin-bottom--0p5 vads-u-font-weight--bold">By {{ author.title }}{% if author.fieldDescription != empty %}, {{ author.fieldDescription }} {% endif %}</div>
                    {% endif %}
                    <div class="created-line vads-u-margin-bottom--2p5">
                        <time datetime="{{ created | dateFromUnix: 'YYYY-MM-DD'}}">{{ created | humanizeTimestamp }}</time>
                    </div>

                    {% include "src/site/facilities/story_social_share.drupal.liquid" %}

                    <div class="usa-grid usa-grid-full vads-u-margin-bottom--2">
                        <div class="va-introtext">
                            <p>{{ fieldIntroText }}</p>
                        </div>
                        <div class="full-story">
                            {{ fieldFullStory.processed }}
                        </div>
                    </div>
                    <a onClick="recordEvent({ event: 'nav-secondary-button-click' });" class="vads-u-display--block vads-u-margin-bottom--7" href="{{ fieldListing.entity.entityUrl.path }}">See all stories</a>
                </article>
            </div>
        </div>
    </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
