{% include "src/site/includes/header.html" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<div id="content" class="interior">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">

    {% include 'src/site/layouts/sidebar_navigation.drupal.liquid' %}

    <div class="usa-width-three-fourths">
      {% if !entityPublished %}
        <div class="usa-alert usa-alert-info" >
          <div class="usa-alert-body">
            <p class="usa-alert-text">You are viewing a draft.</p>
          </div>
        </div>
      {% endif %}

      <article class="usa-content">
        <h1>{{ title }}</h1>
        <div class="va-introtext">
          <p>
              {{ fieldIntroText }}
          </p>
        </div>
        {% for block in fieldContentBlock %}
          {% assign bundleComponent = "src/site/paragraphs/" | append: block.entity.entityBundle %}
          {% assign bundleComponentWithExtension = bundleComponent | append: ".drupal.liquid" %}
          {% include {{ bundleComponentWithExtension }} with entity = block.entity %}
        {% endfor %}

        {% include 'src/site/paragraphs/listOfLinkTeasers.drupal.liquid' listOfLinkTeasers = fieldRelatedLinks.entity  %}
      </article>

      <div class="last-updated usa-content">
          Last updated: <time datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
      </div>
    </div>
  </div>

</main>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
