{% include "src/site/includes/header.html" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}
<div id="content" class="interior">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">

    {% include 'src/site/navigation/sidebar_nav.drupal.liquid' with sidebar %}

    <div class="usa-width-three-fourths">
      {% if !entityPublished %}
        <div class="usa-alert usa-alert-info" >
          <div class="usa-alert-body">
            <p class="usa-alert-text">You are viewing a draft.</p>
          </div>
        </div>
      {% endif %}

      <article class="usa-content">
        <h1>{{ title }}</h1>
        <div class="va-introtext">
          <p>{{ fieldIntroText }}</p>
        </div>

        {% if fieldAlert %}
            {% include "src/site/blocks/alert.drupal.liquid" with alert = fieldAlert.entity %}
        {% endif %}

        {% assign featureCount = fieldFeaturedContent | size  %}
        {% if featureCount > 0 %}
        <div class="feature">
        {% for block in fieldFeaturedContent %}
          {% assign bundleComponent = "src/site/paragraphs/" | append: block.entity.entityBundle %}
          {% assign bundleComponentWithExtension = bundleComponent | append: ".drupal.liquid" %}
          {% include {{ bundleComponentWithExtension }} with entity = block.entity %}
        {% endfor %}
        </div>
        {% endif %}

        {% assign widgetDelta = 1 %}
        {% for block in fieldContentBlock %}
          {% if block.entity.entityBundle == 'react_widget' and block.entity.fieldCtaWidget == false %}
            {% assign reactRoot = 'react-widget-' | append: widgetDelta %}
            {% assign block.entity.reactRoot = reactRoot %}
            {% assign widgetDelta = widgetDelta | plus: 1 %}
          {% endif %}

          {% assign bundleComponent = "src/site/paragraphs/" | append: block.entity.entityBundle %}
          {% assign bundleComponentWithExtension = bundleComponent | append: ".drupal.liquid" %}
          {% include {{ bundleComponentWithExtension }} with entity = block.entity %}
        {% endfor %}
        {% if fieldRelatedLinks != empty %}
        <div class="row">
          <div class="usa-content columns">
            <aside class="va-nav-linkslist va-nav-linkslist--related">
              {% include 'src/site/paragraphs/list_of_link_teasers.drupal.liquid' entity = fieldRelatedLinks.entity %}
            </aside>
          </div>
        </div>
        {%  endif %}
      </article>

      <div class="last-updated usa-content">
          Last updated: <time datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
      </div>
    </div>
  </div>

</main>
{% include "src/site/includes/footer.html" with widgets = fieldContentBlock | paragraphsToWidgets %}
{% include "src/site/includes/debug.drupal.liquid" %}
