{% include "src/site/includes/header.html" %}
<main id="content">
  <div class="row">
    {% if !entityPublished %}
      <div class="usa-alert usa-alert-info" >
        <div class="usa-alert-body">
          <p class="usa-alert-text">You are viewing a draft.</p>
        </div>
      </div>
    {% endif %}

    <article class="usa-content">
      <h1>{{ title }}</h1>
      <div class="usa-font-lead">
        {{ fieldIntroText }}
      </div>
      {% for block in fieldContentBlock %}
        {% assign bundleComponent = "src/site/paragraphs/" | append: block.entity.entityBundle %}
        {% assign bundleComponentWithExtension = bundleComponent | append: ".drupal.liquid" %}
        {% include {{ bundleComponentWithExtension }} with entity = block.entity %}
      {% endfor %}

      {% include 'src/site/paragraphs/listOfLinkTeasers.drupal.liquid' listOfLinkTeasers = fieldRelatedLinks.entity  %}
    </article>

    <div class="last-updated usa-content">
        Last updated: <time datetime="{{ changed | unixHumanizeDate }}">{{ changed | unixHumanizeDate }}</time>
    </div>
  </div>

</main>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
