{% comment %}
    Example data:
    {
    "entityPublished": true,
    "fieldNameFirst": "Sheila",
    "fieldLastName": "Tunney",
    "fieldSuffix": null,
    "fieldDescription": "Public Affairs Specialist",
    "fieldOffice": {
    "entity": {
    "entityLabel": "Pittsburgh Health Care System",
    "entityType": "node"
    }
    },
    "fieldIntroText": null,
    "fieldPhotoAllowHiresDownload": false,
    "fieldMedia": {
    "entity": {
    "image": {
    "alt": "Robert L Wilkie",
    "title": "",
    "derivative": {
    "url": "http://dev.va.agile6.com/sites/default/files/styles/1_1_square_medium_thumbnail/public/2019-03/Robert_L_Wilkie_8x10.jpg?h=59bf76d8&itok=Q-x_2QaJ",
    "width": 240,
    "height": 240
    }
    }
    }
    },
    "fieldBody": null,
    "changed": 1552424311,
    "entityUrl": {
    "path": "/pittsburgh-health-care/sheila-tunney"
    }
    },
{% endcomment %}
{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true %}
<div id="content" class="interior">
    <main class="va-l-detail-page va-facility-page">
        <div class="usa-grid usa-grid-full">
            {% if fieldOffice.entity.entityUrl.path %}
                {% assign sidebarData = '{"depth": 5, "link": {"label":"' | append: title | append: '","url": {"path": "/"}, "links": []}, "parent": {"label": "Leadership", "links": [], "url": {"path": "' | append: fieldOffice.entity.entityUrl.path | append: '/leadership"}}}' %}

                {% include 'src/site/navigation/facility_no_drupal_page_sidebar_nav.drupal.liquid' with entityUrl = entityUrl, sidebarData = sidebarData %}
            {%  endif %}
            <div class="usa-width-three-fourths">
                {% if !entityPublished %}
                    <div class="usa-alert usa-alert-info" >
                        <div class="usa-alert-body">
                            <p class="usa-alert-text">You are viewing a draft.</p>
                        </div>
                    </div>
                {% endif %}
                <article class="usa-content">

                    <div class="usa-grid usa-grid-full vads-u-margin-bottom--2 vads-u-display--flex vads-u-flex-direction--column medium-screen:vads-u-flex-direction--row">

                        {% if fieldMedia.entity.image != empty %}
                            <div class="vads-u-margin-bottom--2 medium-screen:vads-u-margin-bottom--0 vads-u-margin-right--3">
                                {% assign image = fieldMedia.entity.image %}
                                <img class="person-profile-detail-page-image" src="{{ image.derivative.url }}" alt="{{ image.alt }}" title="{{ image.title }}">
                            </div>
                        {% endif %}

                        <div class="vads-u-display--flex vads-u-flex-direction--column">
                            <h1 class="
                            vads-u-font-size--xl
                            vads-u-margin-bottom--0p5">
                                {{ title }}
                                {% if fieldSuffix %}
                                {{ fieldSuffix }}
                                {% endif %}
                            </h1>
                            {% if fieldDescription %}
                            <p class="
                            vads-u-font-weight--normal
                            vads-u-margin--0
                            vads-u-margin-bottom--0p5
                            vads-u-font-family--serif
                            vads-u-font-size--lg">
                                {{ fieldDescription }}</p>
                            {% endif %}
                            {% if fieldOffice.entity.entityLabel %}
                            <p class="
                            vads-u-font-weight--normal
                            vads-u-margin--0
                            vads-u-margin-bottom--0p5
                            vads-u-font-family--serif
                            vads-u-font-size--lg">
                                {{ fieldOffice.entity.entityLabel }}
                            </p>
                            {% endif %}
                            {% if fieldEmailAddress %}
                            <p class="
                            vads-u-margin--0
                            vads-u-margin-bottom--0p5
                            vads-u-font-weight--regular">
                                <span class="vads-u-font-weight--bold">Email:</span> <a target="blank"
                                    href="mailto:{{ fieldEmailAddress }}">{{ fieldEmailAddress }}</a>
                            </p>
                            {% endif %}
                            {% if fieldPhoneNumber %}
                            <p class="
                            vads-u-font-weight--regular
                            vads-u-margin--0
                            vads-u-margin-bottom--0p5">
                                <span class="vads-u-font-weight--bold">Phone:</span> <a
                                    href="tel:{{ fieldPhoneNumber }}">{{ fieldPhoneNumber }}</a>
                            </p>
                            {% endif %}
                        </div>
                    </div>

                    {% if fieldIntroText %}
                        <div class="va-introtext vads-u-margin-bottom--2">
                            <p class="va-introtext vads-u-margin-bottom--0">{{ fieldIntroText }}</p>
                        </div>
                    {% endif %}

                    {% if fieldBody %}
                    <div class="vads-u-margin-bottom--2">
                        {{ fieldBody.processed }}
                    </div>
                    {% endif %}
                    {% if fieldPhotoAllowHiresDownload %}
                    <div class="vads-u-align-content--flex-end va-c-margin-top--auto vads-u-margin-bottom--2">
                        <i class="va-c-social-icon fas fa-download"></i> <a href="{{ image.url }}"
                            download>Download full size photo</a>
                    </div>
                    {% endif %}
                    {% if fieldCompleteBiography %}
                    <div class="vads-u-align-content--flex-end va-c-margin-top--auto vads-u-margin-bottom--2">
                        <i class="va-c-social-icon fas fa-download"></i> <a href="{{ fieldCompleteBiography.entity.url }}"
                            download>Download full bio (PDF)</a>
                    </div>
                    {% endif %}
                </article>

                <div class="last-updated usa-content">
                    Last updated: <time datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
                </div>

            </div>
        </div>
    </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
