{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true deriveBreadcrumbsFromUrl = true %}

<div id="content" class="interior">
    <main class="va-l-detail-page va-facility-page">
        <div class="usa-grid usa-grid-full">
            {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}

            <div class="usa-width-three-fourths">
                <article class="usa-content">
                    <section class="vads-u-margin-bottom--5">
                        <h1 class="vads-u-margin-bottom--2p5">{{ title }}</h1>
                        <p class="vads-u-margin-bottom--0p5">PRESS RELEASE</p>
                        <p class="vads-u-font-weight--bold vads-u-margin-bottom--3 vads-u-margin-top--0">{{ fieldReleaseDate.value | formatDate: 'MMMM D, YYYY' }}</p>
                        <div>
                            <button type="button" class="vads-u-margin-right--4 va-button-link"
                                    onclick="window.print(); return false;">
                                <i class="fa fa-print vads-u-padding-right--1"></i>
                                Print
                            </button>
                            {% if fieldPdfVersion != empty %}
                                <a href="{{ fieldPdfVersion.entity.fieldDocument.entity.url }}" download>
                                    <i class="fa fa-download vads-u-padding-right--1"></i>
                                    Download press release (PDF)
                                </a>
                            {% endif %}
                        </div>
                        <p class="va-introtext vads-u-font-size--lg vads-u-margin-top--3">{{ fieldAddress.locality }}
                            , {{ fieldAddress.administrativeArea }} — {{ fieldIntroText }}</p>
                        <div>{{ fieldPressReleaseFulltext.processed }}</div>
                    </section>

                    {% assign anyContacts = fieldPressReleaseContact.length %}
                    {% if anyContacts > 0 %}
                        <section class="vads-u-margin-bottom--6">
                            <div class="vads-u-font-weight--bold">Media contacts</div>
                            {% for contact in fieldPressReleaseContact %}
                                {% assign c = contact.entity %}
                                {% if c != empty %}
                                    <div>
                                        <p class="vads-u-margin-top--1 vads-u-margin-bottom--0">{{ c.title }}{% if c.fieldDescription != empty %}, {{ c.fieldDescription }} {% endif %}</p>
                                        <p class="vads-u-margin-top--1 vads-u-margin-bottom--0">{{ c.fieldPhoneNumber }}</p>
                                        {% if c.fieldEmailAddress != empty %}
                                            <p class="vads-u-margin-top--1 vads-u-margin-bottom--0"><a
                                                        href="mailto:{{ c.fieldEmailAddress }}">{{ c.fieldEmailAddress }}</a>
                                            </p>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </section>
                    {% endif %}

                        {% assign anyDownloads = fieldPressReleaseDownloads.length %}
                        {% if anyDownloads > 0 %}
                            <section class="vads-u-margin-bottom--6">
                                <div class="vads-u-font-weight--bold vads-u-margin-bottom--1">Download media assets</div>
                                {% for asset in fieldPressReleaseDownloads %}
                                    {% assign a = asset.entity %}
                                    <ul class="vads-u-margin-bottom--1 usa-unstyled-list">
                                        <li class="vads-u-margin-bottom--1">
                                            {% case a.entityBundle %}
                                            {% when 'document' %}
                                                <a href="{{ a.fieldDocument.entity.url }}" download>{{ a.name }}</a>
                                            {% when a.entityBundle === 'image' %}
                                                <a href="{{ a.image.url }}" download>{{ a.name }}</a>
                                            {% when a.entityBundle === 'video' %}
                                                <a href="{{ a.fieldMediaVideoEmbedField }}">{{ a.name }}</a>
                                            {%  endcase %}
                                        </li>
                                    </ul>
                                {% endfor %}
                            </section>
                        {%  endif %}

                    <section class="vads-u-margin-bottom--6 vads-u-text-align--center">###</section>

                    <section class="vads-u-margin-bottom--3">
                        {{ fieldOffice.entity.fieldPressReleaseBlurb.processed }}
                    </section>
                    {% assign index = entityUrl.breadcrumb.length | minus: 1 %}
                    <a onClick="recordEvent({ event: 'nav-secondary-button-click' });"
                       href="{{ entityUrl.breadcrumb | getValueFromArrayObjPath: index, 'url.path' }}">See all news
                        releases</a>
                </article>
            </div>
        </div>
    </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
