{% assign entryname = "public-outreach-materials" %}
{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}

<div class="interior" id="content">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = outreachSidebar %}
      <div class="usa-width-three-fourths">
        {% include "src/site/components/navigation-sidebar-trigger.html" with menuId = "va-detailpage-sidebar" %}
        {% if !entityPublished %}
        <div class="usa-alert usa-alert-info">
          <div class="usa-alert-body">
            <p class="usa-alert-text">You are viewing a draft.</p>
          </div>
        </div>
        {% endif %}

        <article aria-labelledby="article-heading" role="region" class="usa-content vads-l-grid-container--full">
          <div class="vads-l-grid-container--full">
            <h1 id="article-heading">{{ title }}</h1>
            <div class="vads-l-grid-container--full">
              <div class="va-introtext">
                {% if fieldIntroText %}
                <p class="library-show" id="office-benefits-description">
                  {{ fieldIntroText }}
                </p>
                {% endif %}
              </div>
            </div>
            <div
              class="vads-l-grid-container--full asset-component-library library-show"
              id="search-entry">

              <form
                class="usa-form outreach-asset-form-filters library-show vads-u-max-width--100 vads-u-padding-y--3 vads-u-padding-x--1p5 vads-u-margin-bottom--2">
                <div class="vads-l-row vads-u-justify-content--space-between">
                  <div class="vads-l-col--12
                                medium-screen:vads-l-col--12
                                small-desktop-screen:vads-l-col--12
                                large-screen:vads-l-col--6
                                vads-u-padding-x--1p5">
                    <label class="vads-u-margin-top--0"
                      for="outreach-topic">Select a topic</label>
                    <select class="vads-u-max-width--100 usa-select"
                      name="outreach-topic" id="outreach-topic">
                      <option value="select">- All topics -</option>
                      <option value="healthcare">Health care</option>
                      <option value="disability">Disability
                      </option>
                      <option value="education">Education and training
                      </option>
                      <option value="careers">Careers and employment</option>
                      <option value="pension">Pension</option>
                      <option value="housing">Housing assistance</option>
                      <option value="insurance">Life insurance</option>
                      <option value="burial">Burials and memorials
                      </option>
                      <option value="records">Records</option>
                      <option value="service">Service member benefits</option>
                      <option value="family">Family member benefits</option>
                      <option value="general">General benefits information
                      </option>
                    </select>
                  </div>
                  <div class="vads-l-col--12
                medium-screen:vads-l-col--12
                small-desktop-screen:vads-l-col--12
                large-screen:vads-l-col--6
                vads-u-padding-x--1p5
                ">
                    <label class="vads-u-margin-top--0"
                      for="outreach-type">Select file type</label>
                    <select class="vads-u-max-width--100 usa-select"
                      name="outreach-type" id="outreach-type">
                      <option value="select">- All types -</option>
                      <option value="video">Videos</option>
                      <option value="social_share">Social share images, text,
                        and badges</option>
                      <option value="newsletter_content">Newsletter content
                      </option>
                      <option value="document">Poster, Flyer, brochure and
                        fact sheets</option>

                    </select>
                  </div>
                </div>
              </form>

              <div id="total-pages-div" class="vads-u-margin-bottom--1">
                <div
                  aria-live="polite"
                  aria-atomic="true"
                  id="pager-focus"
                  class="break-div"
                  role="status"
                  tabindex="-1"
                  >
                  <span>
                    Showing
                    <span aria-hidden="true" id="total-pages"></span>
                    <span class="usa-sr-only" id="total-pages-sr"></span>
                    <span id="total-all"></span> results
                  </span>
                </div>
              </div>
              {% assign even = true %}
              {% for entity in outreachAssetsDataArray.entities %}
              {% if entity.fieldListing.targetId == entityId %}

              <div data-topic="{{entity.fieldBenefits}}"
                {{entity.fieldBenefits | breakIntoSingles}}
                data-type="{{entity.fieldFormat}}" data-number={{forloop.index}}
                class="vads-l-col--12
                vads-l-row
                medium-card-utility
                large-screen:vads-l-col--6
                {% if even %} large-screen:vads-u-margin-right--3 {% endif %}
                vads-u-margin-bottom--3
                asset-card
                show-type
                show-topic">
                <div class="card-inside-wrap clearfix vads-u-padding--3">
                  <div class="asset-head-wrap
                medium-screen:vads-l-col--4
                medium-head-utility
                large-screen:vads-l-col--12
                  {{entity.fieldMedia.entity.entityBundle}}-asset-wrap">
                    {% if entity.fieldMedia.entity.entityBundle == 'document' %}
                    {% case entity.fieldBenefits %}
                    {% when 'general' %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/records.png" />
                    {% when 'burial' %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/burials.png" />
                    {% when 'careers' %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/careers.png" />
                    {% when 'disability' %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/disability.png" />
                    {% when 'education' %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/education.png" />
                    {% when 'family' %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/family-caregiver.png" />
                    {% when 'healthcare' %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/health-care.png" />
                    {% when 'housing' %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/housing.png" />
                    {% when 'insurance' %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/life-insurance.png" />
                    {% when 'pension' %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/pension.png" />
                    {% when 'service' %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/service-member.png" />
                    {% when 'records' %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/records.png" />
                    {% else %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="/img/hub-illustrations/records.png" />
                    {% endcase %}
                    {% endif %}

                    {% if entity.fieldMedia.entity.entityBundle == 'image' %}
                    {% if entity.fieldMedia.entity.image.url %}
                    <img src="{{entity.fieldMedia.entity.image.url}}"
                      alt="{{entity.fieldMedia.entity.image.alt}}"
                      onerror="this.onerror=null;this.src='https://via.placeholder.com/318x212';" />
                    {% elsif entity.derivedFields.absoluteUrl %}
                    <img alt="{{entity.fieldMedia.entity.image.alt}}"
                      src="{{entity.derivedFields.absoluteUrl}}"
                      onerror="this.onerror=null;this.src='https://via.placeholder.com/318x212';" />
                    {% endif %}
                    {% endif %}

                    {% if entity.fieldMedia.entity.entityBundle == 'video' %}
                    {% if entity.fieldMedia.entity.thumbnail.derivative.url %}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="{{entity.fieldMedia.entity.thumbnail.derivative.url}}" />
                    {%else%}
                    <img alt="{{entity.title | truncate: 36}}"
                      src="{{entity.fieldMedia.entity.fieldMediaVideoEmbedField | videoThumbnail}}" />
                    {%endif%}
                    {% endif %}
                  </div>

                  <div class="asset-body-wrap
                  vads-u-display--flex
                  vads-u-flex-direction--column
                  vads-u-padding-top--1p5
                  medium-screen:vads-u-padding-left--3
                  large-screen:vads-u-padding-left--0
                  medium-screen:vads-l-col--8
                  medium-body-utility
                  large-screen:vads-l-col--12">
                    <i>{{entity.fieldBenefits | benefitTerms}}</i>
                    <h2 class="asset-body-header
                    vads-u-margin-y--1
                    vads-u-font-size--lg">
                      {{entity.title| truncate: 36}}</h2>
                    <div class="asset-body-text">
                      {{entity.fieldDescription | truncate: 81 }}</div>


                    <div class="asset-download-trigger va-c-margin-top--auto vads-u-margin-bottom--3
                  medium-screen:vads-u-margin-bottom--0
                  large-screen:vads-u-margin-bottom--3">
                      {% if entity.fieldMedia.entity.entityBundle == 'document' %}
                      {% assign url = entity.fieldMedia.entity.fieldDocument.entity.url %}
                      {% if entity.derivedFields.absoluteUrl %}
                      {% assign url = entity.derivedFields.absoluteUrl %}
                      {% endif %}
                      <a aria-label="Download {{url | fileExt | upcase}} {{entity.title}}"
                        class="file-download-with-icon" target="_blank"
                        href="{{url}}" download="{{url}}"><i
                          class="fas fa-download vads-u-padding-right--1"></i>Download
                        {{url | fileExt | upcase}}
                        ({{entity.fieldMedia.entity.fieldDocument.entity.filesize | fileSize}})
                      </a>
                      {% endif %}

                      {% if entity.fieldMedia.entity.entityBundle == 'video' %}
                      <a aria-label="Go to video about {{entity.title}}"
                        class="video-link" target="_blank"
                        href="{{entity.fieldMedia.entity.fieldMediaVideoEmbedField}}"><i
                          class="fas fa-play-circle vads-u-padding-right--1"></i>Go
                        to
                        video</a>
                      {% endif %}

                      {% if entity.fieldMedia.entity.entityBundle == 'image' %}
                      {% assign url = entity.fieldMedia.entity.image.url %}
                      {% if entity.derivedFields.absoluteUrl %}
                      {% assign url = entity.derivedFields.absoluteUrl %}
                      {% endif %}
                      <a aria-label="Download {{url | fileExt | upcase}} {{entity.title}}"
                        class="file-download-with-icon" target="_blank"
                        href="{{url}}" download="{{url}}"><i
                          class="fas fa-download vads-u-padding-right--1"></i>Download
                        {{url | fileExt | upcase}}
                        ({{entity.fieldMedia.entity.image.entity.filesize | fileSize}})
                      </a>
                      {% endif %}

                    </div>
                  </div>
                </div>
              </div>
              {% endif %}

              {% if even %}
              {% assign even = false %}
              {% else %}
              {% assign even = true %}
              {% endif %}
              {% endfor %}

            </div>

            <div class="va-pagination library-show" id="va-pager-div">
              <span class="vads-u-display--none
              medium-screen::vads-u-display--block
              small-desktop-screen:vads-u-display--block
              large-screen:vads-u-display--block max-control">
                <a href="#first-click" aria-label="First page"
                  class="va-button-link pager-focus-item" id="first-click">First</a>
              </span>
              <span class="va-pagination-prev">
                <a href="#pager-previous-click" class="va-button-link pager-focus-item"
                  id="pager-previous-click" aria-label="Load previous page"
                  tabindex="0">Prev</a>
              </span>
              <div id="pager-nums-insert" class="va-pagination-inner">
              </div>
              <span class="va-pagination-next">
                <a href="#pager-next-click" class="va-button-link pager-focus-item"
                  id="pager-next-click" aria-label="Load next page"
                  tabindex="0">Next</a>
              </span>
              <span class="vads-u-display--none
              medium-screen::vads-u-display--block
              small-desktop-screen:vads-u-display--block
              large-screen:vads-u-display--block max-control">
                <a aria-label="Last page" href="#search-entry"
                  class="va-button-link pager-focus-item" id="last-click">Last</a>
              </span>
            </div>
            <div class="library-show" id="no-results">
              <div>
                <p><b>Select a different topic or file type</b></p>
              </div>
            </div>

        </article>

      </div>
    </div>
  </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
