{% include "src/site/includes/header.html" with drupalTags = true %}

{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" %}

<div id="content" class="interior">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">
      <div class="usa-width-three-fourths">
        <div class="usa-content">
          <div class="vads-u-padding-x--1 large-screen:vads-u-padding-x--0">
            <h1>{{ title }}</h1>
          </div>

          <!-- Search bar -->
          {% include "src/site/includes/support_resources_search_bar.drupal.liquid" %}

          <p class="vads-u-padding-x--1 large-screen:vads-u-padding-x--0">{{ paginationTitle }}</p>

          <ul class="usa-unstyled-list vads-u-padding-x--1 large-screen:vads-u-padding-x--0">
          {% for article in articles %}
            <li>
              <div class="vads-u-padding-y--3 vads-u-border-top--1px vads-u-border-color--gray-lighter">
                <div>
                  <dfn class="vads-u-visibility--screen-reader">Article type: </dfn>
                  {{ articleTypesByEntityBundle | get: article.entityBundle }}
                </div>
                <h2 class="vads-u-font-size--h3 vads-u-margin-top--0">
                  <a href="{{ article.entityUrl.path }}">{{ article.title }}</a>
                </h2>
                {% assign snippet = article.fieldIntroTextLimitedHtml %}

                {% if article.entityBundle == 'q_a' %}
                  {% assign snippet = article.fieldAnswer.entity.fieldWysiwyg %}
                {% endif %}

                {% if snippet %}
                  {% assign sanitized = snippet.processed | strip_html %}
                  {% assign truncated = sanitized | truncate: 200 %}
                  <p class="vads-u-margin-bottom--0">{{ truncated }}{% if truncated != sanitized %}...{% endif %}</p>
                {% endif %}
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>
        {% include "src/site/includes/pagination.drupal.liquid" %}
      </div>
    </div>
  </main>
  {% include "src/site/components/up_to_top_button.html" %}
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
