{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with deriveBreadcrumbsFromUrl = true %}

<div id="content" class="interior">
  <main class="va-l-detail-page">
    <div class="usa-grid usa-grid-full">

    {% include 'src/site/navigation/sidebar_nav.drupal.liquid' with sidebar %}
    <div class="usa-width-three-fourths">

      <article class="usa-content">
        <h1 class="vads-u-margin-bottom--0">
          {{ title }}
        </h1>

        <dl>
          <div class="vads-u-margin-bottom--4">
            <dt class="va-introtext">
              <dfn class="vads-u-visibility--screen-reader">Form name:</dfn>
              {{ fieldVaFormName }}
            </dt>
          </div>

          <div class="vads-u-margin-y--1">
            <dd>
              <dfn class="vads-u-font-weight--bold vads-u-display--inline">Related to:</dfn>
              {% case fieldVaFormType %}
                {% when 'employment' %}
                  Employment or jobs at VA
                {% when 'non-va' %}
                  A non-VA form. For other government agency forms, go to the <a href="https://www.gsa.gov/reference/forms">GSA forms library</a>.
                {% else %}
                  {% comment %}
                    {% when 'benefit' %}
                  {% endcomment %}
                  {% if fieldBenefitCategories.length > 0 %}
                    {{ fieldBenefitCategories | map: "entity" | map: "fieldHomePageHubLabel" | join: ', ' }}
                  {% else %}
                    {{ fieldVaFormAdministration.entity.entityLabel }}
                  {% endif %}
              {% endcase %}
            </dd>
          </div>

          {% if fieldVaFormRevisionDate or fieldVaFormIssueDate %}
            <div>
              <dd>
                <dfn class="vads-u-font-weight--bold vads-u-display--inline">Form last updated:</dfn>
                {% assign revisionDateIsLatestUpdate = fieldVaFormRevisionDate.value | isLaterThan: fieldVaFormIssueDate.value %}
                {% if revisionDateIsLatestUpdate %}
                  {{ fieldVaFormRevisionDate.value | humanizeDate }}
                {% else %}
                  {{ fieldVaFormIssueDate.value | humanizeDate }}
                {% endif %}
              </dd>
            </div>
          {% endif %}
        </dl>

        {% if fieldVaFormUsage %}
          <h2 class="vads-u-margin-top--4">When to use this form</h3>
          {{ fieldVaFormUsage.processed }}

          <h3>Downloadable PDF</h3>
          <a
            href="{{ fieldVaFormUrl.uri }}"
            target="_blank"
            download
            data-widget-type="find-va-forms-invalid-pdf-alert"
            data-form-number="{{ fieldVaFormNumber }}">
            Download VA Form {{ fieldVaFormNumber }} (PDF)
          </a>
        {% else %}
          <a
            class="vads-u-margin-top--4"
            href="{{ fieldVaFormUrl.uri }}"
            target="_blank"
            download
            data-widget-type="find-va-forms-invalid-pdf-alert"
            data-form-number="{{ fieldVaFormNumber }}">
            Download VA Form {{ fieldVaFormNumber }} (PDF)
          </a>
        {% endif %}

        {% if fieldAlert.length %}
          {% for alert in fieldAlert %}
            {% if alert.entity != empty %}
              {% include "src/site/blocks/alert.drupal.liquid" with alert = alert.entity %}
            {% endif %}
          {% endfor %}
        {% else %}
          {% if fieldAlert.entity != empty %}
            {% include "src/site/blocks/alert.drupal.liquid" with alert = fieldAlert.entity %}
          {% endif %}
        {% endif %}

        {% if fieldVaFormToolUrl %}
          <h3>Online tool</h3>
          <p>{{ fieldVaFormToolIntro }}</p>
          <a
            href="{{ fieldVaFormToolUrl.uri }}" class="usa-button va-button-primary"
            onclick="recordEvent({ event: 'cta-primary-button-click' });">
            Go to the online tool <i role="presentation" aria-hidden="true" class="fa fa-chevron-right vads-u-margin-left--1"> </i>
          </a>
        {% endif %}


        {% if fieldVaFormRelatedForms.length > 0 %}
          <section>
            <h2>Related forms and instructions</h2>
            <ul class="usa-unstyled-list">
            {% for vaForm in fieldVaFormRelatedForms %}
              <li>
                  <h3>VA Form {{ vaForm.entity.fieldVaFormNumber }}</h3>
                  <p class="vads-u-margin-top--0 vads-u-font-size--h4 vads-u-font-weight--bold">
                    <dfn class="vads-u-visibility--screen-reader">Form name:</dfn> {{ vaForm.entity.fieldVaFormName }}
                  </p>

                {{ vaForm.entity.fieldVaFormUsage.processed }}

                <a
                  href="{{ vaForm.entity.fieldVaFormUrl.uri }}"
                  target="_blank"
                  download
                  data-widget-type="find-va-forms-invalid-pdf-alert"
                  data-form-number="{{ vaForm.entity.fieldVaFormNumber }}">
                  Download VA Form {{ vaForm.entity.fieldVaFormNumber }} (PDF)
                </a>
              </li>
            {% endfor %}
            </ul>
          </section>
        {% endif %}

        <section>
          <div class="vads-u-background-color--gray-lightest vads-u-padding--3 vads-u-margin-y--4">
            <h2 class="vads-u-font-size--h3 vads-u-margin-top--0 vads-u-padding-bottom--1 vads-u-border-bottom--1px vads-u-border-color--gray-light">
              {% assign linkTeasersHeader = 'Helpful links' %}
              {% if fieldVaFormLinkTeasers.length > 0 %}
                {% assign linkTeasersHeader = 'Helpful links related to VA Form ' | append: fieldVaFormNumber %}
              {% endif %}
              {{ linkTeasersHeader }}
            </h2>
            <ul class="usa-unstyled-list">
              {% if fieldVaFormLinkTeasers.length > 0 %}
                {% for vaFormLinkTeaser in fieldVaFormLinkTeasers %}
                  <li>
                    <h3 class="vads-u-font-size--h4 vads-u-margin-bottom--0 vads-u-font-family--sans">
                      <a
                        class="vads-u-text-decoration--none"
                        href="{{ vaFormLinkTeaser.entity.fieldLink.url.path }}"
                        onclick="recordEvent({ event: 'nav-linkslist', 'links-list-header': '{{ vaFormLinkTeaser.entity.fieldLink.title | escape }}', 'links-list-section-header': '{{ linkTeasersHeader | escape }}' })">
                        {{ vaFormLinkTeaser.entity.fieldLink.title }}
                      </a>
                    </h3>
                    <p>{{ vaFormLinkTeaser.entity.fieldLinkSummary }}</p>
                  </li>
                {% endfor %}
              {% else %}
                {% comment %} The default related links if custom links aren't defined {% endcomment %}
                <li>
                  <h3 class="vads-u-font-size--h4 vads-u-margin-bottom--0 vads-u-font-family--sans">
                    <a
                      class="vads-u-text-decoration--none"
                      href="/change-direct-deposit"
                      onclick="recordEvent({ event: 'nav-linkslist', 'links-list-header': 'Change your direct deposit information', 'links-list-section-header': '{{ linkTeasersHeader | escape }}' })">
                      Change your direct deposit information
                    </a>
                  </h3>
                  <p>Find out how to update your direct deposit information online for disability compensation, pension, or education benefits. </p>
                </li>
                <li>
                  <h3 class="vads-u-font-size--h4 vads-u-margin-bottom--0 vads-u-font-family--sans">
                    <a
                      class="vads-u-text-decoration--none"
                      href="/change-address"
                      onclick="recordEvent({ event: 'nav-linkslist', 'links-list-header': 'Change your address', 'links-list-section-header': '{{ linkTeasersHeader | escape }}' })">
                      Change your address
                    </a>
                  </h3>
                  <p>Find out how to change your address and other information in your VA.gov profile for disability compensation, claims and appeals, VA health care, and other benefits.</p>
                </li>
                <li>
                  <h3 class="vads-u-font-size--h4 vads-u-margin-bottom--0 vads-u-font-family--sans">
                    <a
                      class="vads-u-text-decoration--none"
                      href="/records/get-military-service-records/"
                      onclick="recordEvent({ event: 'nav-linkslist', 'links-list-header': 'Request your military records, including DD214', 'links-list-section-header': '{{ linkTeasersHeader | escape }}' })">
                      Request your military records, including DD214
                    </a>
                  </h3>
                  <p>Submit an online request to get your DD214 or other military service records through the milConnect website.</p>
                </li>
                <li>
                  <h3 class="vads-u-font-size--h4 vads-u-margin-bottom--0 vads-u-font-family--sans">
                    <a
                      class="vads-u-text-decoration--none"
                      href="/records/"
                      onclick="recordEvent({ event: 'nav-linkslist', 'links-list-header': 'Get your VA records and documents online', 'links-list-section-header': '{{ linkTeasersHeader | escape }}' })">
                      Get your VA records and documents online
                    </a>
                  </h3>
                  <p>Learn how to access your VA records, benefit letters, and documents online.</p>
                </li>
              {% endif %}
            </ul>
          </div>
        </section>
      </article>

      <div class="last-updated usa-content">
        Last updated: <time datetime="{{ changed | dateFromUnix: 'YYYY-MM-DD'}}">{{ changed | humanizeTimestamp }}</time>
      </div>
    </div>
  </div>

</main>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
