<style>
    .facility-title-width {
        max-width: 90%;
    }
</style>
{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with hideHomeBreadcrumb = true %}
<div id="content" class="interior">
    <main class="va-l-detail-page va-facility-page">
        <div class="usa-grid usa-grid-full">
            {% include 'src/site/navigation/facility_sidebar_nav.drupal.liquid' with sidebarData = facilitySidebar %}
            <div class="usa-width-three-fourths">

                <article class="usa-content">
                    <h1 class="vads-u-margin-bottom--2">Operating status</h1>
                    <div class="va-introtext vads-u-margin-bottom--0">
                        {{facilitySidebar.name}} facility operating statuses and emergency information.
                    </div>
                    {% if fieldOffice.entity.fieldLinkFacilityEmergList.url.path %}
                    <div class="usa-grid usa-grid-full vads-u-margin-y--1p5">
                        <div class="vads-l-row">
                            <div class="vads-u-margin-right--2p5">
                                <a class="vads-u-padding-x--5 usa-button vads-u-margin-top--1 vads-u-margin--0 vads-u-width--full vads-u-font-size--md"
                                    href="{{fieldOffice.entity.fieldLinkFacilityEmergList.url.path}}">Subscribe
                                    to emergency notifications</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <section class="table-of-contents"
                        class="vads-u-margin-bottom--5">
                        <h2 class="vads-u-margin-bottom--2 vads-u-font-size--lg"
                            id="on-this-page">On this
                            page</h2>
                        <ul class="usa-unstyled-list">
                            {% if fieldBannerAlert.0.entity.status != false and fieldBannerAlert.0.entity.fieldSituationUpdates.0.entity %}
                            <li class="vads-u-margin-bottom--2">
                                <a href="#situation-updates"
                                    onclick="recordEvent({ event: 'nav-jumplink-click' });"
                                    class="vads-u-display--flex vads-u-text-decoration--none">
                                    <i
                                        class="fas fa-arrow-down va-c-font-size--xs vads-u-margin-top--1 vads-u-margin-right--1"></i>
                                    Situation updates and information
                                </a>
                            </li>
                            {% endif %}
                            <li class="vads-u-margin-bottom--2">
                                <a href="#operating-statuses"
                                    onclick="recordEvent({ event: 'nav-jumplink-click' });"
                                    class="vads-u-display--flex vads-u-text-decoration--none">
                                    <i
                                        class="fas fa-arrow-down va-c-font-size--xs vads-u-margin-top--1 vads-u-margin-right--1"></i>
                                    Facility operating statuses
                                </a>
                            </li>
                            {% if fieldLink.0.uri or fieldOperatingStatusEmergInf.value %}
                            <li class="vads-u-margin-bottom--2">
                                <a href="#emergency-resources"
                                    onclick="recordEvent({ event: 'nav-jumplink-click' });"
                                    class="vads-u-display--flex vads-u-text-decoration--none">
                                    <i
                                        class="fas fa-arrow-down va-c-font-size--xs vads-u-margin-top--1 vads-u-margin-right--1"></i>
                                    Emergency resources
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </section>

                    {% if fieldBannerAlert %}
                    {% include "src/site/components/situation_updates.drupal.liquid" with fieldBannerAlert %}
                    {% endif %}

                    {% if fieldFacilityOperatingStatus.0.entity %}
                    <section id="operating-statuses"
                        class="operating-statuses clearfix">
                        <h2>Facility operating statuses</h2>
                        <dl
                            class="vads-l-grid-container vads-u-padding-x--0 vads-l-row vads-u-border-bottom--1px vads-u-border-color--gray-light">
                            {% for status in fieldFacilityOperatingStatus %}
                            <div
                                class="vads-l-row vads-u-border-top--1px vads-u-border-color--gray-light">
                                <dt
                                    class="vads-l-col--6 vads-u-margin-y--3 vads-u-display--flex operating-status-title">
                                    <a class="facility-title-width vads-u-font-weight--bold"
                                        onclick="recordEvent({
                                        'event':'nav-health-care-facility-status-click'});"
                                        href="{{status.entity.entityUrl.path}}">{{ status.entity.title }}</a>
                                </dt>
                                <dd class="vads-l-col--6">
                                    <div class="operating-status-info vads-u-padding-y--1p5 vads-u-padding-x--0">
                                        {% if status.entity.fieldOperatingStatusFacility == 'notice' %}
                                        <span
                                            class="operating-status usa-alert usa-alert-info background-color-only vads-u-margin-top--0 vads-u-padding--1p5">
                                            <i class="fa fa-info-circle"
                                                aria-hidden="true"></i> Facility
                                            notice
                                        </span>
                                        {% elsif status.entity.fieldOperatingStatusFacility == 'normal' %}
                                        <span
                                            class="operating-status normal-hours vads-u-margin-top--1p5 vads-u-display--block">
                                            Normal services and hours
                                        </span>
                                        {% elsif status.entity.fieldOperatingStatusFacility == 'limited' %}
                                        <span
                                            class="operating-status usa-alert usa-alert-warning background-color-only vads-u-margin-top--0 vads-u-padding--1p5">
                                            <i class="fa fa-exclamation-triangle"
                                                aria-hidden="true"></i> Limited
                                            services and hours
                                        </span>
                                        {% elsif status.entity.fieldOperatingStatusFacility == 'closed' %}
                                        <span
                                            class="operating-status usa-alert usa-alert-error background-color-only vads-u-margin-top--0 vads-u-padding--1p5">
                                            <i class="fa fa-exclamation-circle"
                                                aria-hidden="true"></i> Facility
                                            Closed
                                        </span>
                                        {% endif %}

                                        {% if status.entity.fieldOperatingStatusMoreInfo %}
                                        <div class="vads-u-margin-top--1p5">
                                            {{ status.entity.fieldOperatingStatusMoreInfo }}
                                        </div>
                                        {% endif %}
                                    </div>
                                </dd>
                            </div>
                            {% endfor %}
                        </dl>
                    </section>
                    {% endif %}

                    {% if fieldLink.0.uri or fieldOperatingStatusEmergInf.value %}
                    <section id="emergency-resources"
                        class="emergency-resources clearfix">
                        <h2>Emergency information</h2>

                        {% if fieldOperatingStatusEmergInf.value %}
                        <div>{{ fieldOperatingStatusEmergInf.value }}</div>
                        {% endif %}
                        {% if fieldLinks.0.uri %}
                        <h3 class="vads-u-margin-top--3 vads-u-margin-bottom--2 ">Local emergency resources</h3>
                        {% for link in fieldLinks %}
                        <p><a href="{{ link.uri }}">{{ link.title }}</a></p>
                        {% endfor %}
                        {% endif %}
                    </section>
                    {% endif %}

                </article>
            </div>
        </div>
    </main>
</div>
{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
