{% include "src/site/includes/header.html" with drupalTags = true %}
{% include "src/site/includes/alerts.drupal.liquid" %}
{% include "src/site/includes/preview-edit.drupal.liquid" %}
{% include "src/site/includes/breadcrumbs.drupal.liquid" with
    customHomeCrumbText = "VA.gov home"
%}
<div class="interior" id="content">
  <main class="va-l-detail-page va-facility-page">
    <div class="usa-grid usa-grid-full">
      <div class="usa-width-three-fourths">
        <article class="usa-content va-l-facility-detail">
          {% if entityLabel != empty %}
            <h1>{{ entityLabel }}</h1>
          {% endif %}

          {% if fieldIntroText != empty %}
            <div class="va-introtext">
              <p>{{ fieldIntroText }}</p>
            </div>
          {% endif %}

          <nav id="table-of-contents">
              <h2 class="vads-u-margin-bottom--2 vads-u-font-size--lg">On this page</h2>
              <ul class="usa-unstyled-list"></ul>
          </nav>

          <h2 id="locations-and-contact-information" class="vads-u-line-height--1 vads-u-margin-bottom--3 vads-u-font-size--lg
          small-screen:vads-u-font-size--xl" >Locations and contact information</h2>

          <div class="region-list usa-grid usa-grid-full vads-u-display--flex vads-u-flex-direction--column
          small-screen:vads-u-flex-direction--row facility vads-u-margin-bottom--2p5 vads-u-margin-bottom--4">
              <div class="usa-width-two-thirds vads-u-display--block vads-u-width--full">

                  <div>
                      <div class="vads-c-facility-detail">
                          <section class="vads-facility-detail">
                                <h3 class="vads-u-font-size--lg vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">Main Location</h3>
                                <div class="vads-u-margin-bottom--3">
                                    <div>{{ fieldAddress.addressLine1 }}</div>
                                    {{ fieldAddress.locality }},
                                    {{ fieldAddress.administrativeArea }}
                                    {{ fieldAddress.postalCode }}
                                    <div><a
                                         href="https://maps.google.com?saddr=Current+Location&daddr={{ fieldAddress.addressLine1 }}, {{ fieldAddress.locality }}, {{ fieldAddress.postalCode }}"
                                         target="_blank" rel="noopener noreferrer">Directions
                                        </a>
                                    </div>
                                </div>
                                <h3 class="vads-u-font-size--lg vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">Direct line</h3>
                                <div class="vads-u-margin-bottom--3">
                                    <div class="main-phone vads-u-margin-bottom--1">
                                        </strong><a href="tel:{{ fieldPhoneNumber }}">{{ fieldPhoneNumber }}</a>
                                    </div>
                                </div>
                               <div class="vads-u-margin-bottom--3">
                                   <h3 class="vads-u-font-size--lg vads-u-margin-top--0 vads-u-line-height--1 vads-u-margin-bottom--1">Other locations</h3>
                                   <p>Vet Centers are community based to be more
                                       accessible in areas where you live.
                                       <a href="{{ entityUrl.path }}/locations">
                                           View more {{ entityLabel }} locations
                                       </a>
                                   </p>
                               </div>
                              {% include 'src/site/includes/vet_center_hours.liquid' with vetCenterHours = fieldOfficeHours %}
                          </section>
                      </div>
                  </div>
              </div>

              {% include "src/site/includes/image_and_static_map.liquid" with
                  facilityMedia = fieldMedia
                  facilityId = fieldFacilityLocatorApiId
              %}

          </div>

          <h2 id="prepare-for-your-visit" class="vads-u-margin-top--0 vads-u-font-size--lg
          small-screen:vads-u-font-size--xl vads-u-margin-bottom--2">Prepare for your visit</h2>

          <h2 id="counseling-services" class="vads-u-margin-top--0 vads-u-font-size--lg
          small-screen:vads-u-font-size--xl vads-u-margin-bottom--2">Counseling services</h2>

          <h2 id="referral-services" class="vads-u-margin-top--0 vads-u-font-size--lg
          small-screen:vads-u-font-size--xl vads-u-margin-bottom--2">Referral Services</h2>

          <h2 id="other-services" class="vads-u-margin-top--0 vads-u-font-size--lg
          small-screen:vads-u-font-size--xl vads-u-margin-bottom--2">Other services</h2>

          <h2 id="how-different-than-clinic" class="vads-u-margin-top--0 vads-u-font-size--lg
          small-screen:vads-u-font-size--xl vads-u-margin-bottom--2">How we're different than a clinic</h2>

        </article>
      </div>
    </div>
  </main>
    <!-- Back to Top -->
    {% include "src/site/components/up_to_top_button.html" %}
</div>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
