<nav id="va-detailpage-sidebar" class="usa-width-one-fourth va-sidebarnav">
    <div>

        <button class="va-btn-close-icon va-sidebarnav-close" type="button" aria-label="Close this menu"></button>

        {% for link in sidebar.links %}
            {% if forloop.first == true %}
                <div class="left-side-nav-title">
                    <i class="icon-small white hub-icon-{{ link.label }} hub-background-{{ link.label }}"></i>
                    <h4>{{ link.label }}</h4>
                </div>
                <ul class="usa-accordion">
                    {% for link in link.links %}
                        <li>
                            <button class="usa-accordion-button" aria-expanded="false" aria-controls="a{{ forloop.index }}">{{ link.label }}</button>
                            <div id="a{{ forloop.index }}" class="usa-accordion-content" aria-hidden="false">
                                <ul class="usa-sidenav-list">
                                    <li>
                                        <ul class="usa-sidenav-sub_list">
                                            {% for link in link.links %}
                                                <li>
                                                    <a href="{{ link.url.path }}" class="">{{ link.label }}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        {% endfor %}

    </div>
</nav>
