<div class="usa-accordion">
    <ul class="usa-unstyled-list">
        {% assign serviceTaxonomy = healthService.fieldServiceNameAndDescripti.entity %}
        <li>
            <button
                    class="usa-accordion-button usa-button-unstyled"
                    aria-expanded="false"
                    aria-controls="{{ serviceTaxonomy.entityBundle }}-{{ serviceTaxonomy.entityId }}"
            >
                {{ serviceTaxonomy.name }}
            </button>
            <div id="{{ serviceTaxonomy.entityBundle }}-{{ serviceTaxonomy.entityId }}" class="usa-accordion-content" aria-hidden="true">
                {% if serviceTaxonomy.description.processed  %}
                    <div>{{ serviceTaxonomy.description.processed }}</div>
                {% endif %}

                {% if healthService.fieldBody.processed %}
                    <div>{{ healthService.fieldBody.processed }}</div>
                {% endif %}

                {{ localServiceDescription }}

                <div data-widget-type="facility-appointment-wait-times-widget" data-facility="{{ fieldFacilityLocatorApiId | widgetFacilityDetail | escape }}" data-service="{{ serviceTaxonomy.name | escape }}"></div>

            </div>
        </li>
    </ul>
</div>
