<div data-template="facilities/facilities_health_service" class="usa-accordion-bordered">
    <ul class="usa-unstyled-list">
        {% assign serviceTaxonomy = healthService.fieldServiceNameAndDescripti.entity %}
        <li class="vads-u-margin-bottom--1">
            <button
                    class="usa-accordion-button usa-button-unstyled vads-u-padding-y--2 vads-u-padding-left--2p5 vads-u-line-height--4"
                    aria-expanded="false"
                    aria-controls="{{ serviceTaxonomy.entityBundle }}-{{ serviceTaxonomy.entityId }}"
            >
                {{ serviceTaxonomy.name }}
                {% if serviceTaxonomy.fieldAlsoKnownAs %}
                <p class="vads-u-font-weight--normal vads-u-margin--0">{{ serviceTaxonomy.fieldAlsoKnownAs }}</p>
                {% endif %}
            </button>
            <div id="{{ serviceTaxonomy.entityBundle }}-{{ serviceTaxonomy.entityId }}" class="usa-accordion-content" aria-hidden="true">
                {% if serviceTaxonomy.fieldCommonlyTreatedCondition %}<div class="vads-u-margin-bottom--2"><span class="vads-u-font-style--italic">Common conditions: </span>{{ serviceTaxonomy.fieldCommonlyTreatedCondition }}</div>{% endif %}

                {% if serviceTaxonomy.description.processed  %}<div>{{ serviceTaxonomy.description.processed }}</div>{% endif %}

                {% if abouts.0.entity %}
                    {% include "src/site/paragraphs/location_info.drupal.liquid" %}
                {% else %}
                    <div>{{ localServiceDescription }}</div>
                {% endif %}

                <div data-widget-type="facility-appointment-wait-times-widget" data-facility="{{ fieldFacilityLocatorApiId | widgetFacilityDetail | escape }}" data-service="{{ serviceTaxonomy | healthServiceApiId | escape }}"></div>

                {% if healthService.fieldBody.processed %}<div>{{ healthService.fieldBody.processed }}</div>{% endif %}
            </div>
        </li>
    </ul>
</div>
