<section data-template="facilities/facility_social_links" class="feature vads-u-background-color--gray-lightest vads-u-margin-top--4 small-screen:vads-u-margin-top--6 vads-u-padding-x--3 vads-u-padding-y--2p5">
    <h3 class="vads-u-margin-bottom--2">Get updates from {{ regionNickname }}</h3>
    <div class="va-c-list-link-teasers usa-grid usa-grid-full">

        {% if fieldGovdeliveryIdEmerg != empty or if fieldGovdeliveryIdNews != empty %}
            <div class="usa-width-one-half social-links">
                {% if fieldGovdeliveryIdNews != empty %}
                        <div class="social-links-email vads-u-margin-bottom--2">
                            <a class="vads-u-display--flex vads-u-align-items--baseline vads-u-text-decoration--none"
                                target="_blank" href="https://public.govdelivery.com/accounts/USVHA/subscriber/new?topic_id={{ fieldGovdeliveryIdNews }}">
                                <i class="fas fa-envelope vads-u-margin-right--1"></i>
                                <span class="vads-u-text-decoration--underline">Subscribe to
                                    {{ regionNickname }} news and announcements</span>
                            </a>
                        </div>
                {% endif %}

                {% if fieldGovdeliveryIdEmerg != empty %}
                        <div class="social-links-email vads-u-margin-bottom--2">
                            <a class="vads-u-display--flex vads-u-align-items--baseline vads-u-text-decoration--none" target="_blank" href="https://public.govdelivery.com/accounts/USVHA/subscriber/new?topic_id={{ fieldGovdeliveryIdEmerg }}">
                                <i class="fas fa-envelope vads-u-margin-right--1"></i>
                                <span class="vads-u-text-decoration--underline">Subscribe to {{ regionNickname }} emergency notifications</span>
                            </a>
                        </div>

                {% endif %}
                {% if fieldOperatingStatus.url.path %}
                        <div class="social-links-email vads-u-margin-bottom--2">
                            <a class="vads-u-display--flex vads-u-align-items--baseline vads-u-text-decoration--none"
                                target="_blank" href="{{ fieldOperatingStatus.url.path}}">
                                <i class="fas fa-dot-circle vads-u-margin-right--1"></i>
                                <span class="vads-u-text-decoration--underline">{{ regionNickname }} operating status</span>
                            </a>
                        </div>
                {% endif %}
            </div>
        {% endif %}

        {% if fieldFacebook != empty || fieldTwitter != empty || fieldFlickr != empty || fieldInstagram != empty %}
            <div class="usa-width-one-half social-links">
                <div class="">
                    {% if fieldFacebook != empty %}
                        <div class="social-links social-links-facebook vads-u-margin-bottom--2">
                            <a class="vads-u-display--flex vads-u-align-items--baseline vads-u-text-decoration--none" target="_blank" href="{{ fieldFacebook.url.path }}">
                                <i class="fab fa-facebook-square vads-u-margin-right--1"></i>
                                <span class="vads-u-text-decoration--underline">{{ fieldFacebook.title }}</span>
                            </a>
                        </div>
                    {% endif %}

                    {% if fieldTwitter != empty %}
                        <div class="social-links social-links-twitter vads-u-margin-bottom--2">
                            <a class="vads-u-display--flex vads-u-align-items--baseline vads-u-text-decoration--none" target="_blank" href="{{ fieldTwitter.url.path }}">
                                <i class="fab fa-twitter vads-u-text-decoration--none vads-u-margin-right--1"></i>
                                <span class="vads-u-text-decoration--underline">{{ fieldTwitter.title }}</span>
                            </a>
                        </div>
                    {% endif %}
                    {% if fieldFlickr != empty %}
                        <div class="social-links social-links-flickr vads-u-margin-bottom--2">
                            <a class="vads-u-display--flex vads-u-align-items--baseline vads-u-text-decoration--none" target="_blank" href="{{ fieldFlickr.url.path }}">
                                <i class="fab fa-flickr vads-u-text-decoration--none vads-u-margin-right--1"></i>
                                <span class="vads-u-text-decoration--underline">{{ fieldFlickr.title }}</span>
                            </a>
                        </div>
                    {% endif %}

                    {% if fieldInstagram != empty %}
                        <div class="social-links social-links-instagram vads-u-margin-bottom--2">
                            <a class="vads-u-display--flex vads-u-align-items--baseline vads-u-text-decoration--none" target="_blank" href="{{ fieldInstagram.url.path }}">
                                <i class="fab fa-instagram vads-u-text-decoration--none vads-u-margin-right--1"></i>
                                <span class="vads-u-text-decoration--underline">{{ fieldInstagram.title }}</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
