<div data-template="facilities/health_service" class="usa-accordion-bordered service-accordion-output">
    <ul class="usa-unstyled-list">
        {% assign serviceTaxonomy = healthService.fieldServiceNameAndDescripti.entity %}
        <li>
            <button
                    class="usa-accordion-button usa-button-unstyled"
                    aria-expanded="false"
                    aria-controls="{{ serviceTaxonomy.entityBundle }}-{{ serviceTaxonomy.entityId }}"
            >
                {{ serviceTaxonomy.name }}
                {% if serviceTaxonomy.fieldAlsoKnownAs %}
                    <p class="vads-u-font-weight--normal vads-u-margin--0">{{ serviceTaxonomy.fieldAlsoKnownAs }}</p>
                {% endif %}
            </button>
            <div id="{{ serviceTaxonomy.entityBundle }}-{{ serviceTaxonomy.entityId }}" class="usa-accordion-content" aria-hidden="true">
                {% if serviceTaxonomy.fieldCommonlyTreatedCondition %}<div class="vads-u-margin-bottom--2"><span class="vads-u-font-style--italic">Common conditions: </span>{{ serviceTaxonomy.fieldCommonlyTreatedCondition }}</div>{% endif %}
                {% if serviceTaxonomy.description.processed  %}
                    <div>{{ serviceTaxonomy.description.processed }}</div>
                {% endif %}

                {% if healthService.fieldLocalHealthCareService.length > 0 %}
                    <h3>Available at these {{ regionOrOffice }} locations</h3>
                    <ul class="usa-unstyled-list">
                        {% for location in healthService.fieldLocalHealthCareService %}
                            {% assign facility = location.entity.fieldFacilityLocation.entity %}
                            {% if facility != empty %}<li class="vads-u-margin-bottom--2">
                                <a href="{{ facility.entityUrl.path }}">{{ facility.title }}</a></li>{% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if healthService.fieldBody.processed %}
                    <div>{{ healthService.fieldBody.processed }}</div>
                {% endif %}
            </div>
        </li>
    </ul>
</div>
