{% comment %}
    @TODO:
    click analytics
{% endcomment %}

<div data-template="facilities/story_social_share" id="va-c-social-share" class="vads-u-margin-bottom--0p5 medium-screen:vads-u-margin-bottom--2">
    <ul class="usa-unstyled-list vads-u-display--flex">
        <li class="vads-u-margin-right--5 medium-screen:vads-u-margin-right--2p5">
            <a class="va-js-share-link" href="https://www.facebook.com/sharer/sharer.php?href={{ hostUrl }}{{ entityUrl.path }}">
                <i class="va-c-social-icon fab fa-facebook vads-u-margin-right--0p5"></i>Share on Facebook
            </a>
        </li>

        <li class="vads-u-flex--1">
            <a class="va-js-share-link" href="https://twitter.com/intent/tweet?text={{ title }}&url={{ hostUrl }}{{ entityUrl.path }}">
                <i class="va-c-social-icon fab fa-twitter vads-u-margin-right--0p5"></i>Share on Twitter
            </a>
        </li>
    </ul>
</div>
