{% include "src/site/includes/header.html" with drupalTags = true %}
<main data-template="layouts/home">

  <!-- the hub -->
  <section class="homepage-hub">

    <div class="homepage-hub-container">

      <h1 class="heading-level-2 homepage-heading">Access and manage your VA benefits and health care</h1>

      <!-- top row -->
      <div class="hub-links-row">
      {% for card in cards %}
        <div class="hub-links-container" data-e2e="bucket">
          <h2 class="heading-level-3 hub-links-title"><i class="icon-large-baseline icon-heading hub-icon-{{ card.label | downcase | replace: ' ', '-' }} hub-color-{{ card.label | downcase | replace: ' ', '-' }}"></i>{{ card.label }}</h2>
          <ul class="hub-links-list">
            {% for link in card.links %}
              <li>
                <a href="{{ link.url.path }}"
                  onclick="recordEvent({
                    event: 'nav-zone-one',
                    'nav-path': '->{% if link.url.path != empty %}{{ link.url.path }}{% else %}{{ link.label }}{% endif %}',
                  });"
                  >
                  {{ link.label }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        {% comment %} Close row and start new row after 2nd card. {% endcomment %}
        {% if forloop.index == 2 %}
        </div>
        <div class="hub-links-row">
        {% endif %}
      {% endfor %}
      </div>
    </div>

    {% include "src/site/includes/veteran-banner.html" %}

  </section>
  <!-- /the hub -->

  <section id="content">
    <section id="homepage-benefits">
      <div class="usa-grid usa-grid-full homepage-benefits-row">
      {% for hub in hubs %}
        <div class="usa-width-one-third" data-e2e="hub" data-entity-id="{{ hub.entity.entityId }}">
          <h3 class="heading-level-4"><a href="{{ hub.entity.entityUrl.path }}" onclick="recordEvent({ event: 'nav-linkslist' });"><i class="icon-small icon-heading hub-icon-{{ hub.entity.fieldTitleIcon }} hub-background-{{ hub.entity.fieldTitleIcon }} white"></i>{{ hub.entity.fieldHomePageHubLabel }}</a></h4>
          <p class="homepage-benefits-description">{{ hub.entity.fieldTeaserText }}</p>
        </div>
        {% comment %} Close this row and open a new one when needed. {% endcomment %}
        {% if hub.endRow and forloop.last != true %}
        </div>
        <div class="usa-grid usa-grid-full homepage-benefits-row">
        {% endif %}
      {% endfor %}
      </div>
    </section>

    <section id="homepage-popular">
      <div class="usa-grid usa-grid-full">
        <div class="usa-width-one-third">
          <a href="/find-locations/" onclick="recordEvent({ event: 'nav-main-health' });" class="homepage-button">
            <div class="icon-wrapper">
              <i class="fa fa-map-marker-alt homepage-button-icon"></i>
            </div>
            <!-- div required for alignment -->
            <div class="button-inner">
              <span>Find a VA health facility, regional office, or cemetery</span>
            </div>
          </a>
        </div>

        <div class="usa-width-one-third">
          <button onclick="recordEvent({ event: 'nav-main-vcl' });" class="homepage-button vcl va-overlay-trigger" data-show="#modal-crisisline">
            <div class="icon-wrapper vcl"></div>
            <div class="button-inner">
              <span>Talk to a Veterans Crisis Line responder now</span>
            </div>
          </button>
        </div>

        <div class="usa-width-one-third" id="myva-login">
          <button onclick="recordEvent({ event: 'nav-main-sign-in' });" class="homepage-button signin-signup-modal-trigger">
            <div class="icon-wrapper">
              <i class="fas fa-user-circle homepage-button-icon"></i>
            </div>
            <div class="button-inner">
              <span>Sign in or create an account to use more tools</span>
            </div>
          </button>
        </div>

      </div>
    </section>

    <!-- end triple column -->

  </div> <!-- end #content -->

  <section class="usa-grid usa-grid-full">
    <div class="va-h-ruled--stars"></div>
  </section>


  <section id="homepage-news">
    <div class="usa-grid usa-grid-full">
    {% comment %} Promos is an array of Drupal promo block entities. See /src/site/stages/build/drupal/home.js. {% endcomment %}
    {% for promo in promos %}
      <div data-entity-id="{{ promo.entity.entityId }}" class="usa-width-one-third homepage-news-story" data-e2e="news">
        <div class="homepage-image-wrapper">
          <img class="lazy" width="552" data-src="{{ promo.entity.fieldImage.entity.image.url }}" alt="{{ promo.entity.fieldImage.entity.image.alt }}"/>
        </div>
        <h4 class="homepage-news-story-title"><a class="no-external-icon" href="{{ promo.entity.fieldPromoLink.entity.fieldLink.uri }}"
          onClick="recordEvent({ event: 'nav-footer-news-story' });"/>{{ promo.entity.fieldPromoLink.entity.fieldLink.title }}</a></h4>
        <p class="homepage-news-story-desc">{{ promo.entity.fieldPromoLink.entity.fieldLinkSummary }}</p>
      </div>
      {% if hub.end_row == true and forloop.last != true %}
      </div>
      <div class="usa-grid usa-grid-full">
      {% endif %}
    {% endfor %}
    </div>
  </section>

</main>

{% include "src/site/includes/footer.html" %}
{% include "src/site/includes/debug.drupal.liquid" %}
